﻿.terminal { margin-bottom:20px; }
.terminal .log { border:1px solid #CCC; border-radius:3px; min-height:300px; overflow-y:scroll; margin-bottom:10px; }
.terminal .log .event { border:1px solid #BBB; padding:5px; display:flex; }
.terminal .log .event .time { font-size:1rem; flex:0; }
.terminal .log .event .content { padding-left:10px; flex:1; }
.terminal input { display:block; width:100%; margin-bottom:10px; padding:4px; border:1px solid #CCC; border-radius:3px; }
.terminal input[type="submit"] { padding:10px; font-weight:bold; border:0; }