﻿<div se-plugin="uwp_page_default">
    <div class="page_title">Inicio administrador</div>
	<div>
		<div class="page_sub_section" se-elem="deviceInfo">
			<div class="page_sub_title">Evento actual</div>
			<table class="st_dualtab">
				<tr><td>ID campo</td><td se-elem="id"></td></tr>
				<tr><td>Jugada</td><td se-elem="gsTitle"></td></tr>
				<tr><td>Campo</td><td se-elem="fTitle"></td></tr>
				<tr><td>Modo de Juego</td><td se-elem="gtTitle"></td></tr>
				<tr><td>Puntuación</td><td se-elem="type"></td></tr>
				<tr><td>Modo</td><td se-elem="serverMode"></td></tr>
			</table>
		</div>

		<div class="page_sub_section" data-type="isTournament" aria-hidden="false">
			<div class="page_sub_title">Partidas</div>
			<button class="gOMB btn blue wide" se-act="startTournament"><svg class="icon inline mr"><use xlink:href="#fa-flag" /></svg>Iniciar</button>
			<div se-elem="game_elements">
				<template>
					<div class="matchObj" data-status="!mStatus;">
						<div class="scoreBoard" se-elem="scoreboard">
							<div class="team home" data-side="!t1_side;">
								<div class="score">!t1_points;</div>
								<div class="title">!t1_name;</div>
								<div class="status">
									<svg class="icon inline" data-mode="win" data-status="!t1_status;"><use xlink:href="#fa-trophy" /></svg>
								</div>
							</div>
							<div class="mid">-</div>
							<div class="team visitor" data-side="!t2_side;">
								<div class="score">!t2_points;</div>
								<div class="title">!t2_name;</div>
								<div class="status">
									<svg class="icon inline" data-mode="win" data-status="!t2_status;"><use xlink:href="#fa-trophy" /></svg>
								</div>
							</div>
						</div>
						<div class="info">
							<div>
								<div># !mOrder;</div>
								<div>!ggTitle;</div>
								<div>!gsTitle;</div>
							</div>
							<div class="right">
								<div>!gTimeHour;</div>
								<div>!gTimeDay;</div>
							</div>
						</div>
					</div>
				</template>
				<div class="matchList" se-elem="content"></div>
			</div>
		</div>

		<div class="page_sub_section" data-type="isGame" aria-hidden="false">
			<div class="page_sub_title">Partidas jugadas</div>
			<div></div>
		</div>

		<div class="page_sub_section">
			<div class="page_sub_title">Acciones</div>
			<button class="gOMB btn blue wide" se-act="uploadInfo"><svg class="icon inline mr"><use xlink:href="#fa-upload" /></svg>Subir</button>
			<button class="gOMB btn red wide" se-act="downloadInfo"><svg class="icon inline mr"><use xlink:href="#fa-download" /></svg>Descargar</button>
			<button class="gOMB btn blue wide" se-act="fullscreen_on"><svg class="icon inline mr"><use xlink:href="#fa-expand" /></svg>Fullscreen On</button>
			<button class="gOMB btn blue wide" se-act="fullscreen_off"><svg class="icon inline mr"><use xlink:href="#fa-compress" /></svg>Fullscreen Off</button>
		</div>
	</div>
</div>