﻿<div id="page_device_bluetooth" se-plugin="uwp_page_device_bluetooth">
<style>
	.terminal { min-height:50vh; margin-bottom:40px; }
	.terminal .log { height:50vh; overflow:scroll; display:flex; gap:10px; flex-direction:column; border:1px solid #000; margin-bottom:20px; padding:10px; }
	.terminal .log .event { display:flex; gap:10px; flex-direction:row; }
	.terminal .log .event[data-type="in"] { background-color:#FFF0F0; }
	.terminal .log .event[data-type="out"] { background-color:#A7F3A7; }
	.terminal .log .event[data-type="in"] .time:before { content:'↓'; color:#F00; }
	.terminal .log .event[data-type="out"] .time:before { content:'↑'; color:#0F0; }
	.terminal .log .event .time { font-size:0.8em; color:#AAA; }
	.terminal .send { display:flex; gap:20px; flex-direction:row; }
	.terminal .send input[type="text"] { flex:1; }
	.menu { display:flex; gap:20px; flex-direction:column; }
</style>

    <div class="page_title">Bluetooth</div>

	<div class="terminal" se-elem="terminal">
		<template>
			<div class="event" data-type="!type;">
				<div class="time">!time;</div>
				<div class="content">!content;</div>
			</div>
		</template>
		<div class="log" se-elem="content"></div>
		<form class="send" se-elem="submit">
			<input type="text" name="content" required />
			<input type="submit" value="Enviar">
		</form>
	</div>
	<div class="menu">
		<button class="btn wide blue" se-act="connect"><svg class="icon inline mr"><use xlink:href="#fa-bluetooth" /></svg>Conectar</button>
		<button class="btn wide blue" se-act="sendConfig"><svg class="icon inline mr"><use xlink:href="#fa-sync" /></svg>Enviar configuración</button>
		<button class="btn wide blue" se-act="emulationStart"><svg class="icon inline mr"><use xlink:href="#fa-play" /></svg>Iniciar emulación</button>
		<button class="btn wide blue" se-act="emulationStop"><svg class="icon inline mr"><use xlink:href="#fa-stop" /></svg>Detener emulación</button>
	</div>
</div>