﻿<div se-plugin="uwp_page_device_webserial">
    <div class="page_title">Web Serial</div>
	<div class="terminal" se-elem="terminal">
		<template>
			<div class="event" data-type="!type;">
				<div class="time">!time;</div>
				<div class="content">!content;</div>
			</div>
		</template>
		<div class="log" se-elem="content"></div>
		<form se-elem="submit">
			<input type="text" name="content" required />
			<input type="submit" value="Enviar">
		</form>
	</div>
	<button class="btn wide blue" se-act="connect"><svg class="icon inline mr"><use xlink:href="#fa-usb" /></svg>Conectar</button>
</div>