﻿<div id="page_field_advanced" class="serverField" se-plugin="uwp_page_field_score_mobile" data-usertype="" data-type="" data-active="0" data-status="0" data-section="0">
	<div se-elem="navigation">
		<div class="page_title">Campo (Offline)</div>
	</div>

	<div se-elem="content">
		<!--
		<div>
			<div se-elem="timer">
				<div class="timeText">00:00</div>
				<div class="m_progress"><div class="bar" style="width:100%;"></div></div>
			</div>
			<div class="m_status" se-elem="status">
				<div><div class="status"></div></div>
				<div se-elem="text"></div>
				<div>S:<span se-elem="section_current">0</span>. TT:<span se-elem="timeText_total">0</span></div>
			</div>
		</div>
		-->

		<div class="se_tab vertical field_tab" se-plugin="simpleTab">
			<div role="tablist">
				<div><svg class="icon inline"><use xlink:href="#fa-info" /></svg></div>
				<div class="forAdmin"><svg class="icon inline"><use xlink:href="#fa-flag" /></svg></div>
				<div class="forAdmin"><svg class="icon inline"><use xlink:href="#fa-list-alt" /></svg></div>
			</div>
			<div se-elem="panelGroup">
				<div se-elem="info">
					<h2>Información</h2>
					<div class="gen_section">
						<div class="scoreBoard" se-elem="scoreboard">
							<div class="team home" data-side="0">
								<div se-elem="score" class="score">0</div>
								<div se-elem="title" class="title">HOME</div>
							</div>
							<div class="mid">-</div>
							<div class="team visitor" data-side="0">
								<div se-elem="score" class="score">0</div>
								<div se-elem="title" class="title">VISITOR</div>
							</div>
						</div>
					</div>
					<div>
						<table class="st_dualtab">
							<tr><td>Server Field Id</td><td se-elem="id">ID</td></tr>
							<tr><td>Modo de Juego</td><td se-elem="gtTitle">Game Mode</td></tr>
							<tr><td>Jugada</td><td se-elem="gsTitle">jugada</td></tr>
							<tr><td>Campo</td><td se-elem="fTitle">Campo</td></tr>
							<tr><td>Partida</td><td se-elem="cMatchIndex"># Partida</td></tr>
						</table>
					</div>
					<button class="btn blue wide gOMT" se-act="uploadScores"><svg class="icon inline mr"><use xlink:href="#fa-upload" /></svg>Subir scores</button>
				</div>
				<!-- <div se-elem="scores">
					<h2>Status</h2>
					<div class="admTimer_btns" se-elem="timerAct">
						<button class="green" se-act="m_start"><svg class="icon inline"><use xlink:href="#fa-play" /></svg></button>
						<button class="red" se-act="m_stop"><svg class="icon inline"><use xlink:href="#fa-stop" /></svg></button>
						<button class="blue" se-act="m_reset"><svg class="icon inline"><use xlink:href="#fa-step-backward" /></svg></button>
						<button class="blue blue" se-act="m_next"><svg class="icon inline"><use xlink:href="#fa-fast-forward" /></svg></button>
					</div>
				</div> -->
				<div se-elem="matchOps">
					<h2>Match</h2>
					<details se-elem="sides">
						<summary>Lados</summary>
						<form class="se_form match_pickside" se-elem="pickSide">
							<input type="hidden" name="index" value="" />
							<table class="se_table wide border gOMB">
								<thead>
									<tr><th>Equipo</th><th class="elementSide" data-side="1">Azul</th><th class="elementSide" data-side="2">Rojo</th></tr>
								</thead>
								<tbody>
									<tr>
										<td se-elem="t1_name"></td>
										<td><input type="radio" name="t1_side" value="1" required/></td>
										<td><input type="radio" name="t1_side" value="2" required/></td>
									</tr>
									<tr>
										<td se-elem="t2_name"></td>
										<td><input type="radio" name="t2_side" value="1" required/></td>
										<td><input type="radio" name="t2_side" value="2" required/></td>
									</tr>
								</tbody>
							</table>

							<button type="submit" class="btn blue wide">
								<svg class="icon inline mr"><use xlink:href="#fa-check" /></svg> Aceptar
							</button>

							<output se-elem="output"></output>
						</form>
					</details>

					<details se-elem="scores">
						<summary>Puntuación</summary>
						<form se-elem="scoreForm">
							<table class="scoreTable">
								<template>
									<tr>
										<td>!pointTitle;<br/>(!pointValue; - Max:!pointMax;)</td>
										<td>
											<input type="number" name="point[1][!pointId;]" value="0" min="0" max="!pointMax;" data-value="!pointValue;" />
											<input type="text" value="0" data-side="1" disabled />
											<div>
												<button class="btn blue" se-act="n_down"><svg class="icon inline"><use xlink:href="#fa-minus" /></svg></button>
												<button class="btn blue" se-act="n_up"><svg class="icon inline"><use xlink:href="#fa-plus" /></svg></button>
											</div>
										</td>
										<td>
											<input type="number" name="point[2][!pointId;]" value="0" min="0" max="!pointMax;" data-value="!pointValue;" />
											<input type="text" value="0" data-side="2" disabled />
											<div>
												<button class="btn blue" se-act="n_down"><svg class="icon inline"><use xlink:href="#fa-minus" /></svg></button>
												<button class="btn blue" se-act="n_up"><svg class="icon inline"><use xlink:href="#fa-plus" /></svg></button>
											</div>
										</td>
									</tr>
								</template>
								<thead>
									<tr><th></th><th class="elementSide" data-side="1"></th><th class="elementSide" data-side="2"></th></tr>
								</thead>
								<tbody></tbody>
								<tfoot>
									<tr><td>TOTAL</td><td data-side="1">0</td><td data-side="2">0</td></tr>
								</tfoot>
							</table>
							<button type="submit" class="btn blue wide gOMB"><svg class="icon inline mr"><use xlink:href="#fa-save" /></svg>Guardar</button>
							<output se-elem="response"></output>
							<button se-elem="nextButton" style="display:none;" class="btn blue wide" se-act="m_next"><svg class="icon inline"><use xlink:href="#fa-fast-forward" /></svg></button>
						</form>
					</details>
				</div>
				<div se-elem="matchesList">
					<h2>Partidas en el campo</h2>
					<div se-elem="matches">
						<template se-elem="template">
							<div class="matchObj" data-status="!mStatus;" data-index="!index;">
								<div class="scoreBoard" se-elem="scoreboard">
									<div class="team home" data-side="!t1_side;">
										<div class="score">!t1_points;</div>
										<div class="title">!t1_name;</div>
										<div class="status">
											<svg class="icon inline" data-mode="win" data-status="!t1_status;"><use xlink:href="#fa-trophy" /></svg>
										</div>
									</div>
									<div class="mid">-</div>
									<div class="team visitor" data-side="!t2_side;">
										<div class="score">!t2_points;</div>
										<div class="title">!t2_name;</div>
										<div class="status">
											<svg class="icon inline" data-mode="win" data-status="!t2_status;"><use xlink:href="#fa-trophy" /></svg>
										</div>
									</div>
								</div>
								<div class="info">
									<div>
										<div># !mOrder;</div>
										<div>!ggTitle;</div>
										<div>!gsTitle;</div>
									</div>
									<div class="right">
										<div>!gTimeHour;</div>
										<div>!gTimeDay;</div>
									</div>
								</div>
							</div>
						</template>
						<div se-elem="content" class="matchList"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>