﻿<div id="page_field_dynamic_server" class="serverField" se-plugin="uwp_page_field_dynamic_server" data-usertype="" data-type="" data-active="0" data-status="0" data-section="0">
	<div se-elem="navigation">
		<div class="page_title">Campo - Dinámico Online</div>
	</div>

	<div se-elem="content">
		<div>
			<div se-elem="timer">
				<div class="timeText">00:00</div>
				<div class="m_progress"><div class="bar" style="width:100%;"></div></div>
			</div>
			<div class="m_status" se-elem="status">
				<div><div class="status"></div></div>
				<div se-elem="text"></div>
				<div>S:<span se-elem="section_current">0</span>. TT:<span se-elem="timeText_total">0</span></div>
			</div>
		</div>

		<div class="se_tab vertical field_tab" se-plugin="simpleTab">
			<div role="tablist">
				<div><svg class="icon inline"><use xlink:href="#fa-home" /></svg></div>
				<div><svg class="icon inline"><use xlink:href="#fa-clock-o" /></svg></div>
				<div><svg class="icon inline"><use xlink:href="#fa-info" /></svg></div>
				<div class="forAdmin"><svg class="icon inline"><use xlink:href="#fa-flag" /></svg></div>
				<div class="forAdmin"><svg class="icon inline"><use xlink:href="#fa-list-alt" /></svg></div>
				<div class="forAdmin"><svg class="icon inline"><use xlink:href="#fa-gears" /></svg></div>
			</div>
			<div se-elem="panelGroup">
				<div se-elem="data">
					<h2>Condiciones</h2>
					<div>
						<div class="gen_section">
							<h3>Score</h3>
							<div class="scoreBoard" se-elem="scoreboard">
							<div class="team home" data-side="1">
								<div se-score="1" class="score">0</div>
								<div se-team="1" class="title">TEAM 1</div>
							</div>
							<div class="mid">-</div>
							<div class="team visitor" data-side="2">
								<div se-score="2" class="score">0</div>
								<div se-team="2" class="title">TEAM 2</div>
							</div>
						</div>
						</div>

						<div class="gen_section">
							<h3>Campo</h3>
							<div se-elem="map">
							<template>
								<svg data-oid="!id;" class="mapIcon" data-active="!active;" data-side="!side;" data-status="!status;" title="!title;" style="--mapx:!mapx;%;--mapy:!mapy;%;"><use xlink:href="#!mapicon;" /></svg>
							</template>
							<div class="map_field" se-elem="content"></div>
						</div>
						</div>

						<div class="gen_section">
							<h3>Condiciones</h3>
							<div se-elem="conditions_usr">
							<template se-elem="boolean">
								<label class="onoffswitch" data-index="!index;" data-type="boolean">
							<span class="text">
								<span class="title">!title;</span>
							</span>
									<span class="switch">
								<input type="checkbox" class="cb" data-index="!index;" name="notifications" />
								<span class="display"></span>
							</span>
								</label>
							</template>
							<template se-elem="number">
								<label class="onoffswitch" data-index="!index;" data-type="number">
							<span class="text">
								<span class="title">!title;</span>
							</span>
									<span class="switch">
								<input type="checkbox" class="cb" name="notifications" />
								<span class="display"></span>
							</span>
								</label>
							</template>
							<div se-elem="content"></div>
						</div>
						</div>
					</div>
				</div>
				<div se-elem="events">
					<dialog se-elem="eventEdit">
						<h2>Editar evento</h2>
						<form class="se_form" method="dialog">
							<input type="hidden" name="id" value="" />
							<div class="separator required">
								<label>
									<div class="cont"><span class="title">ID Jugador</span><span class="desc"></span></div>
									<input type="number" name="devUser" />
								</label>
							</div>
							<button type="submit" class="btn blue wide"><svg class="icon inline mr"><use xlink:href="#fa-check" /></svg> Actualizar</button>
							<button type="button" class="btn wide" se-act="eventUpdCancel"><svg class="icon inline mr"><use xlink:href="#fa-remove" /></svg> Cancelar</button>
							<output se-elem="output"></output>
						</form>
					</dialog>
					<h2>Eventos</h2>
					<div class="grid">
						<div class="ev_tl" se-elem="chronicle">
							<div class="top">
								<div class="ini">00:00</div>
								<div class="seps"></div>
								<div class="end"></div>
							</div>
							<div class="rTotal"><div class="rAdv"></div></div>
							<template>
								<div se-id="!id;" class="marker" data-type="!type;" data-side="!side;" style="--reltime:!relTime;%">
									<div class="tip"></div>
									<div class="index">!id;</div>
								</div>
							</template>
							<div class="ev_tl_m" se-elem="content">
							</div>
							<div class="sections">
								<div class="automatic"></div>
								<div class="seleted"></div>
								<div class="team01"></div>
								<div class="team02"></div>
							</div>
						</div>
						<div se-elem="ev_list">
							<table class="se_table wide alternate selectable border matchEvents">
								<template>
									<tr data-status="!id;" data-type="!type;">
										<td>!id;</td>
										<td>!timeText;</td>
										<td>!dataContent;</td>
										<td>
											<button class="btn wide blue" se-act="actionEdit"><svg class="icon inline"><use xlink:href="#fa-pencil" /></svg></button>
											<button class="btn wide red" se-act="actionDel"><svg class="icon inline"><use xlink:href="#fa-trash-o" /></svg></button>
										</td>
									</tr>
								</template>
								<thead>
								<tr class="titles">
									<th>#</th>
									<th>Tiempo</th>
									<th>Información</th>
									<th>Ops</th>
								</tr>
								</thead>
								<tbody se-elem="content"></tbody>
							</table>

						</div>
					</div>
				</div>
				<div se-elem="info">
					<h2>Información</h2>
					<div>
						<h3>Score</h3>
						<table class="st_dualtab">
							<tr>
								<td>ID</td>
								<td se-elem-replace="id">ID</td>
							</tr>
							<tr>
								<td>Modalidad</td>
								<td se-elem-replace="gtTitle">Game Mode</td>
							</tr>
							<tr>
								<td>Jugada</td>
								<td se-elem-replace="gTitle">jugada</td>
							</tr>
							<tr>
								<td>Partida</td>
								<td se-elem-replace="cMatchIndex"># Partida</td>
							</tr>
							<tr>
								<td>Campo</td>
								<td se-elem-replace="fTitle">Campo</td>
							</tr>
						</table>
					</div>
				</div>
				<div se-elem="actionsAdd">
					<h2>Acciones</h2>

					<div class="gen_section" style="display:none;">
						<h3>Por voz</h3>
						<button class="btn wide blue" se-act="voice"><svg class="icon inline mr"><use xlink:href="#fa-microphone" /></svg>Comando por voz</button>
					</div>

					<div class="gen_section">
						<h3>Partida</h3>
						<div class="admTimer_btns" se-elem="timerAct">
							<button class="green" se-act="m_start"><svg class="icon inline"><use xlink:href="#fa-play" /></svg></button>
							<button class="red" se-act="m_stop"><svg class="icon inline"><use xlink:href="#fa-stop" /></svg></button>
							<button class="blue" se-act="m_reset"><svg class="icon inline"><use xlink:href="#fa-step-backward" /></svg></button>
							<button class="blue" se-act="m_next"><svg class="icon inline"><use xlink:href="#fa-fast-forward" /></svg></button>
						</div>
					</div>

					<div class="gen_section">
						<h3>Modificar objeto</h3>
						<form class="actionCreate" se-elem="actions">
							<button se-act="act_add_init" class="btn blue wide gOMB"><svg class="icon inline mr"><use xlink:href="#fa-plus" /></svg>Agregar</button>
							<button se-act="act_add_cancel" class="btn red wide"><svg class="icon inline mr"><use xlink:href="#fa-remove" /></svg>Cancel</button>
							<div class="grid">
								<div data-step="0" aria-hidden="true">
									<h4>Dispositivos</h4>
									<div class="property" se-elem="devices">
										<input type="hidden" name="deviceId" />
										<template>
											<div class="object device" data-id="!id;" data-type="!type;" data-active="!active;" data-side="!side;" data-status="!status;"><svg class="icon inline mr"><use xlink:href="#!icon;" /></svg><span>!title;</span></div>
										</template>
										<div se-elem="content"></div>
									</div>
								</div>
								<div data-step="1" aria-hidden="true">
									<h4>Seleccionado</h4>
									<div class="object device" se-act="act_device_sel" data-id="!id;" data-type="!type;" data-active="!active;" data-side="!side;" data-status="!status;"><svg class="icon inline mr"><use xlink:href="#!icon;" /></svg><span>!title;</span></div>
									<h4>Acción</h4>
									<div class="property" se-elem="side">
										<input type="hidden" name="side" />
										<div class="object action" data-side="1">Azul</div>
										<div class="object action" data-side="2">Rojo</div>
									</div>
								</div>
								<div data-step="2" aria-hidden="true">
									<h4>Confirmar</h4>
									<div class="object device" se-act="act_device_sel" data-id="!id;" data-type="!type;" data-active="!active;" data-side="!side;" data-status="!status;"><svg class="icon inline mr"><use xlink:href="#!icon;" /></svg><span>!title;</span></div>
									<div class="object action" data-side="0"></div>
									<button type="submit" class="btn blue wide"><svg class="icon inline mr"><use xlink:href="#fa-plus" /></svg> Crear</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div se-elem="gameStatus">
					<h2>Status</h2>
					<div>
						<template se-elem="boolean">
							<label class="onoffswitch" data-index="!index;" data-type="boolean">
							<span class="text">
								<span class="title">!title;</span>
							</span>
								<span class="switch">
								<input type="checkbox" class="cb" data-index="!index;" name="notifications" />
								<span class="display"></span>
							</span>
							</label>
						</template>
						<template se-elem="number">
							<label class="onoffswitch" data-index="!index;" data-type="number">
							<span class="text">
								<span class="title">!title;</span>
							</span>
								<span class="switch">
								<input type="checkbox" class="cb" name="notifications" />
								<span class="display"></span>
							</span>
							</label>
						</template>
						<div se-elem="content"></div>
					</div>
				</div>
				<div se-elem="options">
					<h2>Configuración</h2>
					<div></div>
				</div>
			</div>
		</div>
	</div>
</div>