﻿/* Chat */
.vp_chat_system { display:flex; justify-content:space-between; position:fixed; bottom:0; background-color:#EEE; width:100%; padding:10px; border-top:2px solid #AAA; }
.vp_chat_system .audio { display:flex; }
.vp_chat_system .chat { }
.vp_chat_system .chat_status { display:inline-block; margin-right:20px; border-radius:50%; height:20px; width:20px; background-color:#DDD; }
.vp_chat_system[data-status="0"] .chat_status { background-color:#710000; }
.vp_chat_system[data-status="1"] .chat_status { background-color:#EF413A; }
.vp_chat_system[data-status="2"] .chat_status { background-color:#EDEF5E; animation:blink 1s step-end infinite alternate; }
.vp_chat_system[data-status="3"] .chat_status { background-color:#008505; animation:blink 1s step-end infinite alternate; }
.vp_chat_system[data-status="4"] .chat_status { background-color:#008505; }

.vp_chat_system .audio_elem[data-status="0"] svg { fill:#888; }
.vp_chat_system .audio_elem[data-status="1"] svg { fill:#888; }
.vp_chat_system .audio_elem[data-status="2"] svg { fill:#000; }

/**/
.vp_chat_system .menu button { padding:10px; margin-left:10px; border-radius:4px; font-weight:bold; }
.vp_chat_system .menu button:disabled { cursor:not-allowed; }
.vp_chat_system .menu button:first-child { margin-left:0; }
.vp_chat_system .menu button.red { background-color:#EE4839; color:#FFF; }
.vp_chat_system .menu button.red:disabled { background-color:#B6392D; color:#DDD; }
.vp_chat_system .menu button.green { background-color:#5FE052; color:#FFF; }
.vp_chat_system .menu button.green:disabled { background-color:#4DAD42; color:#DDD; }

.chat_sys { display:flex; width:100%; flex-direction:column; height:100%; min-height:300px; border:1px solid #CCC; }
.chat_data { padding:10px; background-color:#F5F5F5; border-bottom:1px solid #CCC; font-weight:bold; }
.chat_cont { flex:1; background-color:#F2F6DD; border-bottom:1px solid #CCC; padding:10px; }
.chat_new { background-color:#EEE; padding:10px; display:flex; }
.chat_new textarea { flex:1; border-radius:3px; padding:5px; border:1px solid #CCC; }
.chat_cont .message { border-radius:10px; padding:8px; display:flex; margin-bottom:10px; max-width:80%; align-items:flex-end; box-shadow:1px 2px 3px -1px rgba(0,0,0,0.75) }
.chat_cont .message .content { flex:1; white-space:pre-wrap; }
.chat_cont .message .time { font-size:1.2rem; color:#666; margin-left:10px; }
.chat_cont .message[data-side="1"] { background-color:#242587; color:#FFF; border-bottom-right-radius:0; margin-left:auto; }
.chat_cont .message[data-side="1"]:after { font-size:1.1rem; margin-left:10px; }
.chat_cont .message[data-side="1"][data-status="0"]:after { content:'🕛'; }
.chat_cont .message[data-side="1"][data-status="1"]:after { content:'✓'; }
.chat_cont .message[data-side="1"][data-status="2"]:after { content:'✓✓'; }
.chat_cont .message[data-side="2"] { background-color:#FFF; color:#333; border-bottom-left-radius:0; }

/* */
.audio_recorder .head { display:flex; align-items:center; }
.audio_recorder input[type="checkbox"] { display:none; }
.audio_recorder .menu { flex:1; margin-right:15px; }
.audio_recorder button { background-color:#EEE; color:#000; padding:6px; display:inline-block; border-radius:2px; margin-bottom:10px; }
.audio_recorder button:disabled { background-color:#CCC; cursor:not-allowed; }
.audio_recorder .audio_elem { margin-right:15px; }
.audio_recorder .record_timer { font-weight:bold; }
.audio_recorder .record_indicator { display:inline-block; margin-right:10px; border-radius:50%; background-color:#600; width:25px; height:25px; }
.audio_recorder .record_indicator.on { background-color:#F00; box-shadow:0 0 5px 1px rgba(245,59,59,1); }
.audio_recorder[data-status="1"] .record_indicator { background-color:#000; }
.audio_recorder .audio_place { margin-bottom:10px; }
.audio_recorder .uploadData { margin-bottom:10px; display:none; }
.audio_recorder .uploadData .bar_container { width:100%; border-radius:3px; background-color:#EEE; padding:2px; border:1px solid #333; }
.audio_recorder .uploadData .bar_content { height:3px; background-color:#59EE38; border-radius:3px; width:0; }
.audio_recorder[data-status="1"] .bar_content { background-color:#00ACEE; }
.audio_recorder .uploadData .data { color:#666; font-size:1.2rem; text-align:right; }
.audio_recorder .loadBar {}
.audio_recorder .recordingEnd { display:none; }
.audio_recorder .audio_data { padding-right:10px; border-right:5px solid #E6E143; }
.audio_recorder input:invalid + .audio_data { border-right-color:#900; }
.audio_recorder[data-status="1"] .audio_data { border-right-color:#090; }
