﻿html { font-size:10px; }

body {
/* Uncomment this to enable scrolling and zooming
touch-action:manipulation;
*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.6rem;
	--color-side-01-main:#1D37FF;
	--color-side-01-high:#3c72ff;
	--color-side-01-inactive:#131c58;
	--color-side-02-main:#FF8334;
	--color-side-02-high:#ff9b2f;
	--color-side-02-inactive:#c2612a;
}

h1,h2,h3,h4,h5,h6 { font-family:Verdana, Geneva, sans-serif; margin-bottom:10px; }

#app_main { display:flex; flex-direction:row; min-height:100vh; }
/* */
#app_content { display:flex; flex:1; flex-direction:column; }
#app_header { display:flex; flex-direction:row; justify-content:space-between; background-color:#444; color:#FFF; height:50px; }

#app_footer { padding:10px; background-color:#F5F5F5; }
#app_body { flex:1; padding:10px 10px 60px 10px; }

.page_content { padding:10px; }
.testStile { background-color:#ff0000; }
.page_title { padding-bottom:10px; font-size:2.0rem; font-weight:bold; }


.topnav_icon { display:block; }
.topnav_icon svg { max-height:100%; width:auto; }

.topnav { position:relative; background:#E5E5E5; color:#111; font-size:1.2rem; }
.topnav_menu { display:flex; }
.topnav_menu_title { color:#BBB; padding:8px 5px; }
.topnav_menu_parent { position:relative; color:#BBB; }
.topnav_menu_button { display:block; height:100%; cursor:pointer; font-weight:bold; }
.topnav_menu_button .icon { display:inline-block; width:20px; height:20px; }
.topnav_menu_button .text, .topnav_menu_button a { display:flex; align-items:center; height:100%; padding:0 15px; color:#EEE; font-size:1.4rem; }
.topnav_menu_button .text::after { content:'▼'; margin-left:5px; }
.topnav_menu_button:hover { background:#555; }
.topnav_menu_hidden { position:absolute; left:0; z-index:1000; display:none; min-width:150px; width:auto; border:3px solid #555; border-top:0; background:#FFF; color:#444; }
.topnav_menu_hidden a { cursor:pointer; color:#333; display:block; padding:15px 10px; font-size:1.5rem; }
.topnav_menu_hidden a:hover { background:#DDD; }
.topnav_menu_parent:hover .topnav_menu_hidden { display:flex; flex-direction:column; }

.section + .section { margin-top:20px; }

.se_menu_top a { cursor:pointer; }

/* */
#app_header button[se-nav-uwp]:hover { background-color:#DDD; }

/* */
.btn.complex { display:flex; }
.btn.complex .icon { display:flex; align-items:center; justify-content:center; border-radius:50%; height:50px; width:50px; font-size:2.0rem; background-color:#777; color:#fff; }
.btn.complex .icon svg { display:inline-block; fill:currentColor; height:60%; width:60%; }
.btn.complex .text { display:block; text-align:left; margin-left:10px; flex:1; }
.btn.complex .title { display:block; font-weight:bold; margin-bottom:5px; }
.btn.complex .desc { display:block; font-size:1.4rem; }

/* */
.btn.complex.red .icon { background-color:#ff2c33; }
.btn.red, .btn.red:visited { color:#FFF; background-color:#ff5050; border:0; }
.btn.red:hover { background-color:#ff6250; }
.btn.complex.green .icon { background-color:#26d538; }
.btn.green, .btn.green:visited { color:#FFF; background-color:#4ad54a; border:0; }
.btn.green:hover { background-color:#30d530; }
.btn.complex.blue .icon { background-color:#1a65fd; }
.btn.blue, .btn.blue:visited { color:#FFF; background-color:#3778fd; border:0; }
.btn.blue:hover { background-color:#5A96FF; }
.btn.blue:disabled { background-color:#687184; }
.btn.blue:disabled:hover { background-color:#727B8F; }

/* */
.btn.simple { box-shadow:none; }
.btn.small { padding:3px 7px; }
.btn.big { display:block; padding:10px; font-weight:bold; box-sizing:border-box; width:100%; text-align:left; }
.btn.big + .btn.big { margin-top:10px; }
.btn.wide { display:block; width:100%; padding:0.8em; }

/* onoffswitch */
.onoffswitch { display:flex; margin-bottom:5px; padding:5px 0; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; }
.onoffswitch .text { flex:1; margin-right:20px; }
.onoffswitch .text .title { font-weight:bold; display:block; }
.onoffswitch .text .desc { font-size:1.4rem; }
.onoffswitch .switch { position:relative; width:50px; }
.onoffswitch .cb { display:none; }
.onoffswitch .display { display:block; overflow:hidden; height:20px; padding:0; line-height:30px; border:2px solid #999999; border-radius:20px; background-color:#EEE; transition:background-color 0.3s ease-in;}
.onoffswitch .display:before { content:""; display:block; width:20px; height:20px; margin:0; background:#FFFFFF; position:absolute; top:0; bottom:0; right:26px; border:2px solid #999999; border-radius:20px; transition:all 0.3s ease-in 0s; }
.onoffswitch .cb:checked + .display { background-color:#34A7C1; }
.onoffswitch .cb:checked + .display, .onoffswitch .cb:checked + .display:before { border-color:#34A7C1; }
.onoffswitch .cb:checked + .display:before { right:0; }

/* */
div[se-elem="navigation"][aria-hidden="true"] { display:none; }

/*

Game specific


*/
.objList {}
.objList > * { display:block; border-radius:3px; padding:10px; margin-bottom:10px; font-weight:bold; background-color:#EEE; }
.objList > *:hover { background-color:#DDD; }

/* */
.matchRow > td:first-child { border-left:solid 6px #CCC; }

.matchRow[data-status="0"] > td:first-child { border-left-color:#EE4A47; }
.matchRow[data-status="0"]:nth-child(odd) > td { background-color:#FFF0F0; }
.matchRow[data-status="0"]:nth-child(even) > td { background-color:#FFC8C8; }
.matchRow[data-status="1"] > td:first-child { border-left-color:#32EE5D; }
.matchRow[data-status="2"] > td:first-child { border-left-color:#E7EE68; }
.matchRow[data-status="2"]:nth-child(odd) > td { background-color:#FFFFD0 !important; }
.matchRow[data-status="2"]:nth-child(even) > td { background-color:#FFFFA0 !important; }
.matchRow[data-status="3"] > td:first-child { border-left-color:#00ACEE; }
.matchRow[data-status="3"]:nth-child(odd) > td { background-color:#CEFFFF !important; }
.matchRow[data-status="3"]:nth-child(even) > td { background-color:#A0E5FF !important; }
.matchRow[data-status="4"] > td:first-child { border-left-color:#2E5CFF; }
.matchRow[data-status="4"]:nth-child(odd) > td { background-color:#E6E6FF !important; }
.matchRow[data-status="4"]:nth-child(even) > td { background-color:#D8D8FF !important; }

.matchRow svg[data-mode="side"][data-status="0"] { color:#CCC; }
.matchRow svg[data-mode="side"][data-status="1"] { color:var(--color-side-01-main); }
.matchRow svg[data-mode="side"][data-status="2"] { color:var(--color-side-02-main); }

.matchRow svg[data-mode="win"][data-status="0"] { color:#EFEFEF; }
.matchRow svg[data-mode="win"][data-status="1"] { color:#C6C6C6; }
.matchRow svg[data-mode="win"][data-status="2"] { color:#9FA255; }
.matchRow svg[data-mode="win"][data-status="3"] { color:#DDC74F; }

.matchStatus { display:flex; flex-direction:column; }
.matchStatus input[type="radio"] { display:none; }
.matchStatus div { border-left:10px solid #EEE; background-color:#EEE; cursor:pointer; padding:5px; }
.matchStatus div[data-type="0"] { border-color:#900; }
.matchStatus div[data-type="1"] { border-color:#3C9933; }
.matchStatus div[data-type="2"] { border-color:#E2E056; }
.matchStatus div[data-type="3"] { border-color:#3296AE; }
.matchStatus div[data-type="4"] { border-color:#000A99; }
.matchStatus label:hover > div { background-color:#DDD; }
.matchStatus input[type="radio"]:checked + div { background-color:#DDD; }


.teamSide { display:flex; }
.teamSide input[type="radio"] { display:none; }
.teamSide div { background-color:#EEE; cursor:pointer; padding:10px; border-radius:3px; }
.teamSide div[data-type="0"] { color:#BBB; }
.teamSide div[data-type="1"] { color:var(--color-side-01-main); }
.teamSide div[data-type="2"] { color:var(--color-side-02-main); }
.teamSide label:hover > div { background-color:#DDD; }
.teamSide input[type="radio"]:checked + div { background-color:#DDD; }


.winStatus { display:flex; }
.winStatus input[type="radio"] { display:none; }
.winStatus div { background-color:#EEE; cursor:pointer; padding:10px; border-radius:3px; }
.winStatus div[data-type="0"] { color:#EFEFEF; }
.winStatus div[data-type="1"] { color:#7E7E7E; }
.winStatus div[data-type="2"] { color:#9FA255; }
.winStatus div[data-type="3"] { color:#E1E273; }
.winStatus label:hover > div { background-color:#DDD; }
.winStatus input[type="radio"]:checked + div { background-color:#DDD; }

/* */
.actionCreate {}
.actionCreate .objectList { display:flex; flex-direction:column; gap:10px; }
.actionCreate .object { font-weight:bold; padding:10px; border-radius:3px; background-color:#EEE; cursor:pointer; color:#222; }
.actionCreate .object[aria-hidden="true"] { display:none; }
.actionCreate .object:hover, .actionCreate .object[aria-selected="true"] { background-color:#CCC; }
/* Device */
.actionCreate .object.device[data-side="1"] svg {color:var(--color-side-01-main); }
.actionCreate .object.device[data-side="1"]:hover svg, .actionCreate .object.device[data-side="1"][aria-selected="true"] svg { color:var(--color-side-01-high); }
.actionCreate .object.device[data-side="2"] svg { color:var(--color-side-02-main);}
.actionCreate .object.device[data-side="2"]:hover svg, .actionCreate .object.device[data-side="2"][aria-selected="true"] svg { color:var(--color-side-02-high); }
.actionCreate .object.device[data-active="0"], .actionCreate .object.device[data-active="0"]:hover { background-color:#BBB !important; cursor:not-allowed; }
/* Side */
.actionCreate .object.side[data-side="1"] { background-color:var(--color-side-01-main); color:#FFF; }
.actionCreate .object.side[data-side="1"]:hover, .actionCreate .object.side[data-side="1"][aria-selected="true"] { background-color:var(--color-side-01-high); color:#FFF; }
.actionCreate .object.side[data-side="2"] { background-color:var(--color-side-02-main); color:#FFF; }
.actionCreate .object.side[data-side="2"]:hover, .actionCreate .object.side[data-side="2"][aria-selected="true"] { background-color:var(--color-side-02-high); color:#FFF; }
/* Status */
.actionCreate .object.status[data-status="0"] { background-color:#510000; color:#FFF; }
.actionCreate .object.status[data-status="0"]:hover, .actionCreate .object.status[data-status="0"][aria-selected="true"] { background-color:#ab0000; color:#FFF; }
.actionCreate .object.status[data-status="1"] { background-color:#90891c; color:#FFF; }
.actionCreate .object.status[data-status="1"]:hover, .actionCreate .object.status[data-status="1"][aria-selected="true"] { background-color:#e2d62c; color:#FFF; }
.actionCreate .object.status[data-status="2"] { background-color:#005200; color:#FFF; }
.actionCreate .object.status[data-status="2"]:hover, .actionCreate .object.status[data-status="2"][aria-selected="true"] { background-color:#009500; color:#FFF; }
/* */
.actionCreate input, .actionCreate select { width:100%; }
.actionCreate div[se-elem="time"] { display:flex; }
.actionCreate div[se-elem="time"] input { margin:0; }
.actionCreate div[se-elem="time"] input[name="timeTxt"] { margin-left:10px; width:60px; }
.actionCreate .property { margin-bottom:15px; }


div[se-elem="time"] { display:flex; }
div[se-elem="time"] input { margin:0; }
div[se-elem="time"] input[name="timeTxt"] { margin-left:10px; width:60px; }

.device { color:#EEE; }
.device[data-side="1"] { color:#009; }
.device[data-side="2"] { color:#900; }



.fakeInput { display:block; box-sizing:border-box; width:100%; padding:4px; border:1px solid #999; margin-bottom:5px; border-radius:3px; }



.app_form {}
.app_form input[type="text"], .app_form input[text="number"] { width:100%; border-radius:2px; border:1px solid #666; margin-bottom:10px; padding:5px; }
.app_form .title { display:block; font-weight:bold; margin-bottom:5px; }
.app_form .desc { display:block; color:#666; margin-bottom:5px; }
.app_form .desc:empty { display:none; }
.app_form .required .title:after { content:"*"; color:#F00; margin:0 0 0 5px; }
.app_form.double .cont { width:30%; float:left; margin-right:10px;}
.app_form .separator, .app_form fieldset { display:block; margin:0 0 10px 0; }
.app_form .separator_simple { margin-bottom:10px; }

/* */
.st_dualtab { width:100%; }
.st_dualtab td { padding:3px 3px 3px 0; }
.st_dualtab td + td { text-align:right; padding-left:3px; padding-right:0; }

/* */
.playerPoints {}
.playerPoints tr[data-side="1"] td { background-color:#d7ecff !important; }
.playerPoints tr[data-side="2"] td { background-color:#ffdbe0 !important; }
.playerAction option[data-side="1"] {background-color:#d7ecff; }
.playerAction option[data-side="2"] {background-color:#ffdbe0; }

/* MATCH CREATE */
#page_games_match_add_group .object_element { display:block; cursor:pointer; }
#page_games_match_add_group .object_element input { display:none; }
#page_games_match_add_group .object_element div { border-radius:4px; background-color:#888; padding:5px 8px; }
#page_games_match_add_group .object_element input:checked + div { background-color:#DDD; }
#page_games_match_add_group .object_element + .object_element { margin-top:5px; }

/* */
div[se-elem="matchesCandidates"] .highlight { background-color:#00AA00 !important; }
div[se-elem="matchesCandidates"] .highlight_02 { background-color:#3373aa !important; }
div[se-elem="object_list_active"] .highlight_02 { background-color:#3373aa !important; }
div[se-elem="object_list_active"] { margin-top:10px; }
div[se-elem="object_list_active"] tr[data-error="1"] td { background-color:#ff8079 !important; }
div[se-elem="object_list_active"] .objGroup { cursor:pointer; padding:4px;}
div[se-elem="object_list_active"] .objGroup:hover { background-color:#00AA00; }
div[se-elem="object_list_active"] .objGroupNumber {}
div[se-elem="object_list_active"] .gSel td { background-color:#5562aa !important; }


div[se-elem="matchesCandidates"] .gSel td { background-color:#2faa3f !important; }
div[se-elem="matchesCandidates"] .matchOrder { cursor:pointer; padding:4px;}
div[se-elem="matchesCandidates"] .matchOrder:hover { background-color:#00AA00; }



/* ScoreBoard */
.scoreBoard { display:flex; margin-bottom:20px; }
.scoreBoard .team { width:45%; color:#FFF; font-weight:bold; padding:5px; }
.scoreBoard .mid { width:10%; text-align:center; }
.scoreBoard .score { font-size:4rem; }
.scoreBoard .title { margin-bottom:10px; }

.scoreBoard .team[data-side="0"], .elementSide[data-side="0"] { background-color:var(--color-side-00-main); color:#FFF; }
.scoreBoard .team[data-side="1"], .elementSide[data-side="1"] { background-color:var(--color-side-01-main); color:#FFF; }
.scoreBoard .team[data-side="2"], .elementSide[data-side="2"] { background-color:var(--color-side-02-main); color:#FFF; }

.scoreBoard svg[data-mode="win"][data-status="0"],
.scoreBoard svg[data-mode="win"][data-status="1"] { visibility:hidden; }
.scoreBoard svg[data-mode="win"][data-status="2"] { color:#919191; }
.scoreBoard svg[data-mode="win"][data-status="3"] { color:#FFD817; }

.scoreBoard .home .score { float:right; margin-left:10px; }
.scoreBoard .home .title { text-align:left; }
.scoreBoard .visitor .score { float:left; margin-right:10px; }
.scoreBoard .visitor .title { text-align:right; }
.scoreBoard .visitor .status { text-align:right; }


.btn_vp_square { cursor:pointer; flex:1; padding:15px; margin-left:10px; text-align:center; border-radius:5px; background-color:#ADADAD; color:#FFF; }
.btn_vp_square:first-child { margin-left:0; }
.btn_vp_square.green { color:#EEE; background:#090; }
.btn_vp_square.green:disabled { color:#AAA; background:#005200; cursor:not-allowed; }
.btn_vp_square.red { color:#EEE; background:#C00; }
.btn_vp_square.red:disabled { color:#AAA; background:#870000; cursor:not-allowed; }
.btn_vp_square.blue { color:#EEE; background:#03C; }
.btn_vp_square.blue:disabled { color:#AAA; background:#001862; cursor:not-allowed; }
.btn_vp_square[aria-disabled="true"] { color:#EEE; background:#DDD; cursor:default; }

/* */
.timeText { font-family:"timer", monospace; display:block; box-sizing:border-box; border:1px solid #666; border-radius:2px; margin-bottom:2px; font-size:5em; text-align:center; min-height:20px; }
/* */
.m_progress { display:block; box-sizing:border-box; border:1px solid #DDD; padding:1px; overflow:auto; margin-bottom:10px; }
.m_progress > div { display:block; box-sizing:border-box; background-color:#006600; height:5px; width:100%; }
.m_progress > div.countdown { background-color:#ba312c; float:right; }
.m_progress > div.normal { background-color:#006600; }
.m_progress > div.end { background-color:#ba312c; width:100%; }

#page_server_field {}
#page_server_field .m_status { display:flex; justify-content:space-between; margin-bottom:10px; }
#page_server_field .m_status .status { height:20px; width:20px; border-radius:50%; background-color:#EEE; }
#page_server_field[data-active="0"] .m_status .status { background-color:#900; }
#page_server_field[data-active="1"][data-fase="1"] .m_status .status { background-color:#959942; }
#page_server_field[data-active="1"][data-fase="2"] .m_status .status { background-color:#415a99; }

/* #page_server_field[data-active="0"] { display:none; }*/

/* */
.match_pickside {}
.match_pickside .team_01 { background-color:var(--color-side-01-main); color:#FFF; }
.match_pickside .team_01:hover { background-color:var(--color-side-01-high) !important; color:#FFF; }
.match_pickside .team_02 { background-color:var(--color-side-02-main); color:#FFF; }
.match_pickside .team_02:hover { background-color:var(--color-side-02-high) !important; color:#FFF; }

/* */
.teamPoints {}
.teamPoints .team_01 { background-color:var(--color-side-01-main); color:#FFF; }
.teamPoints .team_01:hover { background-color:var(--color-side-01-high) !important; color:#FFF; }
.teamPoints .team_02 { background-color:var(--color-side-02-main); color:#FFF; }
.teamPoints .team_02:hover { background-color:var(--color-side-02-high) !important; color:#FFF; }


.map_objective { display:block; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #CCC; }
.map_objective i { font-size:2rem; margin-right:10px; color:#DDD; }
/* Round Progress */
.ev_tl { display:block; position:relative; min-height:150px; }
.ev_tl .rTotal { position:absolute; display:block; top:15px; background-color:#EEE; border-radius:3px; height:5px; width:100%; }
.ev_tl .rAdv { position:absolute; height:5px; border-radius:3px; background-color:#0F0; width:1%; }
.ev_tl .rAdv.end { background-color:#F00; }
.ev_tl .top .ini { position:absolute; left:0; color:#555555; font-size:0.9em; height:20px; z-index:10; border-left:2px solid #222; }
.ev_tl .top .seps { position:absolute; width:100%; font-size:0.7em; color:#AAA; }
.ev_tl .top .seps .sep { position:absolute; border-left:2px solid #666; }
.ev_tl .top .end { position:absolute; right:0; color:#555555; font-size:0.9em; height:20px; z-index:10; border-right:2px solid #222; }
.ev_tl .sections { display:block; position:absolute; width:100%; top:20px; border:1px solid #DDD; box-sizing:border-box; }
.ev_tl .sections div { display:block; height:25px; }
.ev_tl .sections .automatic { background-color:#EEE; }
.ev_tl .sections .seleted { background-color:#CDECE8; }
.ev_tl .sections .team01 { background-color:#ADD3FB; }
.ev_tl .sections .team02 { background-color:#FFBBBC; }
/* EVENTOS - Marcadores */
.ev_tl_m { display:block; position:absolute; width:100%; z-index:10; top:15px; }
.ev_tl_m .marker { position:absolute; background-color:transparent !important; left:var(--reltime); }
.ev_tl_m .marker .tip { height:10px; width:2px; background-color:#333; }
.ev_tl_m .marker .index { display:flex; justify-content:center; align-items:center; height:25px; padding:0 3px; background-color:#333; color:#FFF; font-weight:bold; font-size:14px; }
.ev_tl_m .marker[data-type="automatic"] .tip { height:31px; }
.ev_tl_m .marker[data-type="automatic"] .index { }
.ev_tl_m .marker[data-type="device"][data-side="1"] .tip { height:56px; }
.ev_tl_m .marker[data-type="device"][data-side="1"] .index { }
.ev_tl_m .marker[data-type="device"][data-side="2"] .tip { height:81px; }
.ev_tl_m .marker[data-type="device"][data-side="2"] .index { }
.ev_tl_m .marker.cSel .tip, .ev_tl_m .marker:hover .tip { }
.ev_tl_m .marker.cSel .index, .ev_tl_m .marker:hover .index { background-color:#9BFC83; color:#333; cursor:pointer; }
/* Evento mapa */
.map_field { position:relative; min-height:300px; background-color:#648e64; }
.map_field .mapIcon { display:block; position:absolute; width:32px; height:32px; fill:currentColor; color:#DDD; top:calc( var(--mapy) - 16px ); left:calc( var(--mapx) - 16px ); }
.map_field .mapIcon[data-side="1"] { color:var(--color-side-01-main); }
.map_field .mapIcon[data-side="1"][data-active="0"] { color:var(--color-side-01-inactive); }
.map_field .mapIcon[data-side="2"] { color:var(--color-side-02-main); }
.map_field .mapIcon[data-side="2"][data-active="0"] { color:var(--color-side-02-inactive); }

.map_objective { display:block; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #CCC; }
.map_objective i { font-size:2rem; margin-right:10px; color:#DDD; }

.matchEvents tr[data-type="automatic"] td { background-color:#888 !important; color:#FFF; padding:2px; }
.matchEvents tr[data-type="automatic"] button { display:none; }


/* DEVICES */
div[se-elem="devices"][data-connected="1"] div[se-elem="device_off"], div[se-elem="devices"][data-connected="0"] div[se-elem="device_on"] { display:none; }
div[se-elem="devices"][data-mode="serial"] div[se-elem="bluetooth"], div[se-elem="devices"][data-mode="bluetooth"] div[se-elem="serial"] { display:none; }
