.pagePrint .se_menu_top button { padding:6px; }
.pagePrint .tCont { overflow:auto; display:flex; justify-content:space-between; margin-bottom:20px; }
.pagePrint .tLeft { width:35%; margin-right:20px; }
.pagePrint .tRight { flex:1; }
.pagePrint .tabSimple { border-collapse:collapse; width:100%; }
.pagePrint .tabSimple th, .tabSimple td { border:1px solid #CACACA; }
.pagePrint .tabSimple th { padding:3px; }
.pagePrint .tabSimple td { padding:3px; }
.pagePrint .scoreBoard { display:block; overflow:auto; width:100%; height:47.4%; margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #DDD; }
.pagePrint .scoreBoard:nth-child(2n) { margin-top:2%; padding-top:2%; border-top:1px solid #DDD; }
.pagePrint .scoreTable { width:100%; table-layout:fixed; }
.pagePrint .scoreTable thead { background-color:#FFF; }
.pagePrint .scoreTable thead th { padding:5px; text-align:center; font-weight:bold; }
.pagePrint .scoreTable td, .scoreTable th { border:1px solid #CACACA; }
.pagePrint .scoreTable tbody { background-color:#FFFFFF; }
.pagePrint .scoreTable tbody td { background-color:#FFFFFF; padding:3px; }
.pagePrint .scoreTable tbody tr:nth-child(2n) td { background-color:#FAFAFA; }
.pagePrint .scoreTable tbody tr:hover td { background:#B1EC8A; }
.pagePrint .scoreTable tfoot td { font-weight:bold; padding:5px; border-top:2px solid #CACACA; }
.pagePrint .scoreTable textarea { font-size:inherit; font-family:inherit; }
.pagePrint .page-break	{ display:none; }

.pagePrint .printOption[data-status="0"] { display:none; }

/* */
@media print {
	* { box-sizing:border-box; }
	h1, h2, h3, h4, h5, h6, body { font-size:14px; }
	@page { size:letter; }
	#app_header, .se_menu_top, .vp_chat_system, .printHidden, div[se-elem="navigation"] { display:none; }
	.pagePrint .scoreBoard { height:4in; border-bottom:0.2in; margin-bottom:0.2in; overflow:hidden; page-break-inside:avoid; }
	/*.pagePrint .scoreTable:nth-child(2n) { page-break-after:always; } */
	.pagePrint .pageBreak { page-break-after:always; }
}