﻿<div>
    <div class="page_title">Inicio</div>
	<div se-plugin="uwp_page_default">
		<div se-elem="connected">
			<div class="grid">
				<div class="gr_sz06 gr_ps02">
					<h3>Evento actual</h3>
					<table se-elem="info" class="st_dualtab">
						<tr><td>ID</td><td se-elem="id"></td></tr>
						<tr><td>Nombre</td><td se-elem="title"></td></tr>
						<tr><td>Liga</td><td se-elem="pTitle"></td></tr>
						<tr><td>Fecha inicio</td><td se-elem="dtStart"></td></tr>
						<tr><td>Fecha Término</td><td se-elem="dtEnd"></td></tr>
					</table>
				</div>
				<div class="gr_sz02">
					<h3>Acciones</h3>
					<!-- <button class="btn small blue wide" se-nav-uwp="?page=games_single_section_group_print&gId=15&ggId=1"><svg class="icon inline mr"><use xlink:href="#fa-plus"></use></svg> Partidas - Grupo</button> -->
					<!-- <button class="gOMB btn blue wide" se-act="syncRegistrations"><svg class="icon inline mr"><use xlink:href="#fa-refresh" /></svg>Sincronizar Registros</button> -->
					<button class="gOMB btn blue wide" se-act="syncGamesFull"><svg class="icon inline mr"><use xlink:href="#fa-refresh" /></svg>Sincronizar Torneo</button>
					<!-- <button class="gOMB btn blue wide" se-act="reset"><svg class="icon inline mr"><use xlink:href="#fa-refresh" /></svg>Reset</button> -->
					<button class="gOMB btn red wide" se-act="unload"><svg class="icon inline mr"><use xlink:href="#fa-unlink" /></svg>Desconectar</button>
				</div>
			</div>
		</div>
		<div se-elem="disconnected">
			<div  class="grid">
				<div class="gr_sz04 gr_ps04">
					<h3>Clave acceso</h3>
					<form class="app_form" se-elem="accessKey">
						<label class="onoffswitch">
	                        <span class="text">
	                            <span class="title">Developing Server</span>
	                            <span class="desc">Live or developing server.</span>
	                        </span>
							<span class="switch">
	                            <input type="checkbox" class="cb" name="devServer" />
	                            <span class="display"></span>
	                        </span>
						</label>
						<label class="onoffswitch">
	                        <span class="text">
	                            <span class="title">MQTT Local</span>
	                            <span class="desc">Trabajar con el servidor de prueba.</span>
	                        </span>
							<span class="switch">
	                            <input type="checkbox" class="cb" name="mqttLocal" />
	                            <span class="display"></span>
	                        </span>
						</label>
						<div class="separator required">
							<label>
								<div class="cont"><span class="title">Clave de acceso</span><span class="desc"></span></div>
								<input type="text" name="eKey" value="216:64184535bac086f61762c95434bc4c1517f35d09" placeholder="Access Key" required />
								<datalist id="tagList"></datalist>
							</label>
						</div>
						<button type="submit" class="separator btn blue wide"><svg class="icon inline mr"><use xlink:href="#fa-save" /></svg>Conectar</button>
						<output se-elem="response"></output>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>