﻿<div>
	<div class="page_title">Dispositivos</div>
	<div id="page_device_lora" se-plugin="uwp_page_device_lora" class="grid">
		<div class="gr_sz08">
			<div>
				<h4>Log</h4>
				<form class="se_form gOMDB" se-elem="serialInput">
					<div class="modInput"><input type="text" name="content" se-elem=""><button type="submit"><svg class="icon inline"><use xlink:href="#fa-check"></use></svg></button></div>
				</form>
				<button class="btn gOMB wide red" se-act="log_clear"><svg class="icon inline mr"><use xlink:href="#fa-trash-o" /></svg>Limpiar log</button>
				<div style="white-space:pre-line; height:300px; font-size:1.1rem; overflow-wrap:break-word; overflow-y:scroll; border:1px solid #CCC; padding:5px;" se-elem="deviceLog"></div>
			</div>
		</div>
		<div class="gr_sz04" se-elem="devices" data-connected="0">
			<h3>Conectar</h3>
			<div se-elem="device_off">
				<button class="btn gOMB wide blue" se-act="serial_reload"><svg class="icon inline mr"><use xlink:href="#fa-refresh" /></svg>Conectar</button>
				<button class="btn gOMB wide blue" se-act="serial_test_start"><svg class="icon inline mr"><use xlink:href="#fa-play" /></svg>Activar fake match</button>
				<button class="btn gOMB wide red" se-act="serial_test_stop"><svg class="icon inline mr"><use xlink:href="#fa-stop" /></svg>Detener fake match</button>
			</div>
		</div>

	</div>
</div>