﻿<div>
	<div class="page_title">Dispositivos</div>
	<div se-plugin="uwp_page_devices" class="grid">
		<div class="gr_sz08">

			<dialog se-elem="editDevice">
				<h2>Editar Dispositivo</h2>
				<form class="se_form" method="dialog">
					<input type="hidden" name="id" value="" />
					<input type="hidden" name="pw" value="" />
					<div class="separator required">
						<label>
							<div class="cont"><span class="title">Modo</span><span class="desc"></span></div>
							<select name="devMode">
								<option value="0">Neutral</option>
								<option value="1">Nodo</option>
								<option value="2">Dispositivo</option>
							</select>
						</label>
					</div>
					<div class="separator required">
						<label>
							<div class="cont"><span class="title">Tipo</span><span class="desc"></span></div>
							<select name="devType">
								<option value="0">No definido</option>
								<option value="1">Home Base</option>
								<option value="2">OP Flag</option>
								<option value="3">SW Flag</option>
								<option value="4">CT Flag</option>
								<option value="5">Bombsite</option>
								<option value="6">Bomb bomb</option>
							</select>
						</label>
					</div>
					<div class="separator required">
						<label>
							<div class="cont"><span class="title">ID Campo</span><span class="desc"></span></div>
							<input type="number" name="fieldId" min="0" max="255">
						</label>
					</div>
					<div class="separator required">
						<label>
							<div class="cont"><span class="title">ID Dispositivo del juego</span><span class="desc"></span></div>
							<input type="number" name="fieldDevId" min="0" max="255">
						</label>
					</div>
					<button type="submit" class="btn blue wide">
						<svg class="icon inline mr"><use xlink:href="#fa-check" /></svg> Actualizar
					</button>
					<button type="button" class="btn wide" se-act="eventUpdCancel">
						<svg class="icon inline mr"><use xlink:href="#fa-remove" /></svg> Cancelar
					</button>
					<output se-elem="output"></output>
				</form>
			</dialog>

			<table class="se_table wide alternate border selectable" se-plugin="simpleTable">
				<template>
					<tr data-id="!id;" data-pw="!pw;">
						<td>!id;</td>
						<td>!devMode;</td>
						<td>!devType;</td>
						<td>!fieldId;</td>
						<td>!fieldDevId;</td>
						<td>
							<button class="btn small blue" se-act="device_edit"><svg class="icon inline mr"><use xlink:href="#fa-pencil" /></svg> Editar</button>
						</td>
					</tr>
				</template>
				<thead>
					<tr class="titles">
						<th class="sortable">ID</th>
						<th class="sortable">Dispositivo Modo</th>
						<th class="sortable">Dispositivo Tipo</th>
						<th class="sortable">Campo</th>
						<th class="sortable">Dispositivo campo</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody se-elem="content"></tbody>
			</table>
		</div>
		<div class="gr_sz04" se-elem="devices" data-connected="0">
			<h3>Dispositivo</h3>
			<div se-elem="device_off">
				<button class="btn gOMB wide blue" se-act="bluetooth_connect"><svg class="icon inline mr"><use xlink:href="#fa-bluetooth" /></svg>Conectar Bluetooth</button>
				<button class="btn gOMB wide blue" se-act="serial_connect"><svg class="icon inline mr"><use xlink:href="#fa-chain" /></svg>Conectar Serial</button>
			</div>
			<div se-elem="device_on">
				<div class="section">
					<table class="">
						<tr><td>ID</td><td se-elem="serial_id"></td></tr>
						<tr><td>Dev Id</td><td se-elem=""></td></tr>
					</table>
				</div>
				<div class="section">
					<div se-elem="serial">
						<button class="btn gOMB wide blue" se-act="serial_sync_first"><svg class="icon inline mr"><use xlink:href="#fa-refresh" /></svg>First sync</button>
						<button class="btn gOMB wide blue" se-act="serial_sync_props"><svg class="icon inline mr"><use xlink:href="#fa-refresh" /></svg>Sync properties</button>
						<button class="btn gOMB wide green" se-act="serial_test_audio"><svg class="icon inline mr"><use xlink:href="#fa-volume-up" /></svg>Test Audio</button>
						<button class="btn gOMB wide green" se-act="serial_test_beep"><svg class="icon inline mr"><use xlink:href="#fa-volume-up" /></svg>Test Beep</button>
						<button class="btn gOMB wide red" se-act="serial_disconnect"><svg class="icon inline mr"><use xlink:href="#fa-unlink" /></svg>Desconectar</button>
					</div>
					<div se-elem="bluetooth">
						<button class="btn gOMB wide blue" se-act="bluetooth_sync"><svg class="icon inline mr"><use xlink:href="#fa-refresh" /></svg>First sync</button>
						<button class="btn gOMB wide red" se-act="bluetooth_disconnect"><svg class="icon inline mr"><use xlink:href="#fa-unlink" /></svg>Desconectar</button>
					</div>
				</div>
				<div class="section">
					<form class="se_form" se-elem="inputTypeSet">
						<fieldset>
							<legend>Campo</legend>
							<label class="separator required">
								<div class="cont"><span class="title">ID Campo</span><span class="desc"></span></div>
								<input type="number" name="fieldId" min="0" max="255" value="1">
							</label>
							<label class="separator required">
								<div class="cont"><span class="title">Modo de juego - Dispositivos totales</span><span class="desc"></span></div>
								<input type="number" name="deviceTotal" min="0" max="255" value="7">
							</label>
							<label class="separator required">
								<div class="cont"><span class="title">Modo de juego - Status totales</span><span class="desc"></span></div>
								<input type="number" name="statusTotal" min="0" max="255" value="3">
							</label>
						</fieldset>
						<fieldset>
							<legend>Dispositivo</legend>
							<label class="separator required">
								<div class="cont"><span class="title">Modo</span><span class="desc"></span></div>
								<select name="devMode">
									<option value="0">No definido</option>
									<option value="1">Nodo</option>
									<option value="2">Dispositivo</option>
								</select>
							</label>
							<label class="separator required">
								<div class="cont"><span class="title">Index de Dispositivo del juego</span><span class="desc"></span></div>
								<input type="number" name="fieldDevId" min="0" max="255" value="0">
							</label>
							<label class="separator required">
								<div class="cont"><span class="title">Lado default del dispositivo</span><span class="desc"></span></div>
								<select name="defSide">
									<option value="0">Neutral</option>
									<option value="1">Blue</option>
									<option value="2">Red</option>
									<option value="3">Yellow</option>
									<option value="4">Green</option>
								</select>
							</label>
							<label class="separator required">
								<div class="cont"><span class="title">Tipo</span><span class="desc"></span></div>
								<select name="devType">
									<option value="0">No definido</option>
									<option value="1">Home Base</option>
									<option value="2">OP Flag</option>
									<option value="3">SW Flag</option>
									<option value="4">CT Flag</option>
									<option value="5">Bombsite</option>
									<option value="6">Bomb bomb</option>
								</select>
							</label>
						</fieldset>
						<fieldset>
							<legend>Conectividad</legend>
							<label class="separator required">
								<div class="cont"><span class="title">Conectividad Principal</span><span class="desc"></span></div>
								<select name="conTypePrimary">
									<option value="0">Ninguno</option>
									<option value="1">USB</option>
									<option value="2">BLE</option>
									<option value="3">Wifi</option>
									<option value="4">Lora</option>
								</select>
							</label>
							<label class="separator required">
								<div class="cont"><span class="title">Conectividad Secundaria</span><span class="desc"></span></div>
								<select name="conTypeSecondary">
									<option value="0">Ninguno</option>
									<option value="1">USB</option>
									<option value="2">BLE</option>
									<option value="3">Wifi</option>
									<option value="4">Lora</option>
								</select>
							</label>
						</fieldset>
						<button type="submit" class="btn blue wide">
							<svg class="icon inline mr"><use xlink:href="#fa-check" /></svg> Actualizar
						</button>
						<button type="button" class="btn wide" se-act="eventUpdCancel">
							<svg class="icon inline mr"><use xlink:href="#fa-remove" /></svg> Cancelar
						</button>
						<output se-elem="output"></output>
					</form>
				</div>
				<div class="section" se-elem="serial">
					<h4>Log</h4>
					<form class="se_form gOMDB" se-elem="serialInput">
						<div class="modInput"><input type="text" name="content" se-elem=""><button type="submit"><svg class="icon inline"><use xlink:href="#fa-check"></use></svg></button></div>
					</form>
					<div style="white-space:pre-line; height:300px; font-size:1.1rem; overflow-wrap:break-word; overflow-y:scroll; border:1px solid #CCC; padding:5px;" se-elem="deviceLog"></div>
					<button class="btn gOMB wide red" se-act="log_clear"><svg class="icon inline mr"><use xlink:href="#fa-trash-o" /></svg>Limpiar log</button>
				</div>
			</div>

			<h3>Reiniciar todo</h3>
			<button class="btn gOMB wide red" se-act="devices_reset"><svg class="icon inline mr"><use xlink:href="#fa-refresh" /></svg>Reiniciar dispositivos</button>
		</div>
	</div>
</div>