﻿<div class="page_title">Evento - Jugadores</div>
<div se-plugin="uwp_page_event_players">
    <div>
		<!-- <button class="btn blue" se-act="showAll"><svg class="icon inline mr"><use xlink:href="#fa-eye" /></svg>Mostrar todos</button>
		<button class="btn blue" se-act="hideAll"><svg class="icon inline mr"><use xlink:href="#fa-eye" /></svg>Ocultar</button> -->
		<table class="se_table alternate wide border" se-elem="registered" se-plugin="simpleTable">
			<template>
			    <tr data-index="!index;">
				    <td>!id;</td>
				    <td>!lregId;</td>
				    <td>!uName;</td>
				    <td><input type="number" name="eventId" value="!eventId;" min="0" max="999" size="3" /></td>
				    <td>!dtAdd;</td>
			    </tr>
			</template>
			<thead>
			    <tr class="titles">
				    <th></th>
				    <th></th>
				    <th><input data-filter="shortId" /></th>
				    <th><input data-filter="title" /></th>
				    <th></th>
			    </tr>
			    <tr class="titles">
				    <th class="sortable" data-sorttype="number">ID</th>
				    <th class="sortable" data-sorttype="number">ID Liga</th>
				    <th class="sortable">Nombre</th>
				    <th>ID Evento</th>
				    <th>Agregado</th>
			    </tr>
			</thead>
			<tbody></tbody>
		</table>
    </div>
</div>
