﻿<div se-plugin="uwp_page_games_single_structure">
	<div se-elem="navigation">
		<div class="page_title">Juego: ${params.gTitle} - Diseño</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=games">Juegos</a>
				<a se-nav-uwp="?page=games_single_structure&gId=${params.gId}">${params.gTitle}</a>
			</div>
			<div class="normal">
				<a se-nav-uwp="?page=games_single_structure&gId=${params.gId}">Estructura</a>
				<a se-nav-uwp="?page=games_single_groups_list&gId=${params.gId}">Grupos</a>
				<a se-nav-uwp="?page=games_matches&gId=${params.gId}">Partidas</a>
				<a se-nav-uwp="?page=games_single_teams&gId=${params.gId}">Equipos</a>
			</div>
		</div>
	</div>

	<style>
		#section_design {}
		#section_design .section:not(:first-child) { margin-top:20px; border-top:1px solid #CCC; padding-top:20px; }
		#section_design .secTitle { font-weight:bold; font-size:1.8rem; }
		#section_design .secSubTitle { font-weight:bold; font-size:1.7rem; }
		#section_design a { display:block; padding:5px; border-radius:3px; background:#DDD; }
		#section_design div[se-elem="groups"] { display:inline-flex; gap:20px; }
		#section_design .group { border-radius:3px; border:1px solid #CCC; padding:10px; background:#EEE; }
		#section_design .group .groupTitle { font-weight:bold; font-size:1.6rem; }
		#section_design .menu { display:flex; gap:10px; flex-direction:column; }
		#section_design .menu a { display:block; padding:6px; border-radius:3px; background:#CCC; }
	</style>

	<template se-elem="sections">
		<div class="section" data-id="!id;">
			<div class="secTitle">!title;</div>
			<div class="grid">
				<div class="gr_sz04">
					<div class="secSubTitle">Propiedades</div>
					<div>
						<table class="st_dualtab">
							<tr><td>Inicio</td><td>!dtStartUNIX;</td></tr>
							<tr><td>Partidas totales</td><td>!propMatchesTotal;</td></tr>
							<tr><td>Partidas jugadas</td><td>!propMatchesCompleted;</td></tr>
							<tr><td>Status</td><td>!propStatusGeneral;</td></tr>
						</table>
						<div class="menu">
							<a se-nav-uwp="?page=games_single_section_groups_structure&gId=!gId;&gsId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-pencil" /></svg>Editar grupos</a>
							<a se-nav-uwp="?page=games_single_section_mix&gId=!gId;&gsId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-pencil" /></svg>Mezclar horarios</a>
						</div>
					</div>
				</div>
				<div class="gr_sz08">
					<div class="secSubTitle">Grupos</div>
					<div se-elem="groups"></div>
				</div>
			</div>
		</div>
	</template>

	<template se-elem="groups">
		<div class="group" data-id="!id;">
			<div class="gr_sz04">
				<div class="page_title">!title;</div>
				<div>
					<div class="page_sub_title">Propiedades</div>
					<div>
						<table class="st_dualtab">
							<tr><td>Inicio</td><td>!dtStartUNIX;</td></tr>
							<tr><td>Equipos</td><td>!propElementsTotal;</td></tr>
							<tr><td>Partidas totales</td><td>!propMatchesTotal;</td></tr>
							<tr><td>Partidas jugadas</td><td>!propMatchesCompleted;</td></tr>
							<tr><td>Status</td><td>!propStatusGeneral;</td></tr>
						</table>
						<div class="menu">
							<a se-nav-uwp="?page=games_matches&gId=!gId;&gsId=!gsId;&ggId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-list" /></svg>Partidas</a>
							<a se-nav-uwp="?page=games_single_section_group_results&gId=!gId;&gsId=!gsId;&ggId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-group" /></svg>Resumen</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>

	<!-- INI: CONTENT -->
	<div id="section_design" se-elem="sections"></div>
	<!-- END: CONTENT -->

</div>