﻿<div se-plugin="uwp_page_games">
	<div se-elem="navigation">
		<div class="page_title">Juegos</div>
	</div>
    <div class="grid">
	    <div class="gr_sz06 gr_ps03">
		    <table class="se_table wide alternate border">
			    <template>
				    <tr>
					    <td>!title;</td>
					    <td>
							<button class="btn small blue" se-nav-uwp="?page=games_single_structure&gId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-sitemap" /></svg> Estructura</button>
							<button class="btn small blue" se-nav-uwp="?page=games_single_groups_list&gId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-group" /></svg> Grupos</button>
							<button class="btn small blue" se-nav-uwp="?page=games_matches&gId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-eye" /></svg> Matches</button>
							<button class="btn small blue" se-nav-uwp="?page=games_single_teams&gId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-group" /></svg> Equipos</button>
					    </td>
				    </tr>
			    </template>
			    <thead>
				    <tr class="titles">
					    <th>Nombre</th>
					    <th>Acciones</th>
				    </tr>
			    </thead>
			    <tbody se-elem="content"></tbody>
		    </table>
	    </div>
    </div>
</div>