﻿<div se-plugin="uwp_page_games_single_groups_list">
	<div se-elem="navigation">
		<div class="page_title">Juego: ${params.gTitle} - Grupos</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=games">Juegos</a>
				<a se-nav-uwp="?page=games_single_structure&gId=${params.gId}">${params.gTitle}</a>
			</div>
			<div class="normal">
				<a se-nav-uwp="?page=games_single_structure&gId=${params.gId}">Estructura</a>
				<a se-nav-uwp="?page=games_single_groups_list&gId=${params.gId}">Grupos</a>
				<a se-nav-uwp="?page=games_matches&gId=${params.gId}">Partidas</a>
				<a se-nav-uwp="?page=games_single_teams&gId=${params.gId}">Equipos</a>
			</div>
		</div>
	</div>

	<div class="grid">
		<div class="gr_sz08 gr_ps02">
			<table class="se_table wide alternate border">
				<template>
					<tr data-id="!id;">
						<td>!title;</td>
						<td>
							<button class="btn small blue gOMB" se-nav-uwp="?page=games_matches&gId=!gId;&ggId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-list" /></svg>Partidas</button>
							<button class="btn small blue gOMB" se-nav-uwp="?page=games_single_section_group_results&gId=!gId;&ggId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-group" /></svg>Resumen</button>
						</td>
						<td>
							<button class="btn small blue gOMB" se-nav-uwp="?page=games_single_section_group_match_add_many&gId=!gId;&ggId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-plus" /></svg>Grupo</button>
							<button class="btn small blue gOMB" se-nav-uwp="?page=games_single_section_group_match_add_single&gId=!gId;&ggId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-plus" /></svg>Individual</button>
						</td>
						<td>
							<button class="btn small blue gOMB" se-nav-uwp="?page=games_single_section_group_print&gId=!gId;&ggId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-print" /></svg>Partidas</button>
						</td>
					</tr>
				</template>
				<thead>
				<tr class="titles">
					<th>Nombre</th>
					<th>Partidas</th>
					<th>Agregar</th>
					<th>Imprimir</th>
				</tr>
				</thead>
				<tbody se-elem="content"></tbody>
			</table>
		</div>
	</div>
</div>