﻿<div se-plugin="uwp_page_games_single_section_group_print">

	<div se-elem="navigation">
		<div class="page_title">Juego: ${params.gTitle} - ${params.cTitle} - ${params.ggTitle} - Impresiones</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=games">Juegos</a>
				<a se-nav-uwp="?page=games_single_structure&gId=${params.gId}">${params.gTitle}</a>
				<a se-nav-uwp="?page=games_single_section_groups_structure&gId=${params.gId}&gsId=${params.gsId}">${params.cTitle}</a>
			</div>
			<div class="normal">
				<a se-nav-uwp="?page=games_matches&gId=${params.gId}&gsId=${params.gsId}&ggId=${params.ggId}">Partidas</a>
				<a se-nav-uwp="?page=games_single_section_group_results&gId=${params.gId}&gsId=${params.gsId}&ggId=${params.ggId}">Resultados</a>
				<a se-nav-uwp="?page=games_single_section_group_print&gId=${params.gId}&gsId=${params.gsId}&ggId=${params.ggId}">Impresiones</a>
			</div>
		</div>
	</div>

	<div class="pagePrint">

		<div class="pageTitle">Impresiones</div>

		<div class="se_menu_top">
			<div class="normal">
				<button se-act="show" data-show="matches"><svg class="icon inline mr"><use xlink:href="#fa-eye" /></svg>Partidas</button>
				<button se-act="show" data-show="scores"><svg class="icon inline mr"><use xlink:href="#fa-eye" /></svg>Puntajes</button>
				<button se-act="show" data-show="summary"><svg class="icon inline mr"><use xlink:href="#fa-eye" /></svg>Resumen</button>
			</div>
			<div class="normal">
				<button se-act="download"><svg class="icon inline mr"><use xlink:href="#fa-download" /></svg>Descargar</button>
				<button se-act="print"><svg class="icon inline mr"><use xlink:href="#fa-print" /></svg>Imprimir</button>
			</div>
		</div>

		<div class="printOption" data-status="0" se-elem="show_matches">
			<div>
				<h2 class="printHidden">Partidas</h2>
				<div>
					<table class="se_table wide alternate border">
						<template>
							<tr class="matchRow" data-status="!mStatus;" data-index="!index;">
								<td>!gsTitle; - !ggTitle;</td>
								<td>!mOrder;</td>
								<td>!gTimeDay;</td>
								<td>!gTimeHour;</td>
								<td>!t1_name;</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>!t2_name;</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</template>
						<thead>
						<tr class="titles">
							<th colspan="5"></th>
							<th colspan="5">Equipo 1</th>
							<th colspan="5">Equipo 2</th>
						</tr>
						<tr class="titles">
							<th>Categoría - Grupo</th>
							<th>#</th>
							<th>Dia</th>
							<th>Hora</th>
							<th>Nombre</th>
							<th>W</th>
							<th>L</th>
							<th>D</th>
							<th>P</th>
							<th>Nombre</th>
							<th>W</th>
							<th>L</th>
							<th>D</th>
							<th>P</th>
						</tr>
						</thead>
						<tbody se-elem="content"></tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="printOption" data-status="0" se-elem="show_scores">
			<div>
				<h2 class="printHidden">Puntajes</h2>

				<template se-elem="matchScore">
					<div class="scoreBoard">
						<div>
							<div class="tCont">
								<div class="tLeft">
									<table><tbody>
									<tr><td>Categoría:</td><td>!gsTitle;</td></tr>
									<tr><td>Grupo:</td><td>!ggTitle;</td></tr>
									<tr><td>Partida:</td><td>!mOrder;</td></tr>
									<tr><td>Campo:</td><td>Campo</td></tr>
									<tr><td>Dia:</td><td>!gTimeDay;</td></tr>
									<tr><td>Hora:</td><td>!gTimeHour;</td></tr>
									</tbody></table>
								</div>
								<div class="tRight">
									<table class="tabSimple">
										<thead>
										<tr><th>Tipo</th><th>Nombre</th><th>Lado</th><th>Puntaje</th><th>Resulado</th><th>Firma capitan</th></tr>
										</thead>
										<tbody>
										<tr><td>Local</td><td>!t1_name;</td><td></td><td></td><td></td><td></td></tr>
										<tr><td>Visitante</td><td>!t2_name;</td><td></td><td></td><td></td><td></td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div>
							!pointTable;
						</div>
					</div>
				</template>

				<div se-elem="content"></div>
			</div>
		</div>

		<div class="printOption" data-status="0" se-elem="show_summary">
			<div>
				<h2 class="printHidden">Resumen</h2>
				<div>
					<table class="se_table wide alternate border">
						<template>
							<tr class="matchRow" data-status="!mStatus;" data-index="!index;">
								<td>!gsTitle; - !ggTitle;</td>
								<td>!mOrder;</td>
								<td>!gTimeDay;</td>
								<td>!gTimeHour;</td>
								<td>!t1_name;</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>!t2_name;</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</template>
						<thead>
						<tr class="titles">
							<th colspan="5"></th>
							<th colspan="5">Equipo 1</th>
							<th colspan="5">Equipo 2</th>
						</tr>
						<tr class="titles">
							<th>Categoría - Grupo</th>
							<th>#</th>
							<th>Dia</th>
							<th>Hora</th>
							<th>Nombre</th>
							<th>W</th>
							<th>L</th>
							<th>D</th>
							<th>P</th>
							<th>Nombre</th>
							<th>W</th>
							<th>L</th>
							<th>D</th>
							<th>P</th>
						</tr>
						</thead>
						<tbody se-elem="content"></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>