﻿<div id="page_games_match_add_group" se-plugin="uwp_page_games_single_section_group_match_add_many">
	<div se-elem="navigation">
		<div class="page_title">Juego ${params.gTitle} - ${params.cTitle} - ${params.ggTitle} - Agregar partidas múltiples</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=games">Juegos</a>
				<a se-nav-uwp="?page=games_single_structure&gId=${params.gId}">${params.gTitle}</a>
				<a se-nav-uwp="?page=games_single_section_groups_structure&gId=${params.gId}&gsId=${params.gsId}">${params.cTitle}</a>
			</div>
			<div class="normal">
				<a se-nav-uwp="?page=games_matches&gId=${params.gId}&gsId=${params.gsId}&ggId=${params.ggId}">Partidas</a>
				<a se-nav-uwp="?page=games_single_section_group_match_add_single&gId=${params.gId}&gsId=${params.gsId}&ggId=${params.ggId}">Agregar partida - individual</a>
				<a se-nav-uwp="?page=games_single_section_group_match_add_many&gId=${params.gId}&gsId=${params.gsId}&ggId=${params.ggId}">Agregar partida - grupo</a>
			</div>
		</div>
	</div>

	<div class="section">
		<h3>Propiedades</h3>
		<div class="grid">
			<div class="gr_sz04">
				<h4>Parámetros</h4>
				<div>
					<form se-elem="matchCreate">
						<table se-elem="info" class="st_dualtab">
							<tr><td>Fecha inicio del grupo</td><td><input type="datetime-local" name="groupTimeStart" /></td></tr>
							<tr><td>Partidas por equipo</td><td><input type="number" name="matchsPerTeam" /></td></tr>
							<tr><td>Minutos entre partidas</td><td><input type="number" name="minutesBetweenMatches" /></td></tr>
							<tr><td></td><td><button class="btn blue" se-act="matchesVirtualCreate"><svg class="icon inline mr"><use xlink:href="#fa-copy" /></svg> Crear</button></td></tr>
						</table>
					</form>
				</div>
			</div>
			<div class="gr_sz04 gr_ps04">
				<h4>Resultados</h4>
				<div>
					<table se-elem="results" class="st_dualtab">
						<tr><td>Partidas teóricas</td><td se-elem="res_teomatch"></td></tr>
						<tr><td>Partidas totales</td><td se-elem="res_totalmatches"></td></tr>
						<tr><td>Método</td><td se-elem="res_matchmethod"></td></tr>
						<tr><td>Tiempo total</td><td se-elem="res_totaltime"></td></tr>
					</table>
					<output se-elem="matchCreateOutput"></output>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<h3>Editor</h3>
		<div class="grid">
			<div class="gr_sz06">
				<h4>Partidas posibles</h4>
				<div se-elem="matchesCandidates">
					<table class="se_table wide border alternate">
						<template>
							<tr data-tempid="!index;" class="!type;">
								<td>!part;</td><td data-fieldid="!cOrder;"><div class="matchOrder" draggable="true">!cOrder;</div></td>
								<td data-type="tnum" data-tnum="!t1Num;">#!t1Num;</td><td data-type="team" data-team="team1" data-index="!t1Num;" data-t1index="!t1Index;">!t1Title;</td>
								<td data-type="tnum" data-tnum="!t2Num;">#!t2Num;</td><td data-type="team" data-team="team2" data-index="!t2Num;" data-t2index="!t2Index;">!t2Title;</td>
								<td><button class="btn red small" data-action="matchCandidateDelete"><svg class="icon inline"><use xlink:href="#fa-trash-o" /></svg></button></td>
							</tr>
						</template>
						<thead>
						<tr class="titles"><th>#Part</th><th># P</th><th colspan="2">Local</th><th colspan="2">Visitante</th><th>Op</th></tr>
						</thead>
						<tbody se-elem="content"></tbody>
					</table>
				</div>
			</div>
			<div class="gr_sz04">
				<h4>Equipos <button class="btn blue small" se-act="objRandomize"><svg class="icon inline"><use xlink:href="#fa-random" /></svg></button></h4>

				<h5>Activos</h5>
				<div se-elem="object_list_active">
					<table class="se_table wide alternate border">
						<template>
							<tr data-type="obj" data-index="!index;" data-corder="!cOrder;" data-error="!isError;">
								<td class="objGroupNumber">!index;</td>
								<td><div class="objGroup" draggable="true">!title;</div></td>
								<td se-elem="count">!gCount;</td>
								<td><button class="btn small red" se-act="team_remove"><svg class="icon inline"><use xlink:href="#fa-remove" /></svg></button></td>
							</tr>
						</template>
						<thead>
							<tr class="titles"><th># Eq</th><th>Nombre</th><th># Part</th><th>Acciones</th></tr>
						</thead>
						<tbody se-elem="content"></tbody>
					</table>
				</div>

				<h5>Inactivos</h5>
				<div se-elem="object_list_inactive">
					<table class="se_table wide alternate border">
						<template>
							<tr data-type="obj" data-index="!index;" data-corder="!cOrder;" data-error="0">
								<td class="objGroupNumber">0</td>
								<td><div class="objGroup" draggable="true">!title;</div></td>
								<td se-elem="count">--</td>
								<td><button class="btn small green" se-act="team_add"><svg class="icon inline"><use xlink:href="#fa-check" /></svg></button></td>
							</tr>
						</template>
						<thead>
							<tr class="titles"><th># Eq</th><th>Nombre</th><th># Part</th><th>Acciones</th></tr>
						</thead>
						<tbody se-elem="content"></tbody>
					</table>
				</div>
			</div>
			<div class="gr_sz02">
				<h4>Campos</h4>
				<div se-elem="fields">
					<template>
						<label class="object_element"><input type="checkbox" name="selected" value="1" !checked;><div>!title;</div></label>
					</template>
					<div se-elem="content"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<h3>Partidas actuales</h3>
		<div se-elem="matches_current">
			<table class="se_table wide alternate border">
				<template>
					<tr class="matchRow" data-status="!mStatus;" data-index="!index;" data-id="!id;">
						<td>!mOrder;</td>
						<td>!gTimeDay;</td>
						<td>!gTimeHour;</td>
						<td>!t1_name;</td>
						<td>!t1_points;</td>
						<td>
							<svg class="icon inline" data-mode="side" data-status="!t1_side;"><use xlink:href="#fa-flag" /></svg>
							<svg class="icon inline" data-mode="win" data-status="!t1_status;"><use xlink:href="#fa-trophy" /></svg>
						</td>
						<td>!t2_name;</td>
						<td>!t2_points;</td>
						<td>
							<svg class="icon inline" data-mode="side" data-status="!t2_side;"><use xlink:href="#fa-flag" /></svg>
							<svg class="icon inline" data-mode="win" data-status="!t2_status;"><use xlink:href="#fa-trophy" /></svg>
						</td>
						<td>
							<button class="btn small red" se-act="matchDel"><svg class="icon inline"><use xlink:href="#fa-trash-o" /></svg></button>
						</td>
					</tr>
				</template>
				<thead>
				<tr class="titles">
					<th colspan="3"></th>
					<th colspan="3">Equipo 1</th>
					<th colspan="3">Equipo 2</th>
					<th></th>
				</tr>
				<tr class="titles">
					<th>#</th>
					<th>Dia</th>
					<th>Hora</th>
					<th>Nombre</th>
					<th>Puntos</th>
					<th>Datos</th>
					<th>Nombre</th>
					<th>Puntos</th>
					<th>Datos</th>
					<th>Acciones</th>
				</tr>
				</thead>
				<tbody se-elem="content"></tbody>
			</table>
		</div>
	</div>
</div>