﻿<div se-plugin="uwp_page_games_matches">
	<div se-elem="navigation" aria-hidden="true" data-mode="matches_all">
		<div class="page_title">Todas partidas del evento</div>
	</div>
	<div se-elem="navigation" aria-hidden="true" data-mode="games_all">
		<div class="page_title">Juego: ${params.gTitle} - Partidas</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=games">Juegos</a>
				<a se-nav-uwp="?page=games_single_structure&gId=${params.gId}">${params.gTitle}</a>
			</div>
			<div class="normal">
				<a se-nav-uwp="?page=games_single_structure&gId=${params.gId}">Estructura</a>
				<a se-nav-uwp="?page=games_single_groups_list&gId=${params.gId}">Grupos</a>
				<a se-nav-uwp="?page=games_matches&gId=${params.gId}">Partidas</a>
				<a se-nav-uwp="?page=games_single_teams&gId=${params.gId}">Equipos</a>
			</div>
		</div>
	</div>
	<div se-elem="navigation" aria-hidden="true" data-mode="section_all">
		<div class="page_title">Juego: ${params.gTitle} - ${params.cTitle} - Partidas</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=games">Juegos</a>
				<a se-nav-uwp="?page=games_single_structure&gId=${params.gId}">${params.gTitle}</a>
				<a se-nav-uwp="?page=games_single_section_groups_structure&gId=${params.gId}&gsId=${params.gsId}">${params.cTitle}</a>
			</div>
			<div class="normal">
				<a se-nav-uwp="?page=games_single_section_groups_structure&gId=${params.gId}&gsId=${params.gsId}">Estructura</a>
				<a se-nav-uwp="?page=games_matches&gId=${params.gId}&gsId=${params.gsId}">Partidas</a>
			</div>
		</div>
	</div>
	<div se-elem="navigation" aria-hidden="true" data-mode="group_all">
		<div class="page_title">Juego: ${params.gTitle} - ${params.cTitle} - ${params.ggTitle} - Partidas</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=games">Juegos</a>
				<a se-nav-uwp="?page=games_single_structure&gId=${params.gId}">${params.gTitle}</a>
				<a se-nav-uwp="?page=games_single_section_groups_structure&gId=${params.gId}&gsId=${params.gsId}">${params.cTitle}</a>
			</div>
			<div class="normal">
				<a se-nav-uwp="?page=games_matches&gId=${params.gId}&gsId=${params.gsId}&ggId=${params.ggId}">Partidas</a>
				<a se-nav-uwp="?page=games_single_section_group_results&gId=${params.gId}&gsId=${params.gsId}&ggId=${params.ggId}">Resultados</a>
				<a se-nav-uwp="?page=games_single_section_group_print&gId=${params.gId}&gsId=${params.gsId}&ggId=${params.ggId}">Impresiones</a>
			</div>
		</div>
	</div>
	<div se-elem="navigation" aria-hidden="true" data-mode="team_single">
		<div class="page_title">Juego: ${params.gTitle} - Equipo: ${params.tTitle} - Partidas</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=games">Juegos</a>
				<a se-nav-uwp="?page=games_single_teams&gId=${params.gId}">Equipos</a>
			</div>
			<div class="normal">
				<a se-nav-uwp="?page=games_matches&gId=${params.gId}&tIndex=${params.tIndex}">Partidas</a>
				<a se-nav-uwp="?page=games_team_players&gId=${params.gId}&tIndex=${params.tIndex}">Integrantes</a>
			</div>
		</div>
	</div>

	<!-- INI: CONTENT--->
	<div>
		<dialog se-elem="status">
			<form class="se_form" method="dialog">
				<input type="hidden" name="index" value="" />
				<div class="matchStatus">
					<label><input type="radio" name="mStatus" value="0" se-elem-replace="mStatus" /><div data-type="0" class="text">Cancelado</div></label>
					<label><input type="radio" name="mStatus" value="1" /> <div data-type="1" class="text">Listo</div></label>
					<label><input type="radio" name="mStatus" value="2" /> <div data-type="2" class="text">En espera</div></label>
					<label><input type="radio" name="mStatus" value="3" /> <div data-type="3" class="text">En Progreso</div></label>
					<label><input type="radio" name="mStatus" value="4" /> <div data-type="4" class="text">Terminado</div></label>
				</div>

				<button type="submit" class="btn blue wide">
					<svg class="icon inline mr"><use xlink:href="#fa-check" /></svg> Actualizar
				</button>
				<button type="button" class="btn wide" se-act="statusUpdCancel">
					<svg class="icon inline mr"><use xlink:href="#fa-remove" /></svg> Cancelar
				</button>
				<output se-elem="output"></output>
			</form>
		</dialog>

		<dialog se-elem="side">
			<form class="se_form match_pickside" method="dialog">
				<input type="hidden" name="index" value="" />
				<table class="se_table wide border gOMB">
					<thead>
						<tr><th>Equipo</th><th class="team_01">Azul</th><th class="team_02">Rojo</th></tr>
					</thead>
					<tbody>
						<tr>
							<td se-elem="t1_name"></td>
							<td><input type="radio" name="t1_side" value="1" required/><span class="cont"></span></td>
							<td><input type="radio" name="t1_side" value="2" required/><span class="cont"></span></td>
						</tr>
						<tr>
							<td se-elem="t2_name"></td>
							<td><input type="radio" name="t2_side" value="1" required/><span class="cont"></span></td>
							<td><input type="radio" name="t2_side" value="2" required/><span class="cont"></span></td>
						</tr>
					</tbody>
				</table>

				<button type="submit" class="btn blue wide">
					<svg class="icon inline mr"><use xlink:href="#fa-check" /></svg> Actualizar
				</button>
				<button type="button" class="btn wide" se-act="sideUpdCancel">
					<svg class="icon inline mr"><use xlink:href="#fa-remove" /></svg> Cancelar
				</button>
				<output se-elem="output"></output>
			</form>
		</dialog>

		<div class="grid gOMB">
			<div></div>
			<div></div>
			<div>
				<div class="modInput gOMB">
					<input type="search" se-elem="searchTeam"><svg class="icon inline"><use xlink:href="#fa-search" /></svg>
				</div>
				<button class="btn blue" se-act="teamFiltering"><svg class="icon inline mr"><use xlink:href="#fa-filter" /></svg>Filtrar</button>
			</div>
		</div>

		<table class="se_table wide alternate border">
			<template>
				<tr class="matchRow" data-status="!mStatus;" data-index="!index;">
					<td>!mOrder;</td>
					<td>!gsTitle;</td>
					<td>!ggTitle;</td>
					<td>!gTimeDay;</td>
					<td>!gTimeHour;</td>
					<td se-elem="teamName">!t1_name;</td>
					<td>!t1_points;</td>
					<td>
						<svg class="icon inline" data-mode="side" data-status="!t1_side;" data-side="1"><use xlink:href="#fa-flag" /></svg>
						<svg class="icon inline" data-mode="win" data-status="!t1_status;" data-side="1"><use xlink:href="#fa-trophy" /></svg>
					</td>
					<td se-elem="teamName">!t2_name;</td>
					<td>!t2_points;</td>
					<td>
						<svg class="icon inline" data-mode="side" data-status="!t2_side;" data-side="2"><use xlink:href="#fa-flag" /></svg>
						<svg class="icon inline" data-mode="win" data-status="!t2_status;" data-side="2"><use xlink:href="#fa-trophy" /></svg>
					</td>
					<td>
						<button class="btn small blue" se-nav-uwp="?page=games_match_single&gId=!gId;&index=!index;"><svg class="icon inline"><use xlink:href="#fa-eye" /></svg></button>
						<button class="btn small blue" se-act="sideUpd"><svg class="icon inline"><use xlink:href="#fa-flag" /></svg></button>
						<button class="btn small blue" se-act="statusUpd"><svg class="icon inline"><use xlink:href="#fa-list" /></svg></button>
					</td>
				</tr>
			</template>
			<thead>
				<tr class="titles">
					<th colspan="5"></th>
					<th colspan="3">Equipo 1</th>
					<th colspan="3">Equipo 2</th>
					<th></th>
				</tr>
				<tr class="titles">
					<th>#</th>
					<th>Sección</th>
					<th>Grupo</th>
					<th>Dia</th>
					<th>Hora</th>
					<th>Nombre</th>
					<th>Puntos</th>
					<th>Datos</th>
					<th>Nombre</th>
					<th>Puntos</th>
					<th>Datos</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody se-elem="content"></tbody>
		</table>
	</div>
	<!-- END: CONTENT--->
</div>