﻿<div se-plugin="uwp_page_games_match_single">
	<div se-elem="navigation">
		<div class="page_title">Juego: ${params.gTitle} - Partida: ${params.index}</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=games">Juegos</a>
				<a se-nav-uwp="?page=games_matches&gId=${params.gId}">Partidas</a>
			</div>
			<div class="normal">
			</div>
		</div>
	</div>

	<div>
		<!-- INI:Header -->
		<div class="grid">
			<div>
				<h3>Partida</h3>
				<table class="st_dualtab">
					<tr>
						<td>INDEX</td>
						<td se-elem-replace="index">INDEX</td>
					</tr>
					<tr>
						<td>ID</td>
						<td se-elem-replace="id">ID</td>
					</tr>
					<tr>
						<td>Orden</td>
						<td se-elem-replace="mOrder">Hora</td>
					</tr>
					<tr>
						<td>Fecha</td>
						<td se-elem-replace="gTimeDay">Fecha</td>
					</tr>
					<tr>
						<td>Hora</td>
						<td se-elem-replace="gTimeHour">Hora</td>
					</tr>
				</table>
			</div>
			<div>
				<h3>Avance</h3>
				<form se-elem="match">
					<div class="matchStatus">
						<label><input type="radio" name="mStatus" value="0" se-elem-replace="mStatus" /><div data-type="0" class="text">Cancelado</div></label>
						<label><input type="radio" name="mStatus" value="1" /> <div data-type="1" class="text">Listo</div></label>
						<label><input type="radio" name="mStatus" value="2" /> <div data-type="2" class="text">En Espera</div></label>
						<label><input type="radio" name="mStatus" value="3" /> <div data-type="3" class="text">En progreso</div></label>
						<label><input type="radio" name="mStatus" value="4" /> <div data-type="4" class="text">Terminado</div></label>
					</div>
				</form>
			</div>
			<div>
				<h3>Equipos</h3>
				<form se-elem="teamMod">
					<table class="se_table border">
						<thead>
						<tr class="titles">
							<th>Nombre</th>
							<th>Puntos</th>
							<th>Lado</th>
							<th>Ganador</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td se-elem-replace="t1_name">E1 Nombre</td>
							<td se-elem-replace="t1_points">E1 Puntos</td>
							<td>
								<div class="teamSide">
									<label><input type="radio" name="t1_side" value="0" se-elem-replace="t1_side" /> <div data-type="0" class="text"><svg class="icon inline"><use xlink:href="#fa-flag" /></svg></div></label>
									<label><input type="radio" name="t1_side" value="1" /> <div data-type="1" class="text"><svg class="icon inline"><use xlink:href="#fa-flag" /></svg></div></label>
									<label><input type="radio" name="t1_side" value="2" /> <div data-type="2" class="text"><svg class="icon inline"><use xlink:href="#fa-flag" /></svg></div></label>
								</div>
							</td>
							<td>
								<div class="winStatus">
									<label><input type="radio" name="t1_status" value="0" se-elem-replace="t1_status" /> <div data-type="0" class="text"><svg class="icon inline"><use xlink:href="#fa-trophy" /></svg></div></label>
									<label><input type="radio" name="t1_status" value="1" /> <div data-type="1" class="text"><svg class="icon inline"><use xlink:href="#fa-trophy" /></svg></div></label>
									<label><input type="radio" name="t1_status" value="2" /> <div data-type="2" class="text"><svg class="icon inline"><use xlink:href="#fa-trophy" /></svg></div></label>
									<label><input type="radio" name="t1_status" value="3" /> <div data-type="3" class="text"><svg class="icon inline"><use xlink:href="#fa-trophy" /></svg></div></label>
								</div>
							</td>
						</tr>
						<tr>
							<td se-elem-replace="t2_name">E2 Nombre</td>
							<td se-elem-replace="t2_points">E2 Puntos</td>
							<td>
								<div class="teamSide">
									<label><input type="radio" name="t2_side" value="0" se-elem-replace="t2_side" /> <div data-type="0" class="text"><svg class="icon inline"><use xlink:href="#fa-flag" /></svg></div></label>
									<label><input type="radio" name="t2_side" value="1" /> <div data-type="1" class="text"><svg class="icon inline"><use xlink:href="#fa-flag" /></svg></div></label>
									<label><input type="radio" name="t2_side" value="2" /> <div data-type="2" class="text"><svg class="icon inline"><use xlink:href="#fa-flag" /></svg></div></label>
								</div>
							</td>
							<td>
								<div class="winStatus">
									<label><input type="radio" name="t2_status" value="0" se-elem-replace="t2_status" /> <div data-type="0" class="text"><svg class="icon inline"><use xlink:href="#fa-trophy" /></svg></div></label>
									<label><input type="radio" name="t2_status" value="1" /> <div data-type="1" class="text"><svg class="icon inline"><use xlink:href="#fa-trophy" /></svg></div></label>
									<label><input type="radio" name="t2_status" value="2" /> <div data-type="2" class="text"><svg class="icon inline"><use xlink:href="#fa-trophy" /></svg></div></label>
									<label><input type="radio" name="t2_status" value="3" /> <div data-type="3" class="text"><svg class="icon inline"><use xlink:href="#fa-trophy" /></svg></div></label>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
		<!-- END:Header -->
		<!-- INI:Events -->
		<div se-elem="eventDisplay">
			<h2>Eventos</h2>
			<div class="grid">
				<div class="ev_tl" se-elem="chronicle">
					<div class="top">
						<div class="ini">00:00</div>
						<div class="seps"></div>
						<div class="end"></div>
					</div>
					<div class="rTotal"><div class="rAdv"></div></div>
					<template>
						<div se-id="!id;" class="marker" data-type="!type;" data-side="!side;" style="--reltime:!relTime;%">
							<div class="tip"></div>
							<div class="index">!id;</div>
						</div>
					</template>
					<div class="ev_tl_m" se-elem="content">
					</div>
					<div class="sections">
						<div class="automatic"></div>
						<div class="seleted"></div>
						<div class="team01"></div>
						<div class="team02"></div>
					</div>
				</div>
				<div se-elem="ev_list">
					<table class="se_table wide alternate selectable border matchEvents">
						<template>
							<tr data-status="!id;" data-type="!type;">
								<td>!id;</td>
								<td>!timeText;</td>
								<td>!dataContent;</td>
								<td>!userNumber;</td>
								<td>
									<button class="btn small blue" se-act="eventUpd"><svg class="icon inline"><use xlink:href="#fa-pencil" /></svg></button>
									<button class="btn small blue" se-act="eventDel"><svg class="icon inline"><use xlink:href="#fa-trash-o" /></svg></button>
								</td>
							</tr>
						</template>
						<thead>
							<tr class="titles">
								<th>#</th>
								<th>Tiempo</th>
								<th>Información</th>
								<th><svg class="icon inline"><use xlink:href="#fa-user" /></svg></th>
								<th>Ops</th>
							</tr>
						</thead>
						<tbody se-elem="content"></tbody>
					</table>
				</div>
			</div>
			<dialog se-elem="editEvent">
				<h2>Editar evento</h2>
				<form class="se_form" method="dialog">
					<input type="hidden" name="id" value="" />
					<div class="grid">
						<div class="gr_sz04">
							<div class="separator required">
								<label>
									<div class="cont"><span class="title">Lado</span><span class="desc"></span></div>
									<div class="radioList">
										<label><input type="radio" name="devSide" value="1" required/><span class="cont">Azul</span></label>
										<label><input type="radio" name="devSide" value="2" required/><span class="cont">Rojo</span></label>
									</div>
								</label>
							</div>
							<div class="separator required">
								<label>
									<div class="cont"><span class="title">Tiempo</span><span class="desc"></span></div>
									<div class="property" se-elem="time">
										<input type="range" name="time" value="0" min="0" max="600" />
										<input type="text" name="timeTxt" class="fakeInput" value="00:00" placeholder="mm:ss" pattern="[0-5][0-9]:[0-5][0-9]" required />
									</div>
								</label>
							</div>
						</div>
						<div class="gr_sz04">
							<div class="separator required">
								<label>
									<div class="cont"><span class="title">Jugador</span><span class="desc"></span></div>
									<select name="devUser" class="playerAction" size="10">
										<option value="0" selected>000 - Ninguno</option>
									</select>
								</label>
							</div>
						</div>
						<div class="gr_sz04 menu">
							<button type="submit" class="btn blue wide">
								<svg class="icon inline mr"><use xlink:href="#fa-check" /></svg> Actualizar
							</button>
							<button type="button" class="btn wide" se-act="eventUpdCancel">
								<svg class="icon inline mr"><use xlink:href="#fa-remove" /></svg> Cancelar
							</button>
							<output se-elem="output"></output>
							<button type="button" class="btn red wide" se-act="eventDel">
								<svg class="icon inline mr"><use xlink:href="#fa-trash-o" /></svg> Borrar
							</button>
						</div>
					</div>
				</form>
			</dialog>
		</div>
		<!-- END:Events -->
		<!-- INI:Actions -->
		<div se-elem="events">
			<h2>Agregar acciones</h2>
			<form class="actionCreate" se-elem="actions">
				<div class="grid">
					<div>
						<h4>Dispositivos</h4>
						<div class="property" se-elem="devices">
							<input type="hidden" name="deviceId" />
							<template>
								<div class="object" data-id="!id;" data-type="!type;"><svg class="icon inline mr"><use xlink:href="#!icon;" /></svg>!title;</div>
							</template>
							<div class="objectList" se-elem="content"></div>
						</div>
					</div>
					<div>
						<h4>Acción</h4>
						<div class="property" se-elem="side">
							<input type="hidden" name="side" />
							<div class="objectList">
								<div class="object side" data-side="1">Azul</div>
								<div class="object side" data-side="2">Rojo</div>
							</div>
						</div>
						<h4>Tiempo</h4>
						<div class="property" se-elem="time">
							<input type="range" name="timeInt" value="0" min="0" max="600" />
							<input type="text" name="timeTxt" class="fakeInput" value="00:00" placeholder="mm:ss" pattern="[0-5][0-9]:[0-5][0-9]" required />
						</div>
					</div>
					<div>
						<h4>Jugador</h4>
						<div class="property" se-elem="">
							<select name="userId" class="playerAction" size="10">
								<option value="0">000 - Ninguno</option>
							</select>
						</div>
						<div class="objectList">
							<button type="submit" class="btn blue wide">
								<svg class="icon inline mr"><use xlink:href="#fa-plus" /></svg> Crear
							</button>
							<button type="button" class="btn blue wide" se-act="runGameSimulation">
								<svg class="icon inline mr"><use xlink:href="#fa-refresh" /></svg> Correr simulación
						</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- END:Actions -->
		<!-- INI:Score manual -->
		<div>
			<h2>Puntajes (Override)</h2>
			<div class="grid">
				<div>
					<h3>Equipos</h3>
					<div>
						<table class="se_table wide alternate border teamPoints" se-elem="teamsPoints">
							<template>
								<tr data-id="!id;" data-title="!title;">
									<td>!title;</td>
									<td>!points; (!pointsMax;)</td>
									<td><input type="number" name="side_01_value_!id;" value="!s_1_c;" min="0" max="!pointsMax;" data-side="1" /></td>
									<td data-side="1">!s_1_p;</td>
									<td><input type="number" name="side_02_value_!id;" value="!s_2_c;" min="0" max="!pointsMax;" data-side="2" /></td>
									<td data-side="2">!s_2_p;</td>
								</tr>
							</template>
							<thead>
								<tr class="titles">
									<th colspan="2"></th>
									<th colspan="2" class="team01" se-elem="team_01">
										<svg class="icon inline mr generalObjectElement"><use xlink:href="#fa-flag" /></svg>
										<span se-elem-replace="t1_name">E1</span>
									</th>
									<th colspan="2" class="team02" se-elem="team_02">
										<svg class="icon inline mr generalObjectElement"><use xlink:href="#fa-flag" /></svg>
										<span se-elem-replace="t2_name">E2</span>
									</th>
								</tr>
								<tr class="titles">
									<th>Concepto</th>
									<th>Valor</th>
									<th>Cantidad</th>
									<th>Total</th>
									<th>Cantidad</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody se-elem="content">

							</tbody>
							<tfoot>
								<tr>
									<td colspan="3"></td>
									<td se-elem="side_1_total">0</td>
									<td></td>
									<td se-elem="side_2_total">0</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
				<div>
					<h2>Individuales</h2>
					<div>
						<table class="se_table wide alternate border playerPoints" se-elem="playerPoints">
							<template>
								<tr data-id="!id;" data-teamid="!teamId;">
									<td>!idPad;</td>
									<td>!title;</td>
									<td se-elem="points">0</td>
								</tr>
							</template>
							<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Puntos</th>
							</tr>
							</thead>
							<tbody se-elem="content">
							<tr data-id="0"><td>000</td><td>No asignados</td><td se-elem="points">0</td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- END:Score manual -->
	</div>
</div>