﻿<div se-plugin="uwp_page_games_single_section_group_match_add_single">
	<div se-elem="navigation">
		<div class="page_title">Juego ${params.gTitle} - ${params.cTitle} - ${params.ggTitle} - Agregar partida</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=games">Juegos</a>
				<a se-nav-uwp="?page=games_single_structure&gId=${params.gId}">${params.gTitle}</a>
				<a se-nav-uwp="?page=games_single_section_groups_structure&gId=${params.gId}&gsId=${params.gsId}">${params.cTitle}</a>
			</div>
			<div class="normal">
				<a se-nav-uwp="?page=games_matches&gId=${params.gId}&gsId=${params.gsId}&ggId=${params.ggId}">Partidas</a>
				<a se-nav-uwp="?page=games_single_section_group_match_add_single&gId=${params.gId}&gsId=${params.gsId}&ggId=${params.ggId}">Agregar partida - individual</a>
				<a se-nav-uwp="?page=games_single_section_group_match_add_many&gId=${params.gId}&gsId=${params.gsId}&ggId=${params.ggId}">Agregar partida - grupo</a>
			</div>
		</div>
	</div>

	<form class="se_form" se-elem="addMatch">
		<div class="grid">
			<div class="gr_sz04">
				<div class="separator required">
					<label>
						<div class="cont"><span class="title">Campo</span><span class="desc"></span></div>
						<select name="fId" required></select>
					</label>
				</div>
				<div class="separator required">
					<label>
						<div class="cont"><span class="title">Time</span><span class="desc"></span></div>
						<input name="timeStart" type="datetime-local" se-plugin="calendarInput" required />
					</label>
				</div>
			</div>
			<div class="gr_sz04">
				<div class="separator required">
					<label>
						<div class="cont"><span class="title">Equipo 1</span><span class="desc"></span></div>
						<select name="tId_1" size="10" required></select>
					</label>
				</div>
			</div>
			<div class="gr_sz04">
				<div class="separator required">
					<label>
						<div class="cont"><span class="title">Equipo 2</span><span class="desc"></span></div>
						<select name="tId_2" size="10" required></select>
					</label>
				</div>
			</div>
		</div>
		<button class="separator" type="submit"><svg class="icon inline mr"><use xlink:href="#fa-plus" /></svg><span se-elem="text">Crear</span></button>
		<output se-elem="response"></output>
	</form>

	<div se-elem="matches">
		<table class="se_table wide alternate border">
			<template>
				<tr class="matchRow" data-status="!mStatus;" data-index="!index;">
					<td>!mOrder;</td>
					<td>!gsTitle;</td>
					<td>!ggTitle;</td>
					<td>!gTimeDay;</td>
					<td>!gTimeHour;</td>
					<td>!t1_name;</td>
					<td>!t1_points;</td>
					<td>
						<svg class="icon inline" data-mode="side" data-status="!t1_side;" data-side="1"><use xlink:href="#fa-flag" /></svg>
						<svg class="icon inline" data-mode="win" data-status="!t1_status;" data-side="1"><use xlink:href="#fa-trophy" /></svg>
					</td>
					<td>!t2_name;</td>
					<td>!t2_points;</td>
					<td>
						<svg class="icon inline" data-mode="side" data-status="!t2_side;" data-side="2"><use xlink:href="#fa-flag" /></svg>
						<svg class="icon inline" data-mode="win" data-status="!t2_status;" data-side="2"><use xlink:href="#fa-trophy" /></svg>
					</td>
					<td>
						<button class="btn small blue" se-nav-uwp="?page=games_match_single&gId=!gId;&index=!index;"><svg class="icon inline"><use xlink:href="#fa-eye" /></svg></button>
						<button class="btn small blue" se-act="sideUpd"><svg class="icon inline"><use xlink:href="#fa-flag" /></svg></button>
					</td>
				</tr>
			</template>
			<thead>
			<tr class="titles">
				<th colspan="5"></th>
				<th colspan="3">Equipo 1</th>
				<th colspan="3">Equipo 2</th>
				<th></th>
			</tr>
			<tr class="titles">
				<th>#</th>
				<th>Categoría</th>
				<th>Grupo</th>
				<th>Dia</th>
				<th>Hora</th>
				<th>Nombre</th>
				<th>Puntos</th>
				<th>Datos</th>
				<th>Nombre</th>
				<th>Puntos</th>
				<th>Datos</th>
				<th>Acciones</th>
			</tr>
			</thead>
			<tbody se-elem="content"></tbody>
		</table>
	</div>
</div>