﻿<div se-plugin="uwp_page_games_single_section_groups_structure">
	<div se-elem="navigation">
		<div class="page_title">Juego: ${params.gTitle} - ${params.cTitle} - Grupos Estructura</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=games">Juegos</a>
				<a se-nav-uwp="?page=games_single_structure&gId=${params.gId}">${params.gTitle}</a>
				<a se-nav-uwp="?page=games_single_section_groups_structure&gId=${params.gId}&gsId=${params.gsId}">${params.cTitle}</a>
			</div>
			<div class="normal">
				<a se-nav-uwp="?page=games_single_section_groups_structure&gId=${params.gId}&gsId=${params.gsId}">Estructura</a>
				<a se-nav-uwp="?page=games_matches&gId=${params.gId}&gsId=${params.gsId}">Partidas</a>
			</div>
		</div>
	</div>

	<style>
		#group_list {}
		#group_list a { display:block; padding:5px; border-radius:3px; background:#DDD; }
		#group_list div[se-elem="groups"] { display:inline-flex; gap:20px; }
		#group_list .group { border-radius:3px; border:1px solid #CCC; padding:10px; background:#EEE; }
		#group_list .group .groupTitle { font-weight:bold; font-size:1.6rem; }
		#group_list .menu { display:flex; gap:10px; flex-direction:column; }
		#group_list .menu a { display:block; padding:6px; border-radius:3px; background:#CCC; }

		.group { display:flex; overflow:auto; min-height:150px; }
		.group > div { flex:1; }
		.group > div + div { padding-left:5px; margin-left:5px; border-left:1px solid #CCC; }
		.gEv_gg_obj {}
		.gEv_gg_obj:hover { background:#FF8080; cursor:pointer; }
		.gEv_gg_field {}
		.gEv_gg_field:hover { background:#FF8080; cursor:pointer; }
		.gSel { background:#DDD; }

		.gEv_a_games input { font-size:1em; }
		.gEv_a_games_sel td { background:#A6FFA6 !important; }
		.gEv_a_games .object { display:block; }
		/* */
		.groupObj { overflow:auto; display:block; margin-bottom:5px; }
		.groupObj .menuToggle { cursor:pointer; padding:5px 10px; background:#CCC; color:#06F; font-weight:bold; }
		.groupObj .menuToggle:hover { background:#AAA; color:#09F; }
		.groupObj .menuLinks { padding:5px; }
		.gEv_gg_obj { border-radius:2px; padding:2px 6px; margin:0 0 2px 0; background:#DDD; cursor:pointer; }
		.gEv_gg_obj:hover { background:#FF8080; }
		.gEv_gg_field { border-radius:2px; padding:2px 6px; margin:0 0 2px 0; background:#DDD; cursor:pointer; }
		.gEv_gg_field:hover { background:#FF8080; }
		.groupObj.gSel .menuToggle { color:#F37577; }
		.groupObj.gSel .menuLinks { background-color:#F5F5F5; }

	</style>

	<template se-elem="groupElement">
		<div class="gEv_gg gEv_gg_obj" data-type="eggo" data-id="!id;">!title;</div>
	</template>
	<template se-elem="groupField">
		<div class="gEv_gg gEv_gg_field" data-type="field" data-id="!id;">!title;</div>
	</template>
	<template se-elem="groupObject">
		<div class="groupObj" data-grid="!id;" data-ocount="0" data-fcount="0">
			<div class="menuToggle">!title;</div>
			<div class="menuLinks group">
				<div class="objs"><h4>Objetos</h4><div data-objtype="objectlist"></div></div>
				<div class="fields"><h4>Campos</h4><div data-objtype="fieldlist"></div></div>
				<div class="ops">
					<h4>Propiedades</h4>
					<table class="st_dualtab">
						<tr><td>Inicio</td><td>!dtStartUNIX;</td></tr>
						<tr><td>Equipos</td><td>!propElementsTotal;</td></tr>
						<tr><td>Partidas totales</td><td>!propMatchesTotal;</td></tr>
						<tr><td>Partidas jugadas</td><td>!propMatchesCompleted;</td></tr>
						<tr><td>Status</td><td>!propStatusGeneral;</td></tr>
					</table>
					<div class="menu">
						<a se-nav-uwp="?page=games_matches&gId=!gId;&gsId=!gsId;&ggId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-list" /></svg>Partidas</a>
						<a se-nav-uwp="?page=games_single_section_group_results&gId=!gId;&gsId=!gsId;&ggId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-group" /></svg>Resumen</a>
						<a se-nav-uwp="?page=games_single_section_group_match_add_many&gId=!gId;&gsId=!gsId;&ggId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-plus" /></svg>Grupo</a>
						<a se-nav-uwp="?page=games_single_section_group_match_add_single&gId=!gId;&gsId=!gsId;&ggId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-plus" /></svg>Individual</a>
						<a se-nav-uwp="?page=games_single_section_group_print&gId=!gId;&gsId=!gsId;&ggId=!id;"><svg class="icon inline mr"><use xlink:href="#fa-print" /></svg>Partidas</a>
					</div>
				</div>
			</div>
		</div>
	</template>

	<!-- INI: CONTENT -->
	<div id="group_list" class="grid" se-elem="groups">
		<div class="gr_sz06">
			<h2>Grupos</h2>
			<div se-elem="groupList"></div>
		</div>
		<div class="gr_sz04">
			<h2>Objetos</h2>
			<div se-elem="elementList" class="mCol_2"></div>
		</div>
		<div class="gr_sz02">
			<h2>Campos</h2>
			<div se-elem="fieldList"></div>
		</div>
	</div>

	<!-- END: CONTENT -->
</div>