﻿<div se-plugin="uwp_page_games_team_players">
	<div se-elem="navigation" aria-hidden="true" data-mode="games_team">
		<div class="page_title">Juego: ${params.gTitle} - Equipo: ${params.tTitle} - Integrantes</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=games">Juegos</a>
				<a se-nav-uwp="?page=games_single_teams&gId=${params.gId}">Equipos</a>
			</div>
			<div class="normal">
				<a se-nav-uwp="?page=games_matches&gId=${params.gId}&tIndex=${params.tIndex}">Partidas</a>
				<a se-nav-uwp="?page=games_team_players&gId=${params.gId}&tIndex=${params.tIndex}">Integrantes</a>
			</div>
		</div>
	</div>
	<div se-elem="navigation" aria-hidden="true" data-mode="team_single">
		<div class="page_title">Equipo: ${params.tTitle}</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=teams_all">Equipos</a>
			</div>
			<div class="normal">
			</div>
		</div>
	</div>
	<div class="grid">
		<div class="gr_sz08">
			<h2>Actuales</h2>
			<table class="se_table wide alternate border">
				<template>
					<tr data-index="!index;">
						<td>!index;</td>
						<td>!title;</td>
						<td><input type="number" value="!eventId;" min="0" max="999" size="3" /></td>
						<td><button class="btn small" title="Borrar" se-act="unlink"><svg class="icon inline mr"><use xlink:href="#fa-trash-o" /></svg></button></td>
					</tr>
				</template>
				<thead>
				<tr>
					<th>Index</th>
					<th>Nombre</th>
					<th>ID Local</th>
					<th>Acciones</th>
				</tr>
				</thead>
				<tbody se-elem="content"></tbody>
			</table>
		</div>
		<div class="gr_sz04">
			<h2>Agregar</h2>
			<form class="se_form" se-elem="addPlayer">
				<input type="hidden" name="index" value="" />
				<input type="hidden" name="lregId" value="" />
				<input type="hidden" name="eurId" value="" />
				<input type="hidden" name="eventId" value="" />
				<input type="hidden" name="action" value="" />
				<div class="separator required">
					<label>
						<div class="cont"><span class="title">Nombre del jugador</span><span class="desc"></span></div>
						<input type="text" name="title" list="event_players" required />
						<datalist id="event_players"></datalist>
					</label>
				</div>
				<button class="separator" type="submit" disabled><svg class="icon inline mr"><use xlink:href="#fa-plus" /></svg><span se-elem="text">Crear</span></button>
				<output se-elem="response"></output>
			</form>
		</div>
	</div>
</div>