﻿<div se-plugin="uwp_page_games_single_section_group_results">

	<div se-elem="navigation">
		<div class="page_title">Juego: ${params.gTitle} - ${params.cTitle} - ${params.ggTitle} - Resultados</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=games">Juegos</a>
				<a se-nav-uwp="?page=games_single_structure&gId=${params.gId}">${params.gTitle}</a>
				<a se-nav-uwp="?page=games_single_section_groups_structure&gId=${params.gId}&gsId=${params.gsId}">${params.cTitle}</a>
			</div>
			<div class="normal">
				<a se-nav-uwp="?page=games_matches&gId=${params.gId}&gsId=${params.gsId}&ggId=${params.ggId}">Partidas</a>
				<a se-nav-uwp="?page=games_single_section_group_results&gId=${params.gId}&gsId=${params.gsId}&ggId=${params.ggId}">Resultados</a>
				<a se-nav-uwp="?page=games_single_section_group_print&gId=${params.gId}&gsId=${params.gsId}&ggId=${params.ggId}">Impresiones</a>
			</div>
		</div>
	</div>

	<div class="grid">
		<div class="gr_sz08 gr_ps02">
			<table class="se_table wide alternate border" se-plugin="simpleTable">
				<template>
					<tr data-id="!id;">
						<td>!title;</td>
						<td>!points;</td>
						<td>!gW;</td>
						<td>!gD;</td>
						<td>!gL;</td>
						<td>
							<button class="btn small blue" se-nav-uwp="?page=games_matches&gId=!gId;&tIndex=!tIndex;"><svg class="icon inline mr"><use xlink:href="#fa-group" /></svg> Partidas</button>
						</td>
					</tr>
				</template>
				<thead>
					<tr class="titles">
						<th></th>
						<th></th>
						<th colspan="3">Partidas</th>
						<th></th>
					</tr>
					<tr class="titles">
						<th class="sortable">Nombre</th>
						<th class="sortable" data-sorttype="number">Puntaje</th>
						<th class="sortable" data-sorttype="number">G</th>
						<th class="sortable" data-sorttype="number">E</th>
						<th class="sortable" data-sorttype="number">P</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody se-elem="content"></tbody>

		</div>
	</div>
</div>
