﻿<div se-plugin="uwp_page_games_single_teams">
	<div se-elem="navigation" aria-hidden="true" data-mode="teams_all">
		<div class="page_title">Equipos</div>
	</div>
	<div se-elem="navigation" aria-hidden="true" data-mode="teams_game">
		<div class="page_title">Juego: ${params.gTitle} - Equipos</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=games">Juegos</a>
				<a se-nav-uwp="?page=games_single_structure&gId=${params.gId}">${params.gTitle}</a>
			</div>
			<div class="normal">
				<a se-nav-uwp="?page=games_single_structure&gId=${params.gId}">Estructura</a>
				<a se-nav-uwp="?page=games_single_groups_list&gId=${params.gId}">Grupos</a>
				<a se-nav-uwp="?page=games_matches&gId=${params.gId}">Partidas</a>
				<a se-nav-uwp="?page=games_single_teams&gId=${params.gId}">Equipos</a>
			</div>
		</div>
	</div>

	<div class="grid">
		<div class="gr_sz08">
			<table class="se_table wide alternate border" se-plugin="simpleTable">
				<template>
					<tr data-id="!id;" data-index="!index;">
						<td>!title;</td>
						<td><input type="number" name="place" value="!place;" /></td>
						<td>!points;</td>
						<td>!gW;</td>
						<td>!gD;</td>
						<td>!gL;</td>
						<td>!seen;</td>
						<td>
							<button class="btn small blue" se-nav-uwp="?page=games_matches&gId=!gId;&tIndex=!index;"><svg class="icon inline mr"><use xlink:href="#fa-eye" /></svg> Partidas</button>
							<button class="btn small blue" se-nav-uwp="?page=games_team_players&gId=!gId;&tIndex=!index;"><svg class="icon inline mr"><use xlink:href="#fa-group" /></svg> Integrantes</button>
						</td>
					</tr>
				</template>
				<thead>
					<tr class="titles">
						<th></th>
						<th></th>
						<th></th>
						<th colspan="4">Partidas</th>
						<th></th>
					</tr>
					<tr class="titles">
						<th class="sortable">Nombre</th>
						<th>Lugar</th>
						<th class="sortable" data-sorttype="number">Puntaje</th>
						<th class="sortable" data-sorttype="number">G</th>
						<th class="sortable" data-sorttype="number">E</th>
						<th class="sortable" data-sorttype="number">P</th>
						<th class="sortable" data-sorttype="number">T</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody se-elem="content"></tbody>
			</table>
		</div>
		<div class="gr_sz04">
			<h2>Agregar</h2>
			<form class="se_form" se-elem="addTeam">
				<div class="separator required">
					<label>
						<div class="cont"><span class="title">Nombre del equipo</span><span class="desc"></span></div>
						<input type="text" name="title" required />
					</label>
				</div>
				<button class="separator" type="submit"><svg class="icon inline mr"><use xlink:href="#fa-plus" /></svg><span se-elem="text">Crear</span></button>
				<output se-elem="response"></output>
			</form>
		</div>
	</div>
</div>