﻿<div>
	<div class="page_title">Juego: <span></span> - jugadores</div>

	<div class="se_menu_top">
		<div class="breadcrumbs">
			<a se-nav-uwp="?page=games">Juegos</a>
		</div>
		<div class="normal">
			<a se-nav-uwp="?page=games">Grupos</a>
			<a se-nav-uwp="?page=games_matches&gId=15">Partidas</a>
			<a se-nav-uwp="?page=games_single_teams&gId=15">Equipos</a>
			<a se-nav-uwp="?page=games_single_players&gId=15">Jugadores</a>
		</div>
	</div>

	<div se-plugin="uwp_page_games_single_players" class="grid">
		<div class="gr_sz08 gr_ps02">
			<table class="se_table wide alternate border">
				<template>
					<tr data-id="!id;">
						<td>!tTitle;</td>
						<td>!uName;</td>
						<td><input type="number" name="eventId" value="!eventId;" min="0" max="9999" /></td>
						<td>
						</td>
					</tr>
				</template>
				<thead>
					<tr class="titles">
						<th>Equipo</th>
						<th>Nombre</th>
						<th>ID</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody se-elem="content"></tbody>
			</table>
		</div>
	</div>
</div>