﻿<div class="page_title">Inscripciones</div>
<div se-plugin="uwp_page_registration">
    <div class="grid gOMB">
        <div class="gr_sz04">
            <h2>Registrar (automatico)</h2>
            <form class="tabLessForm" se-elem="registerCheck">
                <input class="elem" type="text" name="shortId" maxlength="12" placeholder="User Pass" />
                <input class="elem" type="number" name="eventId" maxlength="5" placeholder="Event ID" />
                <output se-elem="response"></output>
            </form>
        </div>
        <div class="gr_sz04">
            <h2>Registrar nuevo</h2>
            <form class="tabLessForm" se-elem="registerNew">
                <input class="elem" type="text" name="uName" maxlength="50" placeholder="Nombre" />
                <input class="elem" type="number" name="eventId" maxlength="5" placeholder="Event ID" />
                <output se-elem="response"></output>
            </form>
        </div>
    </div>
    <div>
        <table class="se_table alternate wide border" se-elem="registered" se-plugin="simpleTable">
            <template>
                <tr>
                    <td>!id;</td>
                    <td>!shortId;</td>
                    <td>!eventId;</td>
                    <td>!dtAdd;</td>
                    <td>!regType;</td>
                    <td>!uName;</td>
                    <td>!tName;</td>
                    <td>!regName;</td>
                    <td>!gasType;<br />!shirtSize;<br />!marker;</td>
                    <td>!games;</td>
                </tr>
            </template>
            <thead>
                <tr class="titles">
                    <th></th>
                    <th><input data-filter="shortId" /></th>
                    <th><input data-filter="eventId" /></th>
                    <th></th>
                    <th></th>
                    <th><input data-filter="uName" /></th>
                    <th><input data-filter="tName" /></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr class="titles">
                    <th class="sortable" data-sorttype="number">ID</th>
                    <th>Pass Code</th>
                    <th>Event Id</th>
                    <th class="sortable">Fecha</th>
                    <th>Tipo</th>
                    <th class="sortable">Nombre</th>
                    <th class="sortable">Equipo</th>
                    <th class="sortable">Registrante</th>
                    <th>Datos</th>
                    <th>Equipos</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>