﻿<div class="page_title">Temporada - Jugadores</div>
<div se-plugin="uwp_page_season_players">
    <div>
        <!-- <button class="btn blue" se-act="showAll"><svg class="icon inline mr"><use xlink:href="#fa-eye" /></svg>Mostrar todos</button>
        <button class="btn blue" se-act="hideAll"><svg class="icon inline mr"><use xlink:href="#fa-eye" /></svg>Ocultar</button> -->
        <table class="se_table alternate wide border" se-elem="registered" se-plugin="simpleTable">
            <template>
                <tr>
                    <td>!id;</td>
                    <td>!title;</td>
                    <td>!dtAdd;</td>
                    <td>!reclaimKey;</td>
                </tr>
            </template>
            <thead>
                <tr class="titles">
                    <th></th>
                    <th><input data-filter="shortId" /></th>
                    <th><input data-filter="title" /></th>
                    <th></th>
                </tr>
                <tr class="titles">
                    <th class="sortable" data-sorttype="number">ID</th>
                    <th class="sortable">Nombre</th>
                    <th>Agregado</th>
                    <th>Clave</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
