﻿<div id="page_server" class="serverPage" se-plugin="uwp_page_server">
	<div class="page_title">Servidor</div>
	<dialog se-elem="qrCode"><div se-elem="qrObject"></div></dialog>
	<div class="grid">
		<div class="gr_sz08">
			<h2>Agregar</h2>
			<div class="grid">
				<div class="gr_sz06">
					<h3>Juego actual</h3>
					<form class="se_form" se-elem="addGame">
						<label class="separator required">
							<div class="cont"><span class="title">Jugada</span><span class="desc"></span></div>
							<select name="games" required></select>
						</label>
						<label class="separator required">
							<div class="cont"><span class="title">Campo</span><span class="desc"></span></div>
							<select name="fields" required></select>
						</label>
						<label class="separator required">
							<div class="cont"><span class="title">ID del campo</span><span class="desc"></span></div>
							<input type="number" name="serverFieldId" min="1" max="255" required />
						</label>
						<label class="separator required">
							<div class="cont"><span class="title">Server</span><span class="desc"></span></div>
							<select name="confServer" required>
								<option value="server">Server</option>
								<option value="mobile">Mobile</option>
							</select>
						</label>
						<label class="separator required">
							<div class="cont"><span class="title">Puntuación</span><span class="desc"></span></div>
							<select name="confScoring" required>
								<option value="dynamic">Dinámico</option>
								<option value="passivo">Puntuación</option>
							</select>
						</label>
						<label class="separator required">
							<div class="cont"><span class="title">Modo Conexión</span><span class="desc">Únicamente para modo dinámico</span></div>
							<select name="confConnection" required>
								<option value="wifi">Wifi</option>
								<option value="lora">Lora</option>
								<option value="offline">Offline</option>
							</select>
						</label>
						<button class="separator" type="submit"><svg class="icon inline mr"><use xlink:href="#fa-plus" /></svg><span se-elem="text">Agregar</span></button>
						<output se-elem="response"></output>
					</form>
				</div>
				<div class="gr_sz06">
					<h3>Jugada</h3>
					<form class="se_form" se-elem="addGameType">
						<label class="separator required">
							<div class="cont"><span class="title">Modo de juego</span><span class="desc"></span></div>
							<select name="gamesTypes" required></select>
						</label>
						<label class="separator required">
							<div class="cont"><span class="title">ID del campo</span><span class="desc"></span></div>
							<input type="number" name="serverFieldId" min="1" max="255" required/>
						</label>
						<label class="separator required">
							<div class="cont"><span class="title">Puntuación</span><span class="desc"></span></div>
							<select name="confScoring" required>
								<option value="dynamic">Dinámico</option>
								<option value="passive">Puntuación</option>
							</select>
						</label>
						<label class="separator required">
							<div class="cont"><span class="title">Server</span><span class="desc"></span></div>
							<select name="confServer" required>
								<option value="server">Server</option>
								<option value="mobile">Mobile</option>
							</select>
						</label>
						<label class="separator required">
							<div class="cont"><span class="title">Modo Conexión</span><span class="desc">Únicamente para modo dinámico</span></div>
							<select name="confConnection" required>
								<option value="wifi">Wifi</option>
								<option value="lora">Lora</option>
								<option value="offline">Offline</option>
							</select>
						</label>
						<button class="separator" type="submit"><svg class="icon inline mr"><use xlink:href="#fa-plus" /></svg><span se-elem="text">Agregar</span></button>
						<output se-elem="response"></output>
					</form>
				</div>
			</div>
			<h3>Jugadas actuales en servidor</h3>
			<table class="se_table wide border alternate" se-elem="server_currentFields">
				<template>
					<tr data-id="!id;">
						<td>!id;</td>
						<td>!gsTitle;</td>
						<td>!fTitle;</td>
						<td>!gtTitle;</td>
						<td>!confMatches;</td>
						<td>!confScoring;</td>
						<td>!confServer;</td>
						<td>!confConnection;</td>
						<td>
							<a class="btn small blue" se-nav-uwp="?page=server_field&id=!id;"><svg class="icon inline"><use xlink:href="#fa-eye" /></svg></a>
							<button class="btn small blue" se-act="showQR" data-id="!id;" data-key="!key;"><svg class="icon inline"><use xlink:href="#fa-qrcode" /></svg></button>
							<button class="btn small red" se-act="serverGameRemove"><svg class="icon inline"><use xlink:href="#fa-trash-o" /></svg></button>
						</td>
					</tr>
				</template>
				<thead>
					<tr class="titles">
						<th>ID</th>
						<th>Juego</th>
						<th>Campo</th>
						<th>Modo de Juego</th>
						<th>Jugadas</th>
						<th>Puntuación</th>
						<th>Servidor</th>
						<th>Conexión</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody se-elem="content"></tbody>
			</table>
		</div>

		<div class="gr_sz04">
			<div se-elem="wsContainer">
				<h2>Mensajes WS</h2>
				<div>
					<template>
						<div class="msg" data-type="!type;">
							<div class="time">!time;</div>
							<div class="title">!head;</div>
							<div class="content">!body;</div>
						</div>
					</template>
					<h3>Actuales</h3>
					<div class="wsFilters" se-elem="messageFilter">
						<button se-type="1">Generales</button>
						<button se-type="2">Servidor</button>
						<button se-type="3">Salientes</button>
						<button se-type="4">Entrantes</button>
					</div>
					<div class="wsLog" se-elem="content"></div>
					<div>
						<button class="btn blue" se-act="wsClear"><svg class="icon inline mr"><use xlink:href="#fa-trash-o"/></svg> Borrar mensajes</button>
					</div>
				</div>
				<div>
					<h3>Nuevo</h3>
					<form class="wsMessage" se-elem="wsMessage">
						<input type="text" name="head" />
						<textarea name="body"></textarea>
						<button type="submit">Enviar</button>
					</form>
				</div>
			</div>
			<div se-elem="swContainer">
				<h2>Mensajes SW</h2>
				<template>
					<div class="msg">
						<div class="time">!time;</div>
						<div class="content">!content;</div>
					</div>
				</template>
				<div class="swLog" se-elem="content"></div>
				<div>
					<button class="btn blue" se-act="swClear"><svg class="icon inline mr"><use xlink:href="#fa-trash-o" /></svg> Borrar mensajes</button>
				</div>
			</div>
		</div>
	</div>
</div>