﻿	<div id="page_server_field" class="serverField" se-plugin="uwp_page_server_field" data-type="" data-active="0" data-status="0" data-section="0">

	<div se-elem="navigation">
		<div class="page_title">Campo: ${params.id}</div>
		<div class="se_menu_top">
			<div class="breadcrumbs">
				<a se-nav-uwp="?page=server">Servidor</a>
			</div>
			<div class="normal">
			</div>
		</div>
	</div>

	<div se-elem="content">
		<div se-elem="data" class="grid">
			<div class="gr_sz03">
				<h3>Partida</h3>
				<table class="st_dualtab">
					<tr>
						<td>ID Server Field</td>
						<td se-elem-replace="id">ID</td>
					</tr>
					<tr>
						<td>Modalidad</td>
						<td se-elem-replace="gtTitle">Game Mode</td>
					</tr>
					<tr>
						<td>Servidor tipo</td>
						<td se-elem-replace="type">Server mode</td>
					</tr>
					<tr class="typeGameInfo">
						<td>Jugada</td>
						<td se-elem-replace="gTitle">jugada</td>
					</tr>
					<tr class="typeGameInfo">
						<td>Campo</td>
						<td se-elem-replace="fTitle">Campo</td>
					</tr>
					<tr class="typeGameInfo">
						<td>Partida</td>
						<td se-elem-replace="cMatchOrder"># Partida</td>
					</tr>
					<tr class="typeGameInfo">
						<td>Index</td>
						<td se-elem-replace="cMatchIndex">Índice</td>
					</tr>
				</table>
				<h3>Controles</h3>
				<div class="admTimer_btns dataAdmin" se-elem="timerAct">
					<button class="btn_vp_square green" se-act="m_start"><svg class="icon inline"><use xlink:href="#fa-play" /></svg></button>
					<button class="btn_vp_square red" se-act="m_stop"><svg class="icon inline"><use xlink:href="#fa-stop" /></svg></button>
					<button class="btn_vp_square blue" se-act="m_reset"><svg class="icon inline"><use xlink:href="#fa-step-backward" /></svg></button>
					<button class="btn_vp_square blue" se-act="m_next"><svg class="icon inline"><use xlink:href="#fa-fast-forward" /></svg></button>
				</div>
			</div>
			<div class="gr_sz04">
				<h3>Timer</h3>
				<div se-elem="timer">
					<div class="timeText">00:00</div>
					<div class="m_progress"><div class="bar" style="width:100%;"></div></div>
				</div>
				<div class="m_status" se-elem="status">
					<div><div class="status"></div></div>
					<div se-elem="text"></div>
					<div>S:<span se-elem="section_current">0</span>. TT:<span se-elem="timeText_total">0</span></div>
				</div>
				<div class="scoreBoard" se-elem="scoreboard">
					<div class="team home" data-side="1">
						<div se-score="1" class="score">0</div>
						<div se-team="1" class="title" se-elem-replace="t1_name">TEAM 1</div>
					</div>
					<div class="mid">-</div>
					<div class="team visitor" data-side="2">
						<div se-score="2" class="score">0</div>
						<div se-team="2" class="title" se-elem-replace="t2_name">TEAM 2</div>
					</div>
				</div>
			</div>
			<div class="gr_sz05">
				<h3>Campo</h3>
				<div se-elem="map">
					<template>
						<svg data-oid="!id;" class="mapIcon" data-active="!active;" data-side="!side;" data-status="!status;" title="!title;" style="--mapx:!mapx;%;--mapy:!mapy;%;"><use xlink:href="#!mapicon;" /></svg>
					</template>
					<div class="map_field" se-elem="content"></div>
				</div>
			</div>
		</div>
		<div se-elem="eventDisplay">
			<dialog se-elem="editEvent">
				<h2>Editar evento</h2>
				<form class="se_form" method="dialog">
					<input type="hidden" name="id" value="" />
					<div class="separator required">
						<label>
							<div class="cont"><span class="title">ID Jugador</span><span class="desc"></span></div>
							<input type="number" name="devUser" />
						</label>
					</div>
					<button type="submit" class="btn blue wide">
						<svg class="icon inline mr"><use xlink:href="#fa-check" /></svg> Actualizar
					</button>
					<button type="button" class="btn wide" se-act="eventUpdCancel">
						<svg class="icon inline mr"><use xlink:href="#fa-remove" /></svg> Cancelar
					</button>
					<output se-elem="output"></output>
				</form>
			</dialog>
			<h2>Eventos</h2>
			<div class="grid">
				<div class="ev_tl" se-elem="chronicle">
					<div class="top">
						<div class="ini">00:00</div>
						<div class="seps"></div>
						<div class="end"></div>
					</div>
					<div class="rTotal"><div class="rAdv"></div></div>
					<template>
						<div se-id="!id;" class="marker" data-type="!type;" data-side="!side;" style="--reltime:!relTime;%">
							<div class="tip"></div>
							<div class="index">!id;</div>
						</div>
					</template>
					<div class="ev_tl_m" se-elem="content">
					</div>
					<div class="sections">
						<div class="automatic"></div>
						<div class="seleted"></div>
						<div class="team01"></div>
						<div class="team02"></div>
					</div>
				</div>
				<div se-elem="ev_list">
				<table class="se_table wide alternate selectable border matchEvents">
					<template>
						<tr data-index="!id;" data-type="!type;">
							<td>!id;</td>
							<td>!timeText;</td>
							<td>!dataContent;</td>
							<td>!userIndex;</td>
							<td>
								<button class="btn small blue" se-act="actionEdit"><svg class="icon inline"><use xlink:href="#fa-pencil" /></svg></button>
								<button class="btn small blue" se-act="actionDel"><svg class="icon inline"><use xlink:href="#fa-trash-o" /></svg></button>
							</td>
						</tr>
					</template>
					<thead>
					<tr class="titles">
						<th>#</th>
						<th>Tiempo</th>
						<th>Información</th>
						<th>Jugador</th>
						<th>Ops</th>
					</tr>
					</thead>
					<tbody se-elem="content"></tbody>
				</table>
			</div>
			</div>
		</div>
		<div se-elem="events">
			<h2>Acciones</h2>
			<div class="grid">
				<form class="actionCreate gr_sz08 grid" se-elem="actions">
					<div>
						<h4>Dispositivos</h4>
						<div class="property" se-elem="devices">
							<input type="hidden" name="deviceId" />
							<template>
								<div class="object device" data-id="!id;" data-type="!type;" data-active="!active;" data-side="!side;" data-status="!status;"><svg class="icon inline mr"><use xlink:href="#!icon;" /></svg>!title;</div>
							</template>
							<div class="objectList" se-elem="content"></div>
						</div>
					</div>
					<div>
						<h4>Acción</h4>
						<div se-elem="side" style="display:none">
							<h4>Lado</h4>
							<div class="property objectList">
								<input type="hidden" name="side" />
								<div class="object side" data-side="0">Neutral</div>
								<div class="object side" data-side="1">Azul</div>
								<div class="object side" data-side="2">Rojo</div>
							</div>
						</div>
						<div se-elem="status" style="display:none">
							<h4>Status</h4>
							<div class="property">
								<input type="hidden" name="status" />
								<div class="object status" data-status="0">Desactivar</div>
								<div class="object status" data-status="1">Listo</div>
								<div class="object status" data-status="2">Activo</div>
							</div>
						</div>
						<button type="submit" class="btn blue wide">
							<svg class="icon inline mr"><use xlink:href="#fa-plus" /></svg> Crear
						</button>
					</div>
				</form>
				<div class="gr_sz04" se-elem="gameStatus">
					<h4>Status</h4>
					<template se-elem="boolean">
						<label class="onoffswitch" data-index="!index;" data-type="boolean">
							<span class="text">
								<span class="title">!title;</span>
							</span>
							<span class="switch">
								<input type="checkbox" class="cb" data-index="!index;" name="notifications" />
								<span class="display"></span>
							</span>
						</label>
					</template>
					<template se-elem="number">
						<label class="onoffswitch" data-index="!index;" data-type="number">
							<span class="text">
								<span class="title">!title;</span>
							</span>
							<span class="switch">
								<input type="checkbox" class="cb" name="notifications" />
								<span class="display"></span>
							</span>
						</label>
					</template>
					<div se-elem="content"></div>
				</div>
			</div>
		</div>
		<div se-elem="user_scores">
			<h2>Puntajes individuales</h2>
			<div class="grid">
				<div>
					<div>
						<table class="se_table wide alternate border playerPoints" se-elem="playerPoints">
							<template>
								<tr data-id="!id;" data-teamid="!teamId;">
									<td>!idPad;</td>
									<td>!title;</td>
									<td se-elem="points">0</td>
								</tr>
							</template>
							<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Puntos</th>
							</tr>
							</thead>
							<tbody se-elem="content">
							<tr data-id="0"><td>000</td><td>No asignados</td><td se-elem="points">0</td></tr>
							</tbody>
						</table>
					</div>
				</div>
				<div></div>
			</div>
		</div>
	</div>
</div>