﻿<div>
	<div class="page_title">Preferencias</div>
	<div se-plugin="uwp_page_settings">
		<div class="grid">
			<div class="gr_sz04 gr_ps02">
				<h2>Configuración</h2>
				<h3>General</h3>
				<form se-elem="settings">
					<label class="onoffswitch">
						<span class="text">
							<span class="title">Online</span>
							<span class="desc">Trabajar con conexión.</span>
						</span>
						<span class="switch">
							<input type="checkbox" class="cb" name="online" />
							<span class="display"></span>
						</span>
					</label>
				</form>
				<label class="onoffswitch">
					<span class="text">
						<span class="title">Notificaciones</span>
						<span class="desc">Permitir notificaciones en escritorio.</span>
					</span>
					<span class="switch">
						<input type="checkbox" class="cb" name="notifications" />
						<span class="display"></span>
					</span>
				</label>
			</div>
			<div class="gr_sz04">
				<h2>IoT</h2>
				<form class="se_form" se-elem="iot">
					<fieldset>
						<legend>Wi-Fi</legend>
						<label>
							<div class="onoffswitch">
								<span class="text">
									<span class="title">Habilitar wifi</span>
									<span class="desc">Si no está habilitado, el resto puede ser vació.</span>
								</span>
								<span class="switch">
									<input type="checkbox" class="cb" name="wifiEnabled" />
									<span class="display"></span>
								</span>
							</div>
						</label>
						<label class="separator required">
							<div class="cont"><span class="title">SSID</span><span class="desc"></span></div>
							<input type="text" name="wifiSSID" maxlength="32">
						</label>
						<label class="separator required">
							<div class="cont"><span class="title">PASS</span><span class="desc"></span></div>
							<input type="text" name="wifiPass" maxlength="32">
						</label>
						<label class="separator required">
							<div class="cont"><span class="title">Host Address</span><span class="desc"></span></div>
							<input type="text" name="hostAddress" maxlength="32">
						</label>
						<label class="separator required">
							<div class="cont"><span class="title">Server Port</span><span class="desc"></span></div>
							<input type="number" name="serverPort" min="0" max="65535">
						</label>
					</fieldset>
					<fieldset>
						<legend>Lora</legend>
						<label>
							<div class="onoffswitch">
								<span class="text">
									<span class="title">Habilitar lora</span>
									<span class="desc">Si no está habilitado, el resto puede ser vació.</span>
								</span>
								<span class="switch">
									<input type="checkbox" class="cb" name="loraEnabled" />
									<span class="display"></span>
								</span>
							</div>
						</label>
					</fieldset>
					<button class="separator" type="submit"><svg class="icon inline mr"><use xlink:href="#fa-save" /></svg><span se-elem="text">Guardar</span></button>
					<output se-elem="response"></output>
				</form>
			</div>
		</div>
	</div>
</div>