﻿<div>
	<div class="page_title">Evento - Equipos</div>
	<div se-plugin="uwp_page_teams_all" class="grid">
		<div class="gr_sz08 gr_ps02">
			<table class="se_table wide alternate border" se-plugin="simpleTable">
				<template>
					<tr>
						<td>!gTitle;</td>
						<td>!title;</td>
						<td>
							<button class="btn small blue" se-nav-uwp="?page=games_matches&tIndex=!index;"><svg class="icon inline mr"><use xlink:href="#fa-eye" /></svg> Matches</button>
							<button class="btn small blue" se-nav-uwp="?page=games_team_players&tIndex=!index;"><svg class="icon inline mr"><use xlink:href="#fa-group" /></svg> Integrantes</button>
						</td>
					</tr>
				</template>
				<thead>
					<tr class="titles">
						<th class="sortable">Jugada</th>
						<th class="sortable">Nombre</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody se-elem="content"></tbody>
			</table>
		</div>
	</div>
</div>