﻿body {
	/* Uncomment this to enable scrolling and zooming
	touch-action:manipulation;
	*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.6rem;
	--color-side-00-main:#666;
	--color-side-00-high:#AAA;
	--color-side-01-main:#1D37FF;
	--color-side-01-high:#3c72ff;
	--color-side-01-inactive:#131c58;
	--color-side-02-main:#FF8334;
	--color-side-02-high:#ff9b2f;
	--color-side-02-inactive:#c2612a;

	--color-match-status-00-main:#EE4A47;
	--color-match-status-01-main:#32EE5D;
	--color-match-status-02-main:#E7EE68;
	--color-match-status-03-main:#00ACEE;
	--color-match-status-04-main:#2350EE;
}

html { font-size:10px; }

h1,h2,h3,h4,h5,h6 { font-family:Verdana, Geneva, sans-serif; margin-bottom:10px; }
h1 { font-size:2.0rem; }
h2 { font-size:1.8rem; }
h3 { font-size:1.6rem; font-weight:bold; }
h4 { font-size:1.6rem; text-decoration:underline; }
h5 { font-size:1.6rem; }
h6 { font-size:1.6rem; }

@font-face { font-family:"timer"; src:url("../se_font/digitalDismay.otf"); }
@font-face { font-family:"timer2"; src:url("../se_font/TickingTimebombBB.ttf"); }

#app_main {}
#app_header { display:flex; flex-direction:column; width:250px; background-color:#333; color:#FFF; }
#app_header .appTitle { font-size:2.0rem; font-weight:bold; text-align:center; height:50px; }
#app_header .menu { flex:1; }
#app_header .menu a { display:block; padding:10px; cursor:pointer; }
#app_header .menu a:hover { background-color:#666; }
#app_header .footer { text-align:center; padding:10px; border-top:1px solid #FFF; }

#app_header .logo { max-height: calc(100% - 10px); margin-top:5px; }
#app_header .logo svg { height:100%; }

#app_content {}
#app_header { display:flex; flex-direction:row; justify-content:space-between; background-color:#EEE; height:50px; }
#app_body { padding:10px; min-height:calc(100vh - 100px ); margin-bottom:50px; }
#app_footer { padding:10px; background-color:#F5F5F5; }


.page_content { padding:10px; }
.testStile { background-color:#ff0000; }
.page_title { padding-bottom:10px; font-size:2.0rem; font-weight:bold; }

.se_menu_top a { cursor:pointer; }

body[data-admin="0"] .forAdmin { display:none; }
.gen_section {}
.gen_section + .gen_section { margin-top:20px; }


/**/
.mobile_nav { display:flex; position:fixed; top:0; left:0; width:100%; flex-direction:column; z-index:1000; }
.mobile_nav.full { height:100vh; display:flex; }
.mobile_nav .bar { height:50px; background-color:#161616; color:#FFF; display:flex; justify-content:space-between; }
.mobile_nav .bar > * { height:100%; }
.mobile_nav .bar .logo { display:inline-flex; justify-content:center; align-items:center; padding:5px 0; }
.mobile_nav .bar button { color:#FFF; font-size:1.6rem; }
.mobile_logo { height:40px; width:50px; }
.mobile_logo .snk_text, .mobile_logo .snk_body { fill:#FFF; }
.mobile_logo .snk_tounge { fill:#F00; }
/* */
.mobile_nav_menu {}
.mobile_nav_menu button { position:absolute; display:inline-flex; justify-content:center; align-items:center; width:50px; height:50px; top:0; left:0; }
.mobile_nav_menu button:hover { background-color:#262626}
.mobile_nav_menu input[type="checkbox"] { position:absolute; top:0; left:0; width:50px; height:50px; opacity:0; margin:0; cursor:pointer; z-index:1; }
.mobile_nav_menu .navigation { position:absolute; top:50px; left:-80vw; width:80vw; z-index:5; height:calc(100vh - 50px); background-color:#262626; transition:all 0.3s ease-in-out; }
.mobile_nav_menu .background { position:absolute; top:0; left:0; z-index:-1; width:100vw; height:100vh; display:none; background-color:#333333AA; }

.mobile_nav_menu input[type="checkbox"]:checked { z-index:2; width:100vw; height:100vh; }
.mobile_nav_menu input[type="checkbox"]:hover ~ button { background-color:#5A5A5A; }
.mobile_nav_menu input[type="checkbox"]:checked ~ button { background-color:#5A5A5A; }
.mobile_nav_menu input[type="checkbox"]:checked ~ .navigation { left:0; }
.mobile_nav_menu input[type="checkbox"]:checked ~ .background { display:block; }
/* */
.mobile_nav_menu .mainMenu a { display:block; padding:15px 20px; color:#FFF; font-size:1.6rem; cursor:pointer; }
.mobile_nav_menu .mainMenu a + a { border-top:1px solid #ADADAD; }
.mobile_nav_menu .mainMenu a:hover { background-color:#161616; }
.mobile_nav_menu .mainMenu { margin-bottom:10px; }
/**/
.mobile_nav_menu.right button { left:auto; right:0; }
.mobile_nav_menu.right input[type="checkbox"] { left:auto; right:0; }
.mobile_nav_menu.right input[type="checkbox"]:checked { z-index:1; width:100vw; height:100vh; top:0; right:0; }
.mobile_nav_menu.right input[type="checkbox"]:checked ~ .navigation { right:0; left:auto; }
.mobile_nav_menu.right .navigation { right:-80vw; left:auto; }




.mobile_nav .userMenu { min-height:100%; width:70%; border-left:1px solid #333; background-color:#555; color:#FFF; position:absolute; transition:all 0.3s ease-in-out; right:-100%; box-shadow:-3px 0 3px 0 rgba(50,50,50,0.70); }
.mobile_nav .userMenu.sel { right:0; }
.mobile_nav .userMenu a { display:block; padding:16px 16px; border-bottom:1px solid #444; border-top:1px solid #666; color:#FFF; font-size:1.6rem; }
.mobile_nav .userMenu h1, .mobile_nav .userMenu h2, .mobile_nav .userMenu h3 { color:#FFF; }
.mobile_nav .userMenu.user .user { display:block; }
.mobile_nav .userMenu.user .admin { display:none; }
.mobile_nav .userMenu.admin .user { display:none; }
.mobile_nav .userMenu.admin .admin { display:block; }
.mobile_nav .userMenu .user { padding:15px; color:#FFF; }


/* */
#app_header button[se-nav-uwp]:hover { background-color:#DDD; }

/* */
.btn.complex { display:flex; }
.btn.complex .icon { display:flex; align-items:center; justify-content:center; border-radius:50%; height:50px; width:50px; font-size:2.0rem; background-color:#777; color:#fff; }
.btn.complex .icon svg { display:inline-block; fill:currentColor; height:60%; width:60%; }
.btn.complex .text { display:block; text-align:left; margin-left:10px; flex:1; }
.btn.complex .title { display:block; font-weight:bold; margin-bottom:5px; }
.btn.complex .desc { display:block; font-size:1.4rem; }

/* */
.btn.complex.red .icon { background-color:#ff2c33; }
.btn.red, .btn.red:visited { color:#FFF; background-color:#ff5050; border:0; }
.btn.red:hover { background-color:#ff6250; }
.btn.complex.green .icon { background-color:#26d538; }
.btn.green, .btn.green:visited { color:#FFF; background-color:#4ad54a; border:0; }
.btn.green:hover { background-color:#30d530; }
.btn.complex.blue .icon { background-color:#1a65fd; }
.btn.blue, .btn.blue:visited { color:#FFF; background-color:#3778fd; border:0; }
.btn.blue:hover { background-color:#5A96FF; }
.btn.blue:disabled { background-color:#687184; }
.btn.blue:disabled:hover { background-color:#727B8F; }

/* */
.btn.simple { box-shadow:none; }
.btn.small { padding: 3px 7px; }
.btn.big { display: block; padding: 10px; font-weight:bold; box-sizing:border-box; width:100%; text-align:left; }
.btn.big + .btn.big { margin-top: 10px; }
.btn.wide { display:block; width:100%; padding:20px; }

/* onoffswitch */
.onoffswitch { display:flex; padding:15px 0; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; }
.onoffswitch .text { flex:1; margin-right:20px; }
.onoffswitch .text .title { font-weight:bold; display:block; }
.onoffswitch .text .desc { font-size:1.4rem; }
.onoffswitch .switch { position:relative; width:50px; }
.onoffswitch .cb { display:none; }
.onoffswitch .display { display:block; overflow:hidden; height:20px; padding:0; line-height:30px; border:2px solid #999999; border-radius:20px; background-color:#EEE; transition:background-color 0.3s ease-in;}
.onoffswitch .display:before { content:""; display:block; width:20px; height:20px; margin:0; background:#FFFFFF; position:absolute; top:0; bottom:0; right:26px; border:2px solid #999999; border-radius:20px; transition:all 0.3s ease-in 0s; }
.onoffswitch .cb:checked + .display { background-color:#34A7C1; }
.onoffswitch .cb:checked + .display, .onoffswitch .cb:checked + .display:before { border-color:#34A7C1; }
.onoffswitch .cb:checked + .display:before { right:0; }

/* */
div[se-elem="navigation"][aria-hidden="true"] { display:none; }

/*

Game specific


*/
.objList {}
.objList > * { display:block; border-radius:3px; padding:10px; margin-bottom:10px; font-weight:bold; background-color:#EEE; }
.objList > *:hover { background-color:#DDD; }

/* */

.matchRow[data-status] > td:first-child { border-left:3px solid #DDD; }
.matchRow[data-status="0"] > td:first-child { border-left-color:var(--color-match-status-00-main); }
.matchRow[data-status="1"] > td:first-child { border-left-color:var(--color-match-status-01-main); }
.matchRow[data-status="2"] > td:first-child { border-left-color:var(--color-match-status-02-main); }
.matchRow[data-status="3"] > td:first-child { border-left-color:var(--color-match-status-03-main); }
.matchRow[data-status="4"] > td:first-child { border-left-color:var(--color-match-status-04-main); }

.matchRow svg[data-mode="side"][data-status="0"] { color:#CCC; }
.matchRow svg[data-mode="side"][data-status="1"] { color:#DD474F; }
.matchRow svg[data-mode="side"][data-status="2"] { color:#2A4CDD; }

.matchRow svg[data-mode="win"][data-status="0"] { color:#EFEFEF; }
.matchRow svg[data-mode="win"][data-status="1"] { color:#C6C6C6; }
.matchRow svg[data-mode="win"][data-status="2"] { color:#9FA255; }
.matchRow svg[data-mode="win"][data-status="3"] { color:#DDC74F; }

.matchStatus { display:flex; }
.matchStatus input[type="radio"] { display:none; }
.matchStatus div { border-bottom: 2px solid #EEE; background-color:#EEE; cursor:pointer; padding:5px; }
.matchStatus div[data-type="0"] { border-bottom-color:#900; }
.matchStatus div[data-type="1"] { border-bottom-color:#3C9933; }
.matchStatus div[data-type="2"] { border-bottom-color:#E2E056; }
.matchStatus div[data-type="3"] { border-bottom-color:#3296AE; }
.matchStatus div[data-type="4"] { border-bottom-color:#000A99; }
.matchStatus label:hover > div { background-color:#DDD; }
.matchStatus input[type="radio"]:checked + div { background-color:#DDD; }


.teamSide { display:flex; }
.teamSide input[type="radio"] { display:none; }
.teamSide div { background-color:#EEE; cursor:pointer; padding:10px; border-radius:3px; }
.teamSide div[data-type="0"] { color:#BBB; }
.teamSide div[data-type="1"] { color:#009; }
.teamSide div[data-type="2"] { color:#900; }
.teamSide label:hover > div { background-color:#DDD; }
.teamSide input[type="radio"]:checked + div { background-color:#DDD; }


.winStatus { display:flex; }
.winStatus input[type="radio"] { display:none; }
.winStatus div { background-color:#EEE; cursor:pointer; padding:10px; border-radius:3px; }
.winStatus div[data-type="0"] { color:#EFEFEF; }
.winStatus div[data-type="1"] { color:#7E7E7E; }
.winStatus div[data-type="2"] { color:#9FA255; }
.winStatus div[data-type="3"] { color:#E1E273; }
.winStatus label:hover > div { background-color:#DDD; }
.winStatus input[type="radio"]:checked + div { background-color:#DDD; }

/* */
.actionCreate {}
.actionCreate .object { font-weight:bold; padding:20px; border-radius:3px; background-color:#DDD; cursor:pointer; color:#222; margin-bottom:10px; }
.actionCreate .object:hover, .actionCreate .object[aria-selected="true"] { background-color:#CCC; }
/* Device */
.actionCreate .object.device[data-side="1"] svg {color:var(--color-side-01-main); }
.actionCreate .object.device[data-side="1"]:hover svg, .actionCreate .object.device[data-side="1"][aria-selected="true"] svg { color:var(--color-side-01-high); }
.actionCreate .object.device[data-side="2"] svg { color:var(--color-side-02-main);}
.actionCreate .object.device[data-side="2"]:hover svg, .actionCreate .object.device[data-side="2"][aria-selected="true"] svg { color:var(--color-side-02-high); }
/* Action */
.actionCreate .object.action[data-side="1"] { background-color:var(--color-side-01-main); color:#FFF; }
.actionCreate .object.action[data-side="1"]:hover, .actionCreate .object.action[data-side="1"][aria-selected="true"] { background-color:var(--color-side-01-high); color:#FFF; }
.actionCreate .object.action[data-side="2"] { background-color:var(--color-side-02-main); color:#FFF; }
.actionCreate .object.action[data-side="2"]:hover, .actionCreate .object.action[data-side="2"][aria-selected="true"] { background-color:var(--color-side-02-high); color:#FFF; }
/* */
.actionCreate input, .actionCreate select { width:100%; }
.actionCreate div[se-elem="time"] { display:flex; }
.actionCreate div[se-elem="time"] input { margin:0; }
.actionCreate div[se-elem="time"] input[name="timeTxt"] { margin-left:10px; width:60px; }
.actionCreate .property { margin-bottom:15px; }

/* */
.actionCreate div[data-step] { margin-top:20px; min-height:90vh; }
.actionCreate div[data-step][aria-hidden="true"] { display:none; }


.fakeInput { display:block; box-sizing:border-box; width:100%; padding:4px; border:1px solid #999; margin-bottom:5px; border-radius:3px; }

.app_form {}
.app_form input[type="text"], .app_form input[type="url"], .app_form input[text="number"] { width:100%; border-radius:2px; border:1px solid #666; margin-bottom:10px; padding:5px; }
.app_form .title { display:block; font-weight:bold; margin-bottom:5px; }
.app_form .desc { display:block; color:#666; margin-bottom:5px; }
.app_form .desc:empty { display:none; }
.app_form .required .title:after { content:"*"; color:#F00; margin:0 0 0 5px; }
.app_form.double .cont { width:30%; float:left; margin-right:10px;}
.app_form .separator, .app_form fieldset { display:block; margin:0 0 10px 0; }
.app_form .separator_simple { margin-bottom:10px; }

/* */
.st_dualtab { width: 100%; }
.st_dualtab td { padding: 3px 3px 3px 0; }
.st_dualtab td + td { text-align: right; padding-left: 3px; padding-right: 0; }

/* */
.playerPoints {}
.playerPoints tr[data-side="1"] td { background-color: #d7ecff !important; }
.playerPoints tr[data-side="2"] td { background-color: #ffdbe0 !important; }
.playerAction option[data-side="1"] {background-color: #d7ecff; }
.playerAction option[data-side="2"] {background-color: #ffdbe0; }

.server_fields {}
.server_fields .field { display:block; background-color:#DDD; padding:10px; border-radius:2px; cursor:pointer; }
.server_fields .field + .field { margin-top:10px; }

	/* */
[se-elem="object_list"] .objGroupRow {}
[se-elem="object_list"] .objGroup { cursor:pointer; padding:4px;}
[se-elem="object_list"] .objGroup:hover { background-color:#00AA00; }
[se-elem="object_list"] .objGroupNumber {}
[se-elem="object_list"] .gSel td { background-color:#5562aa !important; }

.se_tab > div[role="tablist"] > div { background-color:#DDD; padding:15px; text-align:center; flex:1; }
.se_tab > div[role="tablist"] > div[aria-selected="true"] { background-color:#CCC; }
.se_tab > div[se-elem="panelGroup"] { border:1px solid #DDD; padding:10px; }


/* ScoreBoard */
.scoreBoard { display:flex; margin-bottom:20px; }
.scoreBoard .side { width:45%; color:#FFF; font-weight:bold; padding:5px; }
.scoreBoard .mid { width:10%; text-align:center; }
.scoreBoard .score { font-size:4rem; }
.scoreBoard .title {  }

.scoreBoard .side[data-side="0"], .elementSide[data-side="0"] { background-color:var(--color-side-00-main); color:#FFF; }
.scoreBoard .side[data-side="1"], .elementSide[data-side="1"] { background-color:var(--color-side-01-main); color:#FFF; }
.scoreBoard .side[data-side="2"], .elementSide[data-side="2"]  { background-color:var(--color-side-02-main); color:#FFF; }

.scoreBoard .left .score { float:right; margin-left:10px; }
.scoreBoard .left .title { text-align:left; }
.scoreBoard .right .score { float:left; margin-right:10px; }
.scoreBoard .right .title { text-align:right; }

/* */
.scoreTable { width:100%; table-layout:fixed; margin-bottom:20px; }
.scoreTable tr:nth-child(odd) > td { background-color:#FFF; }
.scoreTable tr:nth-child(even) > td { background-color:#EEE; }
.scoreTable th { padding:8px; }
.scoreTable td { padding:5px; }
.scoreTable input { width:100%; clear:both; margin-bottom:8px; }
.scoreTable td div { width:100%; display:flex; justify-content:space-between; }
.scoreTable td button { padding:10px 15px !important; }
.scoreTable tfoot td { text-align:center; font-weight:bold; padding:4px; }
.scoreTable tfoot td:first-child { text-align:left; }

	/* */
.admTimer_btns { display:flex; border-radius:5px; }
.admTimer_btns button { padding:15px; flex:1; font-size:2.4rem; border-radius:5px; }
.admTimer_btns button + button { margin-left:10px; }
.admTimer_btns .green { color:#EEE; background:#090; }
.admTimer_btns .green:disabled { color:#AAA; background:#005200; cursor:not-allowed; }
.admTimer_btns .red { color:#EEE; background:#C00; }
.admTimer_btns .red:disabled { color:#AAA; background:#870000; cursor:not-allowed; }
.admTimer_btns .blue { color:#EEE; background:#03C; }
.admTimer_btns .blue:disabled { color:#AAA; background:#001862; cursor:not-allowed; }
.admTimer_btns [aria-disabled="true"] { color:#EEE; background:#DDD; cursor:default; }

/* */
.btn_vp_square { cursor:pointer; flex:1; padding:15px; margin-left:10px; text-align:center; border-radius:5px; background-color:#ADADAD; color:#FFF; }
.btn_vp_square:first-child { margin-left:0; }
.btn_vp_square.green { color:#EEE; background:#090; }
.btn_vp_square.green:disabled { color:#AAA; background:#005200; cursor:not-allowed; }
.btn_vp_square.red { color:#EEE; background:#C00; }
.btn_vp_square.red:disabled { color:#AAA; background:#870000; cursor:not-allowed; }
.btn_vp_square.blue { color:#EEE; background:#03C; }
.btn_vp_square.blue:disabled { color:#AAA; background:#001862; cursor:not-allowed; }
.btn_vp_square[aria-disabled="true"] { color:#EEE; background:#DDD; cursor:default; }

/* */
.timeText { font-family:"timer", monospace; display:block; box-sizing:border-box; border:1px solid #666; border-radius:2px; margin-bottom:2px; font-size:5em; text-align:center; min-height:20px; }
/* */
.m_progress { display:block; box-sizing:border-box; border:1px solid #DDD; padding:1px; overflow:auto; margin-bottom:10px; }
.m_progress > div { display:block; box-sizing:border-box; background-color:#006600; height:5px; width:100%; }
.m_progress > div.countdown { background-color:#ba312c; float:right; }
.m_progress > div.normal { background-color:#006600; }
.m_progress > div.end { background-color:#ba312c; width:100%; }

#page_field_advanced {}
#page_field_advanced .m_status { display:flex; justify-content:space-between; margin-bottom:10px; }
#page_field_advanced .m_status .status { height:20px; width:20px; border-radius:50%; background-color:#EEE; }
#page_field_advanced[data-active="0"] .m_status .status { background-color:#900; }
#page_field_advanced[data-active="1"][data-fase="1"] .m_status .status { background-color: #959942; }
#page_field_advanced[data-active="1"][data-fase="2"] .m_status .status { background-color: #415a99; }

/* */
.field_tab div[role="tablist"] { font-size:2.2rem; }

/* */
.map_objective { display:block; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #CCC; }
.map_objective i { font-size:2rem; margin-right:10px; color:#DDD; }
/* Round Progress */
.ev_tl { display:block; position:relative; min-height:150px; }
.ev_tl .rTotal { position:absolute; display:block; top:15px; background-color:#EEE; border-radius:3px; height:5px; width:100%; }
.ev_tl .rAdv { position:absolute; height:5px; border-radius:3px; background-color:#0F0; width:1%; }
.ev_tl .rAdv.end { background-color:#F00; }
.ev_tl .top .ini { position:absolute; left:0; color:#555555; font-size:0.9em; height:20px; z-index:10; border-left:2px solid #222; }
.ev_tl .top .seps { position:absolute; width:100%; font-size:0.7em; color:#AAA; }
.ev_tl .top .seps .sep { position:absolute; border-left:2px solid #666; }
.ev_tl .top .end { position:absolute; right:0; color:#555555; font-size:0.9em; height:20px; z-index:10; border-right:2px solid #222; }
.ev_tl .sections { display:block; position:absolute; width:100%; top:20px; border:1px solid #DDD; box-sizing:border-box; }
.ev_tl .sections div { display:block; height:25px; }
.ev_tl .sections .automatic { background-color:#EEE; }
.ev_tl .sections .seleted { background-color:#CDECE8; }
.ev_tl .sections .team01 { background-color:#ADD3FB; }
.ev_tl .sections .team02 { background-color:#FFBBBC; }
/* EVENTOS - Marcadores */
.ev_tl_m { display:block; position:absolute; width:100%; z-index:10; top:15px; }
.ev_tl_m .marker { position:absolute; background-color:transparent !important; left:var(--reltime); }
.ev_tl_m .marker .tip { height:10px; width:2px; background-color:#333; }
.ev_tl_m .marker .index { background-color:#333; color:#FFF; font-weight:bold; text-align:center; font-size:14px; padding:2px 3px; }
.ev_tl_m .marker[data-type="automatic"] .tip { height:32px; }
.ev_tl_m .marker[data-type="automatic"] .index { }
.ev_tl_m .marker[data-type="device"][data-side="1"] .tip { height:56px; }
.ev_tl_m .marker[data-type="device"][data-side="1"] .index { }
.ev_tl_m .marker[data-type="device"][data-side="2"] .tip { height:81px; }
.ev_tl_m .marker[data-type="device"][data-side="2"] .index { }
.ev_tl_m .marker.cSel .tip, .ev_tl_m .marker:hover .tip { }
.ev_tl_m .marker.cSel .index, .ev_tl_m .marker:hover .index { background-color:#9BFC83; color:#333; cursor:pointer; }
/* Evento mapa */
.map_field { position:relative; min-height:300px; background-color:#648e64; }
.map_field .mapIcon { display:block; position:absolute; width:32px; height:32px; fill:currentColor; color:#DDD; top:calc( var(--mapy) - 16px ); left:calc( var(--mapx) - 16px ); }
.map_field .mapIcon[data-side="1"] { color:var(--color-side-01-main); }
.map_field .mapIcon[data-side="2"] { color:var(--color-side-02-main); }

.map_objective { display:block; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #CCC; }
.map_objective i { font-size:2rem; margin-right:10px; color:#DDD; }

.matchEvents tr[data-type="automatic"] td { background-color:#888 !important; color:#FFF; padding:2px; }
.matchEvents tr[data-type="automatic"] button { display:none; }

/* Página de field game */
.serverField[data-servermode="pasive"] .modeDynamic, .serverField[data-servermode="pasive"] .modeSemi,
.serverField[data-servermode="semi"] .modeDynamic,
.serverField[data-servermode="dynamic"] .modePasive { display:none; }