﻿<div se-plugin="uwp_page_default">
    <div class="page_title">Inicio</div>
	<div>
		<h3>Evento actual</h3>
		<a class="gOMB btn blue wide" se-nav-uwp="?page=groups_all"><svg class="icon inline mr"><use xlink:href="#fa-group" /></svg>Grupos</a>
		<a class="gOMB btn blue wide" se-nav-uwp="?page=fields_all"><svg class="icon inline mr"><use xlink:href="#fa-flag" /></svg>Campos</a>

		<table se-elem="info" class="st_dualtab">
			<tr><td>Evento</td><td se-elem="eventName"></td></tr>
			<tr><td>Registrado</td><td se-elem="UserId"></td></tr>
			<tr><td>Tipo</td><td se-elem="UserId"></td></tr>
		</table>

		<h3>Acciones</h3>
		<button class="gOMB btn red wide" se-act="sync"><svg class="icon inline mr"><use xlink:href="#fa-refresh" /></svg>Sincronizar</button>
		<button class="gOMB btn blue wide" se-act="fullscreen_on"><svg class="icon inline mr"><use xlink:href="#fa-expand" /></svg>Fullscreen On</button>
		<button class="gOMB btn blue wide" se-act="fullscreen_off"><svg class="icon inline mr"><use xlink:href="#fa-compress" /></svg>Fullscreen Off</button>
	</div>
</div>