﻿<div se-plugin="uwp_page_fields_all">
<div class="page_title">Campos</div>
	<div se-elem="server_fields">
		<template>
			<a class="field" se-nav-uwp="?page=field_advanced&id=!id;">
				Campo: !id;<br />
				Modo: !gtTitle;
			</a>
		</template>
		<div class="server_fields" se-elem="content"></div>
	</div>
</div>