﻿<div se-plugin="uwp_page_groups_all">
<div class="page_title">Grupos</div>
	<div se-elem="server_fields">
		<template>
			<a class="field" se-nav-uwp="?page=groups_single&ggId=!id;">!title;</a>
		</template>
		<div class="server_fields" se-elem="content"></div>
	</div>
</div>