﻿<div se-plugin="uwp_page_groups_single">
<div class="page_title">Grupo - !groupName;</div>
	<div se-elem="game_elements">
		<template>
			<div class="matchObj" data-status="!mStatus;">
				<div class="scoreBoard" se-elem="scoreboard">
					<div class="team home" data-side="!t1_side;">
						<div class="score">!t1_points;</div>
						<div class="title">!t1_name;</div>
					</div>
					<div class="mid">-</div>
					<div class="team visitor" data-side="!t2_side;">
						<div class="score">!t2_points;</div>
						<div class="title">!t2_name;</div>
					</div>
				</div>
				<div class="data">
					<div>DATE: !gTimeDay;</div>
					<div>TIME: !gTimeHour;</div>
					<div>FIELD: !fTitle;</div>
					<div>INDEX: !index;</div>
				</div>
			</div>
		</template>
		<div class="matchList" se-elem="content"></div>
	</div>
</div>