﻿<div>
	<div class="page_title">Preferencias</div>
	<div se-plugin="uwp_page_settings">
		<div class="grid">
			<div class="gr_sz06 gr_ps03">
				<h2>Configuración</h2>
				<h3>General</h3>
				<label class="onoffswitch">
					<span class="text">
						<span class="title">Notificaciones</span>
						<span class="desc">Permitir notificaciones.</span>
					</span>
					<span class="switch">
						<input type="checkbox" class="cb" name="notifications" />
						<span class="display"></span>
					</span>
				</label>
				<form se-elem="settings">

				</form>
				<h3>Usuario</h3>
				<div>
					<div se-elem="logged">
						<button class="btn wide red" se-act="userDisconnect"><svg class="icon inline mr"><use xlink:href="#fa-sign-out" /></svg>Desconectar</button>
					</div>
					<div se-elem="notlogged">
						<form class="app_form" se-elem="userLogin">
							<div class="separator required">
								<label>
									<div class="cont"><span class="title">Usuario</span><span class="desc"></span></div>
									<input type="text" name="user" placeholder="Usuario" required />
								</label>
							</div>
							<div class="separator required">
								<label>
									<div class="cont"><span class="title">Contraseña</span><span class="desc"></span></div>
									<input type="text" name="pass" placeholder="Contraseña" required />
								</label>
							</div>
							<button type="submit" class="separator btn blue wide"><svg class="icon inline mr"><use xlink:href="#fa-chain" /></svg>Conectar</button>
							<output se-elem="response"></output>
						</form>
					</div>
				</div>
				<h3>Avanzados</h3>
				<div>
					<button class="btn wide red gOMB" se-act="appReset"><svg class="icon inline mr"><use xlink:href="#fa-refresh" /></svg>Reiniciar</button>
					<a class="btn wide green" href="/cert"><svg class="icon inline mr"><use xlink:href="#fa-bell" /></svg>Certificado</a>
				</div>
			</div>
		</div>
	</div>
</div>