﻿/* DEMO */

.serverField[data-properties-score="passive"] [data-filter="dynamic"] { display:none; }
.serverField[data-properties-score="dynamic"] [data-filter="passive"] { display:none; }
.serverField[data-properties-matches="free"] [data-filter="tournament"] { display:none; }

.serverField [role="tabpanel"] > h2 { text-align:center; }

.fieldPage .mDevice { position:absolute; color:#AAA; }
.fieldPage .mDevice[data-side="1"] { color:#1D37FF; }
.fieldPage .mDevice[data-side="2"] { color:#FF8334; }
.fieldPage .mDevice[data-side="1"][data-actvie="0"] { color:#111D82; }
.fieldPage .mDevice[data-side="2"][data-actvie="0"] { color:#CB6A2A; }
.fieldPage .device { background-color:#f5f5f5; padding:5px; border-left:5px solid #CCC; }
.fieldPage .device[data-side="1"] { border-left-color:#1D37FF; }
.fieldPage .device[data-side="2"] { border-left-color:#FF8334; }
.fieldPage .device[data-side="1"][data-actvie="0"] { border-left-color:#111D82; }
.fieldPage .device[data-side="2"][data-actvie="0"] { border-left-color:#CB6A2A; }
.fieldPage .device + .device { border-top:1px solid #CCC; }
.fieldPage .device .title { font-weight:bold; margin-bottom:5px; }
.fieldPage .device .actions { display:flex; }
.fieldPage .device .actions button { border:0; border-left:5px solid #CCC; padding:4px; border-radius:2px; background-color:#DDD; font-weight:bold; }
.fieldPage .device .actions button:hover { background-color:#CCC; }
.fieldPage .device .actions button[data-side="1"] { border-left-color:#1D37FF; }
.fieldPage .device .actions button[data-side="2"] { border-left-color:#FF8334; }
.fieldPage .device .actions button + button { margin-left:10px; }
.fieldPage .gameStatus { display:block; border-radius:50%; background-color:#E8E8E8; height:22px; width:22px; }
.fieldPage .gameStatus[data-status="0"] { background-color:#367E3C; }
.fieldPage .gameStatus[data-status="1"] { background-color:#0A0; }
.fieldPage .gameStatus[data-status="2"] { background-color:#00A; }
.fieldPage .gameStatus[data-status="3"] { background-color:#0AA; }
.fieldPage .gameStatus[data-status="4"] { background-color:#9A1514; }
.fieldPage .matchOps { display:flex; }
.fieldPage .matchOps button { border:0; padding:8px; border-radius:2px; background-color:#F0F0F0; }
.fieldPage .matchOps button + button { margin-left:5px; }
.fieldPage .matchOps button:hover { background-color:#DDD; }
.fieldPage .teamPoints { display:flex; font-weight:bold; font-size:2.5rem; justify-content:space-between; }
.fieldPage .teamPoints .tp { padding:5px; }
.fieldPage .teamPoints .tp[data-team="1"] { border-left:5px solid #1D37FF; }
.fieldPage .teamPoints .tp[data-team="2"] { border-right:5px solid #FF8334; }
