﻿/* - INI:RESET - */
html { font-size:62.5%; }
body { left:0; top:0; right:0; bottom:0; }
body, h1, h2, h3, h4, h5, h6, ul, ol, li, img, table, td, th, tr, iframe, header, footer, main, aside, article, section, address, div, pre, code, p, button, canvas, audio, video, figure, blockquote { border:0; margin:0; padding:0; box-sizing:border-box; }
table { border-collapse:collapse; border-spacing:0; }
template { display:none; }
input, button, select, textarea { font-family:inherit; font-size:inherit; line-height:inherit; color:inherit; box-sizing:border-box; }
button, select { text-transform:none; }
button { -ms-user-select:none; -moz-user-select:none; -webkit-user-select:none; overflow:visible; background:none; cursor:pointer; display:inline-block; }
img[src=""] { display:none !important; }
ul, ol { padding-left:1.5em; }
/* - END:RESET- */

/* Default colour scheme */
/* - INI:Grid System - */

:root {
	--color-main-00-norm-n:#FFF;
	--color-main-00-cont-n:#000;
	--color-main-00-comp-n:#000;

	--color-main-01-norm-n:#44749D;
	--color-main-01-cont-n:#FFF;
	--color-main-01-comp-n:#9D6D44;
	--color-main-01-norm-h:#5C8EB8;

	--color-main-02-norm-n:#C6D4E1;
	--color-main-02-comp-n:#E1D3C6;
	--color-main-02-cont-n:#E1D3C6;

	--color-main-03-norm-n:#EBE7E0;
	--color-main-03-comp-n:#E0E4EB;
	--color-main-03-norm-l:#F2F2F2;
	--color-main-03-comp-l:#222;
	--color-main-03-norm-h:#F2F2F2;
	--color-main-03-comp-h:#222;

	--color-main-04-norm-n:#BDB8AD;
	--color-main-04-comp-n:#ADB2BD;
	--color-main-04-norm-l:#F2F2F2;
	--color-main-04-comp-l:#222;
	--color-main-04-norm-h:#F2F2F2;
	--color-main-04-comp-h:#222;

	--color-main-05-norm-n:#F2F2F2;
	--color-main-05-comp-n:#222;
	--color-main-05-norm-l:#F2F2F2;
	--color-main-05-comp-l:#222;
	--color-main-05-norm-h:#F2F2F2;
	--color-main-05-comp-h:#222;

	--color-main-06-norm-n:#F2F2F2;
	--color-main-06-comp-n:#222;
	--color-main-06-norm-l:#F2F2F2;
	--color-main-06-comp-l:#222;
	--color-main-06-norm-h:#F2F2F2;
	--color-main-06-comp-h:#222;
}
/* */
.grid { display:-ms-flexbox; display:flex; flex-wrap:wrap; gap:20px; }
.grid > * { -ms-flex:1; flex:1 1 0; box-sizing:border-box; }
.grid > *.gr_sz12 { flex:0 0 100%; }
.grid > *.gr_sz11 { flex:0 0 auto; width:calc((100% + 20px) * 11 / 12 - 20px); }
.grid > *.gr_sz10 { flex:0 0 auto; width:calc((100% + 20px) * 10 / 12 - 20px); }
.grid > *.gr_sz09 { flex:0 0 auto; width:calc((100% + 20px) * 09 / 12 - 20px); }
.grid > *.gr_sz08 { flex:0 0 auto; width:calc((100% + 20px) * 08 / 12 - 20px); }
.grid > *.gr_sz07 { flex:0 0 auto; width:calc((100% + 20px) * 07 / 12 - 20px); }
.grid > *.gr_sz06 { flex:0 0 auto; width:calc((100% + 20px) * 06 / 12 - 20px); }
.grid > *.gr_sz05 { flex:0 0 auto; width:calc((100% + 20px) * 05 / 12 - 20px); }
.grid > *.gr_sz04 { flex:0 0 auto; width:calc((100% + 20px) * 04 / 12 - 20px); }
.grid > *.gr_sz03 { flex:0 0 auto; width:calc((100% + 20px) * 03 / 12 - 20px); }
.grid > *.gr_sz02 { flex:0 0 auto; width:calc((100% + 20px) * 02 / 12 - 20px); }
.grid > *.gr_sz01 { flex:0 0 auto; width:calc((100% + 20px) * 01 / 12 - 20px); }
.grid > *.gr_ps11 { margin-left:calc((100% + 20px) * 11 / 12); }
.grid > *.gr_ps10 { margin-left:calc((100% + 20px) * 10 / 12); }
.grid > *.gr_ps09 { margin-left:calc((100% + 20px) * 09 / 12); }
.grid > *.gr_ps08 { margin-left:calc((100% + 20px) * 08 / 12); }
.grid > *.gr_ps07 { margin-left:calc((100% + 20px) * 07 / 12); }
.grid > *.gr_ps06 { margin-left:calc((100% + 20px) * 06 / 12); }
.grid > *.gr_ps05 { margin-left:calc((100% + 20px) * 05 / 12); }
.grid > *.gr_ps04 { margin-left:calc((100% + 20px) * 04 / 12); }
.grid > *.gr_ps03 { margin-left:calc((100% + 20px) * 03 / 12); }
.grid > *.gr_ps02 { margin-left:calc((100% + 20px) * 02 / 12); }
.grid > *.gr_ps01 { margin-left:calc((100% + 20px) * 01 / 12); }
.grid > *.gr_main { flex:1; }
.grid > *.gr_sec { flex:0; }
.grid.multirow > * { margin-bottom:20px; }
.grid.multirow.mr2 > * { width:calc((100% + 20px) / 2 - 20px); }
.grid.multirow.mr3 > * { width:calc((100% + 20px) / 3 - 20px); }
.grid.multirow.mr4 > * { width:calc((100% + 20px) / 4 - 20px); }
.grid.multirow.mr5 > * { width:calc((100% + 20px) / 5 - 20px); }
.grid.multirow.mr6 > * { width:calc((100% + 20px) / 6 - 20px); }
.grid.multirow.mr2 > *:nth-child(2n+1), .grid.multirow.mr3 > *:nth-child(3n+1), .grid.multirow.mr4 > *:nth-child(4n+1), .grid.multirow.mr5 > *:nth-child(5n+1), .grid.multirow.mr6 > *:nth-child(6n+1) { margin-left:0; }
.grid.center { justify-content:center; }
.grid.split { justify-content:space-between; }
.grid.split > .gr_left { flex:0 0 auto; align-items:flex-start; }
.grid.split > .gr_right { flex:0 0 auto; align-items:flex-end; }
.show_mobile { display:none; }

@media only screen and (max-width:767px) {
	.grid { flex-direction:column; overflow:auto; }
	.grid > * { flex:1 !important; width:100% !important; overflow:hidden; margin:0 !important; }
	.hidden_mobile { display:none !important; visibility:collapse; }
	.hidden_tablet { display:none; }
	.show_mobile { display:block; }
}
@media only screen and (min-width:768px) and (max-width:1024px) {
	.grid.full { display:block; overflow:auto; }
	.grid.full > * { flex:1; display:block; overflow:auto; margin-left:0; width:100% !important; margin-bottom:20px; }
	.hidden_mobile, .hidden_tablet { display:block; }
}
/* -END:Grid System- */

/* - INI:Grid Site - */
.se_vSite { display:flex; min-height:100vh; flex-direction:column; }
.se_vSite main { flex:1; }
.wpContent { box-sizing:border-box; margin:0 auto; }
.se_topNav { z-index:1000; display:flex; position:relative; }
.se_topNav .banner {}
.se_topNav .menu_cont {}
.se_topNav nav { display:flex; }
.se_topNav .btn_menu { display:none; padding:0 12px; }
.se_topNav .logo { display:block; }
.se_topNav .logo img { display:block; height:100%; max-height:100%; max-width:100%; }
@media only screen and (max-width:767px) {
	.se_topNav .menu_cont { position:absolute; overflow:visible; }
	.se_topNav { display:block; overflow:visible; }
	.se_topNav .menu_cont { display:none; position:fixed; left:0; overflow:visible; width:100vw; min-height:50vh; }
	.se_topNav .menu_cont.open { display:block; }
	.se_topNav .banner { display:flex; justify-content:space-between; margin:0; }
	.se_topNav .banner .btn_menu { display:inline-flex; }
	.se_topNav nav { display:block; position:absolute; overflow-y:scroll; height:100%; width:85%; }
	.se_topNav nav > * { display:block; }
}
.se_navBar { z-index:100; }
.se_navBar .icon { display:none; width:40px; height:40px; }
.se_navBar .icon:hover {}
.se_navBar ul { overflow:auto; }
.se_navBar li { list-style:none; display:inline-block; }
.se_navBar li > a { display:block; }
.se_navBar li > a:hover {}
.se_navBar li > a:active {}
.se_navBar div { position:absolute; visibility:hidden; overflow:auto; }
.se_navBar div a {}
.se_navBar div a:first-child {}
.se_navBar div a:hover {}
.se_navBar li:hover div { visibility:visible; }
@media only screen and (max-width:767px) {
	.se_navBar { display:block; margin:0; padding:10px 0 0 0; position:relative; overflow:visible; }
	.se_navBar .icon { display:block; float:right; width:30px; height:30px; }
	.se_navBar ul, .se_navBar:active ul { display:none; position:absolute; overflow:visible; right:0; top:50px; z-index:100; background:#FFF; }
	.se_navBar ul:after { display:none; }
	.se_navBar ul li { display:block; clear:both; width:200px; text-align:left; padding:0; border:0; margin:0; height:auto; border-top:1px solid #CCC; }
	.se_navBar li > a { height:auto; transition:none; color:#666; }
	.se_navBar li > a.sel { color:#FFF; }
	.se_navBar li > a:hover { padding:5px; margin:0; border:0; height:auto; color:#FFF; }
	.se_navBar li > a:active { color:#FFF; }
	.se_navBar:hover ul { display:block; }
}
/* -END:Grid Site- */

/* Login conditions */
body[data-userlogin="0"] .login_required, body[data-userlogin="1"] .login_exceded { display:none !important; }

/* */
svg.icon { display:block; vertical-align:sub; fill:currentColor; height:1em; width:1em; }
svg.icon.inline { display:inline-block; }
svg.icon.inline.mr { margin-right:0.5em; }
svg.icon.inline.ml { margin-left:0.5em; }
svg.spin { animation:spin 2s infinite linear; }
svg.spin-pulse { animation:spin 1s infinite steps(8); }
svg.pulsate { animation:pulsate 1s infinite; }
@keyframes spin {
	from { transform:rotate(0deg); }
	to { transform:rotate(360deg); }
}
@keyframes pulsate {
	0% { opacity:0; transform:scale(0.1, 0.1); }
	50% { opacity:1; }
	100% { opacity:0; transform:scale(1.2, 1.2); }
}


/* - INI:GENERICOS - */
.gOFL { float:left; }
.gOFR { float:right; }
.gOFLMR { float:left; margin-right:10px; }
.gOFRML { float:right; margin-left:10px; }
.gOLink { cursor:pointer; }
.gOML { margin-left:10px; }
.gOMR { margin-right:10px; }
.gOMT { margin-top:10px; }
.gOMB { margin-bottom:10px; }
.gOCL { clear:left; }
.gOCB { clear:both; }
.gODB { display:block; overflow:auto; }
.gODN { display:none; }
.gOPic { width:160px; height:120px; display:block; background-color:#CCC; }
.gOClPos { top:0; left:0; right:0; bottom:0; margin:0; padding:0; border:0; }
img.rz { display:block; max-width:100%; }
.gOImg { display:block; max-width:100%; margin-bottom:10px; }
.gOImg.center { margin-left:auto; margin-right:auto; }
.gOImg.left { float:left; }
.gOImg.right { float:right; }
.gOFSS {}
.gOBSBB { box-sizing:border-box; }
.split_menu { display:flex; justify-content:space-between; }
.fTAFull { box-sizing:border-box; width:100%; padding:0; border:0; margin:5px; }
.fTABox { border:1px solid #CCC; padding:5px; }
.centered { display:block; margin-left:auto; margin-right:auto; }
/* LOAD BAR */
.loadBar { display:block; position:relative; height:3px; margin-bottom:2px; background-color:#DDD; }
.loadBarStat { display:block; position:absolute; height:3px; width:1%; background-color:#FA7F00; }
/* FullTitle */
.fullTitle { display:block; font-weight:bold; margin:0; padding:0; }
/* LoadMore */
.btn_loadMore { border:#BBB 1px dashed; padding:10px; clear:both; cursor:pointer; text-align:center; margin-top:10px; }
.btn_loadMore:hover { background-color:#EEE; }
/* Estilos */
/* -END:GENERICOS- */

/* - INI:BOTONES - */
.btn { cursor:pointer; display:inline-block; text-align:center; vertical-align:middle; white-space:nowrap; border:1px solid transparent; background-image:none; border-radius:4px; padding:6px 12px; }
.btn i.fa { font-weight:normal; }
.socialshare { display:inline-block; }
.socialshare > * { display:inline-block; margin-right:3px; box-sizing:border-box; padding:6px; border-radius:3px; }
@media only screen and (max-width:480px) {
	.socialshare { display:flex; position:fixed; bottom:0; left:0; width:100%; margin:0; z-index:10; opacity:0.9; }
	.socialshare > *:not(.main) { display:none; }
	.socialshare > * { font-size:1.6rem; flex:1 1 0; margin:0; border-radius:0; padding:10px; text-align:center; }
}
.snb_facebook { background-color:#3B5998; color:#FFF !important; }
.snb_facebook:hover { background-color:#5177b7; color:#FFF !important; }
.snb_twitter { background-color:#00ACEE; color:#FFF !important; }
.snb_twitter:hover { background-color:#00bdff; color:#FFF !important; }
.snb_google { background-color:#CC3732; color:#FFF !important; }
.snb_google:hover { background-color:#E74B37; color:#FFF !important; }
.snb_whatsapp { background-color:#4CEC66; color:#FFF !important; }
.snb_whatsapp:hover { background-color:#53ff6d; color:#FFF !important; }
.snb_linkedin { background-color:#4875B4; color:#FFF !important; }
.snb_linkedin:hover { background-color:#5a90de; color:#FFF !important; }
.snb_reddit { background-color:#CEE3F8; color:#000 !important; }
.snb_reddit:hover { background-color:#CEE3F8; color:#FFF !important; }
.snb_pinterest { background-color:#BD0A1D; color:#FFF !important; }
.snb_pinterest:hover { background-color:#f20b24; color:#FFF !important; }
.snb_envelope { background-color:#666; color:#FFF !important; }
.snb_envelope:hover { background-color:#888; color:#FFF !important; }
/* -END:BOTONES- */

/* - INI:VENTANAS - */
.se_dialog { display:flex; align-items:center; justify-content:center; position:fixed; height:100vh; top:0; left:0; right:0; bottom:0; z-index:10000; background-color:rgba(0, 0, 0, 0.7); padding:20px; }
.se_dialog_win { padding:15px; background-color:#FFF; border:1px solid #000; }
.win_main { display:flex; flex-direction:column; position:relative; overflow:hidden; margin:0 auto; max-height:calc(100vh - 20px); min-width:300px; max-width:calc(100vw - 20px); text-align:left; border:3px solid #000; border-radius:4px; }
.win_header { display:flex; flex-direction:row; align-items:center; align-content:space-between; padding:10px; font-weight:bold; -ms-user-select:none; -moz-user-select:none; -webkit-user-select:none; background-color:var(--color-main-01-norm-n); color:var(--color-main-01-cont-n); }
.win_header.draggable { cursor:move; }
.win_header .title { display:block; font-size:1.8rem; flex:1; }
.win_header .close { display:inline-flex; align-items:center; justify-content:center; font-size:1.6rem; height:20px; width:20px; border-radius:3px; cursor:pointer; }
.win_header .close:hover { background-color:var(--color-main-01-norm-h); }
.win_content { flex:1; display:block; padding:10px; overflow-y:auto; box-sizing:border-box; width:100%; height:auto; min-height:100px; max-height:calc(100vh - 60px); background-color:var(--color-main-00-norm-n); color:var(--color-main-00-comp-n); }
.win_main.float { position:fixed; }
.win_main.fullScreen { height:100%; width:100%; }
.win_main.fullScreen .win_content { height:calc(100% - 35px); }
@media only screen and (max-width:480px) {
	.se_dialog .bkg { padding:15px; }
}


/* Dialog */
dialog { background-color:#FFF; border:3px solid #000; padding:20px; }
dialog.fullScreen { width:calc(100vw - 100px); height:calc(100vh - 100px); z-index:1; position:fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); overflow-y:auto; }
dialog:not([open]) { display:none; }

/* - END:VENTANAS - */


/* Tabla 01 - Bordes */
.se_table { display:table; border-collapse:collapse; box-sizing:border-box; }
.se_table .thead { display:table-header-group; }
.se_table .tbody { display:table-row-group; }
.se_table .tfoot { display:table-footer-group; }
.se_table .filters input { width:100%; box-sizing:border-box; }

.se_table .thead > *, .se_table .tbody > *, .se_table .tfoot > * { display:table-row; }
.se_table .thead > * > *, .se_table .tbody > * > *, .se_table .tfoot > * > * { display:table-cell; }
.se_table thead tr th, .se_table .thead > * > * { padding:5px; text-align:center; font-weight:bold; }
.se_table thead tr.filters th, .se_table .thead > .filters > * { padding:2px; }
.se_table thead tr.titles th, .se_table .thead > .titles > * { background-color:#E2E2E2; color:#222; }
.se_table thead tr.titles th.sortable, .se_table .thead > .titles > *.sortable { cursor:pointer; }
.se_table thead .sortable[data-sort="asc"]:after, .se_table .thead .sortable[data-sort="asc"]:after { content:'▲'; }
.se_table thead .sortable[data-sort="desc"]:after, .se_table .thead .sortable[data-sort="desc"]:after { content:'▼'; }
.se_table tbody td, .se_table .tbody > * > * { background-color:#FFFFFF; padding:3px; }
/* Modifiers */
.se_table.border, .se_table.border th, .se_table.border td, .se_table.border .thead > * > *, .se_table.border .tbody > * > *, .se_table.border .tfoot > * > * { border:1px solid #DDD; vertical-align:middle; }
.se_table.alternate tbody tr:nth-child(2n) td, .se_table.alternate .tbody > *:nth-child(2n) > * { background-color:#F6F6F6; }
.se_table.wide { width:100%; }
.se_table.fixed { table-layout:fixed; }
.se_table.selectable {}
.se_table.selectable tbody tr, .se_table.selectable .tbody > * { cursor:pointer; }
.se_table.selectable tbody tr:hover td, .se_table.selectable .tbody > *:hover > * { background-color:#6cff66; }
.se_table.selectable tbody tr.sel td, .se_table.selectable .tbody > *.sel > * { background-color:#ccc; }
.se_table.selectable tbody tr.mod td, .se_table.selectable .tbody > *.mod > * { background-color:#FBFF76; }

.se_table .actions { display:flex; flex-wrap: wrap; }
.se_table .actions > * { margin:2px; }

.se_table input { display:block; width:100%; }

.se_table td.tNumber { text-align:right; }

.se_table tfoot td, .se_table .tfoot > * > * { padding:3px; }
.se_table tfoot td.tRight, .se_table .tfoot > * > *.tRight { text-align:right; }
/* */

/* - END:TABLAS - */

/* - INI:FORMULARIOS - */
.se_form .title { display:block; font-weight:bold; margin-bottom:5px; }
.se_form .desc { display:block; color:#666; margin-bottom:5px; font-size:0.9em; }
.se_form .desc:empty { display:none; }
.se_form .required .title:after { content:"*"; color:#F00; margin:0 0 0 5px; }
.se_form.double .cont { width:30%; float:left; margin-right:10px;}

.se_form .separator, .se_form fieldset { display:block; margin:0 0 10px 0; }
.se_form .separator_simple { margin-bottom:10px; }
.se_form label, .se_form .header { display:block; margin:0 0 10px 0; text-align:left; }
.se_form label.checkbox { overflow:auto; cursor:pointer; padding:3px; border-radius:3px; }
.se_form .radioList label, .se_form label.radio { display:block; overflow:auto; padding:5px; border-radius:3px; cursor:pointer; margin-bottom:0; }
.se_form .radioList label:hover, .se_form label.radio:hover, .se_form label.checkbox:hover { background-color:#eee; }
.se_form .radioList label input, .se_form label.radio input, .se_form label.checkbox input { float:left; margin-right:10px; }
.se_form .radioList label .cont, .se_form label.radio .cont, .se_form label.checkbox .cont { display:block; overflow:auto; }
.se_form .radioList.hidden label { padding:0; }
.se_form .radioList.hidden input { display:none; }
.se_form .radioList.hidden label .content { padding:10px 20px; }
.se_form .radioList.hidden input:checked + .content { background-color:#DDD; }
.se_form .radioList.short { display:flex; justify-content:space-between; }
.se_form input, .se_form textarea, .se_form select { border-radius:3px; padding:5px; border:1px solid #CCC; }
.se_form button { border-radius:3px; padding:5px; }
.se_form input, .se_form textarea, .se_form select { box-sizing:border-box; width:100%; text-align:left; }
.se_form input:required:valid, .se_form textarea:required:valid { background-color:#EEFFEE; }
.se_form input:required:not(:empty):invalid, .se_form textarea:required:not(:empty):invalid { background-color:#FFDFDE; box-shadow:none; }
.se_form input:invalid:focus, .se_form textarea:invalid:focus, .se_form input:valid:focus, .se_form textarea:valid:focus { background:#FFF; }
.se_form input[type="color"] { width:22px; height:22px; padding:0; margin:0; border:0; }
.se_form input[type="range"] { margin:0; border:0; }
.se_form [type="submit"], .se_form [type="button"] { cursor:pointer; padding:8px 14px; border-bottom:1px solid rgba(0, 0, 0, 0.25); border-top:1px solid rgba(255, 255, 255, 0.25); background-color:#0066cc; color:#FFF; font-weight:bold; }
.se_form [type="submit"]:hover, .se_form [type="button"]:hover { background-color:#007AE8; }
.se_form [type="submit"]:active, .se_form [type="button"]:active { background-color:#0053A5; border-top:1px solid rgba(0, 0, 0, 0.25); border-bottom:1px solid rgba(255, 255, 255, 0.25); }
.se_form [type="submit"]:disabled { color:#CCC; background-color:#284E9C !important; }
.se_form [type="submit"] { margin-bottom:10px; }
.se_form [type="submit"] .fa { margin-right:5px; }
.se_form [type="submit"] .fa.pulsate { animation:pulsate 1s ease-out 0s normal none infinite running; }
.se_form .multiOps { display:block; overflow:auto; }
.se_form .multiOps input[type="checkbox"], .se_form .multiOps input[type="radio"] { clear:left; float:left; margin:0 5px 0 0; }
.se_form .multiOps label { float:left; font-weight:normal; }
.se_form .multiText { display:block; overflow:auto; }
.se_form .multiText label { display:inline-block; clear:left; float:left; font-weight:normal; width:130px; height:35px; margin:0 5px 0 0; }
.se_form .multiText input, .se_form .multiText select { float:left; margin:0 5px 0 0; width:200px; }
.se_form input[type="checkbox"], .se_form input[type="radio"], .se_form input[type="button"], .se_form input[type="submit"] { width:auto; }
.se_form .status { display:block; padding:5px 10px; margin:5px 0 0 0; color:#000; }
.se_form input:valid + .status { background:#EEFFEE; }
.se_form input:invalid + .status { background:#FFEEEE; }

.se_form .status:empty { display:none; }
.se_form input[type="submit"]:disabled, .se_form input[type="button"]:disabled, .se_form input[type="submit"]:disabled:hover, .se_form input[type="button"]:disabled:hover { cursor:default; background:#CCC; color:#EEE; }

.modInput { display:flex; border-radius:3px; border:1px solid #CCC; }
.modInput > *:not(input) { padding:5px; background-color:#EEE; }
.modInput > *:first-child { border:0; border-right:1px solid #CCC; border-bottom-left-radius:3px; border-top-left-radius:3px; border-bottom-right-radius:0; border-top-right-radius:0; }
.modInput > *:last-child { border:0; border-left:1px solid #CCC; border-bottom-right-radius:3px; border-top-right-radius:3px; border-bottom-left-radius:0; border-top-left-radius:0; }
.modInput > input { flex:1; border:0 !important; padding:3px; }
.modInput > button { background-color:#E5E5E5; color:#333; margin:0 !important; }
.modInput > button.dyn { color:#FFF; }
.modInput > button.dyn > i { margin-right:10px; }
.modInput > button.dyn.success { background-color:#00DB31 }
.modInput > button.dyn.fail { background-color:#BE0000 }
.modInput > button.dyn.warning { background-color:#F9F100; color:#555; }
.modInput > button.dyn.notif { background-color:#2937B5; }
/* tableLessForm */
.tabLessForm input, .tabLessForm textarea, .tabLessForm select, .tabLessForm .inputgroup { box-sizing:border-box; width:100%; padding:6px; border:1px solid #999; border-radius:2px; }
.tabLessForm input[type="checkbox"], .tabLessForm input[type="radio"], .tabLessForm input[type="button"], .tabLessForm input[type="submit"] { width:auto; }
.tabLessForm .elem { display:block; margin-bottom:10px; }
.tabLessForm .elem.radio label { display:inline-block; padding:5px; border-radius:3px; cursor:pointer; }
.tabLessForm .elem.radio label:hover { background-color:#EEE; }
.tabLessForm table.grid td { padding:3px; }
.tabLessForm input[type="button"], .tabLessForm [type="submit"] { padding:5px; background:#eee; border:1px solid #666; border-radius:3px; color:#000; cursor:pointer; }
.tabLessForm input[type="button"]:hover, .tabLessForm [type="submit"]:hover { background:#ddd; }
.tabLessForm .inputgroup { display:flex; align-items:center; }
.tabLessForm .inputgroup .first { display:table-cell; height:100%; vertical-align:middle; text-align:center; }
.tabLessForm .inputgroup .last { float:right; }
.tabLessForm .inputgroup input { flex:1; padding:0 6px; width:auto; display:block; border:0; }
/* - END:FORMULARIOS - */

.se_nav { overflow:auto; }
.se_nav li { list-style:none; display:block; float:left; }
.se_nav li a { display:block; }
.se_nav .subMenu { position:absolute; visibility:hidden; }
.se_nav .subMenu.right { right:0; }
.se_nav li:hover > .subMenu { visibility:visible; }
.se_nav.vertical li { float:none; }
.se_column_3 { column-count:3; column-gap:20px; }
.se_column_4 { column-count:4; column-gap:20px; }
/* */
@media only screen and (max-width:720px) {
	.se_column_4 { column-count:3; }
}
@media only screen and (max-width:480px) {
	.se_column_3 { column-count:1; }
	.se_column_4 { column-count:2; }
}
/* */
.videoWrapper { position:relative; padding-bottom:56.25%; height:0; }
.videoWrapper iframe, .videoWrapper object, .videoWrapper video, .videoWrapper embed { position:absolute; top:0; left:0; width:100%; height:100%; border:0; padding:0; margin:0; }

/* - INI:MENUS SUPERIORES - */
.se_menu_top { display:flex; margin-bottom:10px; justify-content:space-between; }
.se_menu_top a { display:inline-block; }
.se_menu_top a:hover { text-decoration:underline; }
.se_menu_top a:not([href]) { text-decoration:none; }
.se_menu_top .breadcrumbs a + a { margin-left:10px; }
.se_menu_top .breadcrumbs a + a:before { margin-right:10px; content:'›'; color:#000; }
.se_menu_top .breadcrumbs a:hover:before { text-decoration:none; }
.se_menu_top .normal { display:flex; }
.se_menu_top .normal a + a { border-left:1px solid #ccc; padding-left:6px; margin-left:6px; }

/* -- END:MENUS SUPERIORES */

/* - INI:Redes sociales - */
.media { display:flex; align-items:flex-start; }
.media .icon { margin-right:20px; }
.media .content { flex:1; }
/* -- END:Redes sociales */


/* - INI:Slider - */
.se_slider { display:block; position:relative; overflow:visible; margin:0 0 10px 0; width:100%; padding-bottom:25.51%; height:0; }
.se_slider .container { position:absolute; overflow:auto; width:100%; height:100%; }
.se_slider .container > * { display:block; position:absolute; overflow:hidden; left:0; top:0; width:100%; height:100%; z-index:0; padding:0; transition:opacity 500ms; }
.se_slider .container > * img { display:block; width:100%; height:auto; }
.se_slider .controls { display:none; z-index:3; position:absolute; top:215px; left:10px; border:#000 1px solid; background-color:rgba(255, 255, 255, 0.7); border-radius:5px; padding:2px; }

.se_slider .play_btn, .se_slider .prev_btn, .se_slider .next_btn { padding:0 3px; color:#000; }
.se_slider .play_btn { float:left; font-weight:bolder; border-right:1px #000 solid; margin:0 5px 0 0; padding-right:5px; }
.se_slider .prev_btn { float:left; }
.se_slider .next_btn { float:right; }
.se_slider .num_nav { text-align:center; float:left; padding:0 3px; margin:2px 0; }
.se_slider .num_nav ul li { display:inline; margin:0 2px; }
.se_slider .num_nav a { font-weight:bold; }
.se_slider .num_nav a.active, .se_slider .num_nav a:hover { border-radius:3px; background-color:rgba(0, 0, 0, 0.3); text-decoration:underline; }
.se_slider .btn_over { color:#fff; border:1px solid #fff; }
/* -- END:Slider */


/*
ajaxSearch
---------------------------------------->*/
.se_filter { display:block; min-height:300px; background-color:#f5f5f5; padding:10px; }
.se_filter .current:empty { display:none; }
.se_filter .current { padding-bottom:10px; border-bottom:1px solid #bbb; margin-bottom:10px; }
.se_filter .cFilter {}
.se_filter .available {}
.se_filter .filElem { display:block; }
.se_filter .filElem + .filElem { margin-top:10px; }
.se_filter .filElem .title { font-weight:bold; display:block; margin-bottom:3px; }
.se_filter .filElem ul {}
.se_filter .filElem li { list-style:none; display:block; cursor:pointer; padding:2px 3px; margin-bottom:2px; }
.se_filter .filElem li:hover { background-color:#fff; color:#666; }
.se_filter .current li { list-style:none; display:block; cursor:pointer; padding:4px 6px; border-radius:3px; margin-bottom:2px; background-color:#666; color:#eee; }
.se_filter .current li:after { content:'X'; float:right; }
.se_filter .current li:hover { background-color:#fff; color:#666; }
.se_filter input { border-radius:2px; padding:3px; }
.filterContent {}

/* Tabs */
.se_tab { display:flex; }
.se_tab > [role="tablist"] { display:flex; }
.se_tab > [role="tablist"] > div { cursor:pointer; }
.se_tab > [se-elem="panelGroup"] { padding:5px; overflow:auto; flex:1; }
.se_tab > [se-elem="panelGroup"] > div[aria-hidden="true"] { display:none; }
.se_tab.horizontal { flex-direction:row; }
.se_tab.horizontal > [role="tablist"] { flex-direction:column; }
.se_tab.vertical { flex-direction:column; }
.se_tab.vertical > div[role="tablist"] { flex-direction:row; }

/* Notifications */
div.sticky-queue { position:fixed; width:300px; z-index:1000; }
div.sticky { display:block; border:1px solid #CCC; border-radius:5px; background-color:#F5F5F5; color:#555; box-shadow:2px 2px 2px #BBB; margin-bottom:10px; padding:10px; position:relative; }
div.sticky-note {}

.sticky-queue .notif { display:flex; align-items:flex-start; overflow:auto; clear:both; margin:0 0 20px 0; }
.sticky-queue .notif .icon { height:50px; width:50px; text-align:center; margin-right:15px; }
.sticky-queue .notif .icon img { display:block; max-width:100%; border-radius:3px; }
.sticky-queue .notif .text { -ms-flex:1; flex:1; }
.sticky-queue .notif .title { display:block; font-weight:bold; }
.sticky-queue .notif .desc { display:block; }

.sticky .sticky-close { position:absolute; top:10px; right:10px; height:14px; width:14px; cursor:pointer; background-color:#FFF; }
.sticky-queue.top-right { right:20px; }
.sticky-queue.top-left { left:20px; }
.sticky-queue.top-right, .top-left { top:-2px; border-radius:6px; }
.sticky-queue.bottom-right { right:20px; }
.sticky-queue.bottom-left { left:20px; }
.sticky-queue.bottom-right, .bottom-left { bottom:-2px; border-radius:6px; }
.sticky-queue.border-top-right, .border-top-left { border-top:1px solid #999; }
.sticky-queue.border-bottom-right, .border-bottom-left { border-bottom:1px solid #999; }


/* Grid */
.se_grid { display:grid; grid-gap:20px; grid-auto-rows:1fr; grid-template-columns:1fr; }
.se_grid > * { margin:0 !important; }
.se_grid.gr_el_2 { grid-template-columns:1fr 1fr; }
.se_grid.gr_el_3 { grid-template-columns:1fr 1fr 1fr; }
.se_grid.gr_el_4 { grid-template-columns:1fr 1fr 1fr 1fr; }

/* */
@media only screen and (max-width:767px) {
	.se_grid.gr_el_2, .se_grid.gr_el_3, .se_grid.gr_el_4 { display:block; }
	.se_grid.gr_el_2 > * + *, .se_grid.gr_el_3 > * + *, .se_grid.gr_el_4 > * + * { margin-top:20px !important; }
}
@media only screen and (min-width:768px) and (max-width:1199px) {
	.se_grid.gr_el_3 { grid-template-columns:1fr 1fr; }
	.se_grid.gr_el_4 { grid-template-columns:1fr 1fr 1fr; }
}


/*
ADMINISTRACIÓN
Menu
---------------------------------------->*/
.seWW_container { position:relative; font-weight:normal; }
.seWW_container .seWW_form_pre { display:none; border:1px solid #999; padding:10px; margin:0; background-color:#FFF; color:#000; font-size:14px !important; box-sizing:border-box; width:100%; word-wrap:break-word; white-space:pre-wrap; min-height:600px; height:100%; font-family:monospace, monospace; }
.seWW_container img { min-width:40px; min-height:40px; position:relative; display:block; }
.seWW_container img:before { content: "We're sorry, the image below is broken :("; display: block; margin-bottom: 10px; }
.seWW_container img:after { content:"(url: " attr(src) ")"; display:block; font-size:12px; }
.seWW_form { display:none; position:fixed; overflow:auto; z-index:500; top:0; left:0; opacity:0.8; min-height:100px; min-width:400px; background:#DDD; border:1px solid #AAA; font-size:14px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; transition:top 0.2s linear, left 0.2s linear; line-height:100%; }
.seWW_form:hover { opacity:1; }
.seWW_form div[role="tablist"] { height:24px; padding:0 5px; cursor:move; }
.seWW_form div[role="tab"] { float:left; height:26px; padding:4px 8px; font-weight:bold; background:#EEE; border:#AAA 1px solid; color:#444; cursor:pointer; }
.seWW_form div[role="tab"][data-type="2"]:not(.active) { display:none; }
.seWW_form div[role="tab"][aria-selected="true"] { display:block; background:#F5F5F5; border:#AAA 1px solid; border-bottom:0; color:#333; }
.seWW_panels { border-top:1px solid #AAA; margin:1px 0 0 0; background-color:#F5F5F5; min-height:85px; }
.seWW_panels div[role="tabpanel"] { display:flex; flex-direction:row; overflow:auto; padding:5px; }
.seWW_panels div[role="tabpanel"][aria-hidden="true"] { display:none; }
.seWW_panels .subMenu { padding:5px; height:80px; font-size:1.3rem; }
.subMenu + .subMenu { border-left:1px solid #DDD; }
.seWW_panels .subMenu .actions { display:block; overflow:auto; height:60px; }
.seWW_panels .subMenu .subElTitle { display:block; text-align:center; height:20px; font-size:1.4rem; font-weight:normal; margin:0; }
.seWW_panels .subMenu .but { display:inline-block; float:left; margin:0 2px 2px 0; border-radius:3px; text-align:center; padding:4px; cursor:pointer; font-size:13px; }
.seWW_panels .subMenu .but:hover { background-color:#C2D5F2; }
.seWW_panels .subMenu .sep { clear:left; }
.seWW_panels .subMenu .break { clear:left; }
/* */
.seWW_mOps { display:block; float:right; margin:3px 0 0 0; }
.seWW_menuReturn { display:none; width:18px; height:18px; background:#BBB;color:#333; border-radius:3px; cursor:pointer; align-items:center; justify-content:center; }
.seWW_panels.form { padding:8px; }
.seWW_panels.form .title { display:block; font-weight:bold; }
.seWW_panels.form label { display:inline-block; min-width:55px; margin-right:5px; }
.seWW_panels.form input[type=button] { display:inline-block; border:1px solid #AAA; background-color:#DDD; border-radius:3px; padding:0 3px; cursor:pointer; }
.seWW_panels.form input[type=button]:hover { background-color:#EEE; }
/*
Formulario
---------------------------------------->*/
.seWW_form { display:block; }
.seWW_form form { display:table; width:100%; font-size:12px; }
.seWW_form label { display:table-row; width:100%; min-width:300px; margin-bottom:10px; }
.seWW_form label .el_title { display:table-cell; padding:5px 10px 5px 0; }
.seWW_form input, .seWW_form textarea { display:table-cell; box-sizing:border-box; width:100%; text-align:left; border-radius:2px; padding:3px; border:1px solid #666; font-size:inherit; }
.seWW_form input[type="submit"], .seWW_form input[type="button"] { cursor:pointer; }
.seWW_form input[type="submit"]:hover, .seWW_form input[type="button"]:hover { cursor:pointer; background:#DDD; }
.seWW_form input[type="checkbox"], .seWW_form input[type="radio"], .seWW_form input[type="button"], .seWW_form input[type="submit"] { width:auto; }
.seWW_form input[type="submit"]:disabled, .seWW_form input[type="button"]:disabled, .seWW_form input[type="submit"]:disabled:hover, .seWW_form input[type="button"]:disabled:hover { cursor:default; background:#CCC; color:#EEE; }
.seWW_form_simple { display:flex; height:30px; background:#F5F5F5; border:1px solid #AAA; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; }
.seWW_form_simple .but { display:inline-flex; align-items:center; padding:0 10px; cursor:pointer; }
.seWW_form_simple .but + .but { border-left:1px solid #CCC; }
.seWW_form_simple .but:hover { background-color:#C2D5F2; }
.seWW_form .c_input { display:flex; border-radius:2px; border:1px solid #666; }
.seWW_form .c_input input { flex:1; border:0; padding :2px; }
.seWW_form .c_input *:not(input) { padding:3px; background-color:#EEE; font-weight:bold; }
/* Banners */
.se_banner { max-width:100%; }
.se_banner img, .se_banner video { display:block; max-width:100%; margin:0 auto; }
/*
Editor
---------------------------------------->*/
.html5Wysiwyg { box-shadow:inset 0 0 2px #666; position:relative; min-height:30px; }
.html5Wysiwyg:focus { box-shadow:inset 0 0 2px #0CF; }
.html5Wysiwyg:focus style { display:block; font-family:"courier new", Courier, monospace; white-space:pre; margin:0 0 10px 0; padding:10px; border:1px solid #FFB6FF; min-height:14px; background-color:#FFE6FF; }
.html5Wysiwyg:focus style:after { content:'style'; position:absolute; right:0; margin-top:25px; color:#FFB6FF; padding:2px; border:1px solid #FFB6FF; z-index:100; }
.html5Wysiwyg:focus script { display:block; font-family:"courier new", Courier, monospace; white-space:pre; margin:0 0 10px 0; padding:10px; border:1px solid #0F0; background:#C4FFC4; min-height:14px; }
.html5Wysiwyg:focus script:after { content:'script'; position:absolute; right:0; margin-top:25px; color:#0F0; padding:2px; border:1px solid #0F0; z-index:100; }
.html5Wysiwyg:focus .gr_grid { min-height:50px; outline:1px solid #CAFFCA; }
.html5Wysiwyg:focus .wpContent { min-height:30px; overflow:auto; outline:1px solid #91C8FF; }

/* Barra herramientas edición página */
.sep_editObjBar { margin-bottom:10px; padding:10px; overflow:auto; border:1px solid #CCC; background-color:#FAFAFA; color:#444; }
.sep_editObjBar .title { margin-bottom:5px; font-weight:bold; }
.sep_editObjBar .menu { display:flex; justify-content:space-between; }
.sep_editObjBar .eobut { padding:2px 3px; border-radius:3px; color:#333; background-color:#E5E5E5; border:1px solid #BBB; font-size:1.4rem; }
.sep_editObjBar .eobut + .eobut { margin-left:10px; }
.sep_editObjBar .eobut:hover { background-color:#6E6E6E; color:#EEE; }
.codeEditor { display:block; width:100%; box-sizing:border-box; white-space:pre-wrap; font-family:Consolas, monospace; min-height:300px; padding:10px; }
/* */
.se_ajaxSimple {}
.se_ajaxSimple .menu { display:block; overflow:auto; margin-bottom:10px; }
.se_ajaxSimple .menu > div { float:right; }
.se_ajaxSimple .menu button + button { margin-left:10px; }
.se_ajaxSimple .advFilter div.cFilterValue { display:flex; background-color:#CCC; color:#000; }
.se_ajaxSimple .advFilter div.cFilterValue span { flex:1; padding:5px; }
.se_ajaxSimple .advFilter div.cFilterValue button { background-color:#AAA; color:#FFF; }
.se_ajaxSimple .advFilter div.cFilterValue button:hover { background-color:#999; }
.se_ajaxSimple .advFilter div[se-elem="optionList"] { margin-top:10px;	 }
.se_ajaxSimple .advFilter div[se-elem="optionList"] div { background-color:#EEE; padding:5px 10px; cursor:pointer; }
.se_ajaxSimple .advFilter div[se-elem="optionList"] div:hover { background-color:#DDD; }
.se_ajaxSimple .advFilter label[data-filtered="0"] div.cFilterValue { display:none; }
.se_ajaxSimple .advFilter label[data-filtered="1"] input,
.se_ajaxSimple .advFilter label[data-filtered="1"] textarea,
.se_ajaxSimple .advFilter label[data-filtered="1"] select,
.se_ajaxSimple .advFilter label[data-filtered="1"] div[se-elem="optionList"] { display:none; }
.se_ajaxSimple .tableContainer { overflow-y:auto; }
/* - INI:TABLAS - */
.se_ajaxSimple .topMenu {}
.se_ajaxSimple .topNavigation { display:flex; justify-content:space-between; margin-bottom:8px; }
.se_ajaxSimple .topNavigation .tabBtn { color:#006; border-radius:4px;  font-size:1.8em; padding:0 3px; vertical-align:bottom; }
.se_ajaxSimple .topNavigation .tabBtn:hover { background-color:#F5F5F5; }
.se_ajaxSimple .topNavigation input { width:40px; text-align:right; }

/* Calendar object */
.se_calendar { position:absolute; border:1px solid #CCC; background-color:#FFF; min-width:150px; z-index:10000; }
.se_calendar .cBut { padding:5px; background-color:#888; color:#FFF; }
.se_calendar .cBut:hover { background-color:#777; }
.se_calendar .full { flex:1; }
.se_calendar .main_control { display:flex; }
.se_calendar .main_control .date { padding:6px; text-align:center; background-color:#CCC; color:#000; font-weight:bold; }
.se_calendar .month_nav { display:flex; }
.se_calendar .calendar { width:100%; border-collapse:collapse; margin-bottom:10px; }
.se_calendar .calendar th { text-align:center; padding:5px; }
.se_calendar .calendar td { text-align:right; padding:5px; cursor:pointer; }
.se_calendar .calendar.notbefore .before {}
.se_calendar .calendar .day { user-select: none; }
.se_calendar .calendar .day.today { background-color:#B0D7F9; }
.se_calendar .calendar .day.past { background-color:#F5F5F5; color:#111; }
.se_calendar .calendar .day.adj-month { color:#AAA; background-color:#F0F0F0; }
.se_calendar .calendar .day.past.adj-month { color:#999; background-color:#EEE; }
.se_calendar .calendar td:nth-child(1), .se_calendar .calendar td:nth-child(7) { color:#555; }
.se_calendar .calendar .day.selected { background-color:#A5FFB0; }
.se_calendar .calendar .day.selected:hover { background-color:#42FF65; }
.se_calendar .calendar .day:hover { background-color:#BBB !important; }
.se_calendar .time { width:100%; margin-bottom:10px; }
.se_calendar .time > div { display:table; margin:0 auto; }
.se_calendar .time input { width:40px; }
.se_calendar .last_menu { display:flex; justify-content:center; margin-bottom:10px; }
.se_calendar .last_menu button { padding:5px; border-radius:3px; background-color:#EEE; }
.textAreaCounter { text-align:right; }
/* fakeCheck*/
.fakeCheck { display:inline-block; height:1.5em; width:1.5em; position:relative; background:#FFF; border:1px solid #333; border-radius:2px; }
.fakeCheck::after { content:"na"; display:flex; align-items:center; justify-content:center; align-content:center; font-weight:bold; height:100%; width:100%; }
.fakeCheck.s0::after, .fakeCheck[data-value="0"]::after { content:"✗"; }
.fakeCheck.s1:after, .fakeCheck[data-value="1"]::after { content:"✓"; }
/* */
.container_simple { white-space:pre-wrap; }
/* Editable Object */

.se_editableObject { position:fixed; display:flex; top:100px; left:-300px; z-index:10000; }
.se_editableObject.show { left:0; }
.se_editableObject .tab { padding:5px; background-color:#009; color:#FFF; }
.se_editableObject .tab button { color:#FFF; }
.se_editableObject .menu { border:3px solid #009; padding:10px; color:#222; background-color:#FFF; width:300px; min-height:100px; }
.se_editableObject .menuBtn { display:block; width:100%; text-align:left; border-radius:3px; margin-bottom:5px; padding:5px 10px; font-weight:bold; background-color:#00C; color:#FFF; }


/* Textos */
/*
Container
---------------------------------------->*/
.adv_text { text-align:justify; line-height:1.8em; }
.adv_text img { display:block; clear:both; float:none; width:100%; height:auto; }
.adv_text img.gOIB { margin:0 0 10px 0; }
.adv_text img.gOIC { margin:0 auto 10px auto; }
.adv_text img.gOIL { margin:0 10px 10px 0; float:left; }
.adv_text img.gOIR { margin:0 0 10px 10px; float:right; }
.adv_text p { margin-bottom:1em; margin-top:1em; }
.adv_text h1, .adv_text h2, .adv_text h3, .adv_text h4, .adv_text h5, .adv_text h6 { margin-bottom:1em; margin-top:1.5em; line-height:1.3em; }
.adv_text h1 { font-size:1.8em; font-weight:bold; }
.adv_text h2 { font-size:1.6em; font-weight:bold; }
.adv_text h3 { font-size:1.5em; font-style:italic; }
.adv_text h4 { font-size:1.4em; font-weight:bold; text-decoration:underline; }
.adv_text h5 { font-size:1.3em; font-style:italic; }
.adv_text h6 { font-size:1.2em; text-decoration:underline; font-weight:normal; }
.adv_text figure { margin:1em 0; }
.adv_text .videoWrapper { margin:10px 0; }
.adv_text figcaption { display:block; margin:0 10px; }
.adv_text figcaption p { margin:0; }
.adv_text figcaption p.credit { text-align:right; font-size:0.9em; font-style:italic; }
.adv_text picture { display:block; width:100%; }
.adv_text figure.quote { background-color:#F5F5F5; border-radius:5px; padding:10px; font-style:italic; color:#000; }
.adv_text figure blockquote { border-bottom:1px solid #666; margin:0 0 10px 0; padding:0 0 10px 0; }
.adv_text figure.quote figcaption { text-align:left; font-weight:bold; }
.adv_text figure.quote figcaption:before { content:'-'; }
.adv_text figure table { display:table; border-collapse:collapse; }
.adv_text figure table thead tr th { padding:5px; text-align:center; font-weight:bold; }
.adv_text figure table td { padding:5px; }
.adv_text figure table.border, .adv_text figure table.border th, .adv_text figure table.border td, .adv_text figure table.border .thead > * > *, .adv_text figure table.border .tbody > * > *, .adv_text figure table.border .tfoot > * > * { border:1px solid #DDD; vertical-align:middle; }
.adv_text figure table.alternate tbody tr:nth-child(2n) td, .adv_text figure table.alternate .tbody > *:nth-child(2n) > * { background-color:#F6F6F6; }
.adv_text figure table.wide { width:100%; }
.adv_text figure table.fixed { table-layout:fixed; }
.adv_text .notification .content { white-space:normal; }
.adv_text .notification .content p { margin:5px; }

/* - INI:NOTIFICACIONES - */
.notification { display:flex; overflow:auto; background:#DFDFDF; color:#444; padding:10px; margin:0 0 10px 0; border:1px #666 solid; border-radius:3px; }
.notification.light { background-color:#F0F0F0; border-color:#444; }
.notification.success { background-color:#a6ffa5; border-color:#0f0; }
.notification.info { background-color:#b7cfff; border-color:#335dff; }
.notification.warning { border-color:#F8FF00; background-color:#FBFF6E; }
.notification.alert { background-color:#ff7575; border-color:#f00; color:#222; }
.alert:empty, .success:empty, .warning:empty, .notification:empty, .description:empty { display:none; }
/* Iconos */
.notification > .icon { display:inline-flex; align-items:center; justify-content:center; border-radius:50%; height:40px; width:40px; padding:5px; background-color:#333; color:#fff; margin-right:10px; }
.notification > .icon > svg { width:24px; height:24px; fill:currentColor; }
.notification.success .icon { background-color:#019f0e; }
.notification.info .icon { background-color:#2335c1; }
.notification.warning .icon { background-color:#ffbe00; }
.notification.alert .icon { background-color:#c40003; }
/* Textos */
.notification .text { -ms-flex:1; flex:1; }
.notification .title { display:block; font-weight:bold; margin-bottom:5px; }
.notification .content { white-space:pre-wrap; }
.notification .content.html { white-space:normal; }
.notification .actions { display:flex; margin-top:5px; }
.notification .actions button { padding:5px 10px; border-radius:2px; }

.error { display:block; border:1px solid #900; padding:20px; margin:10px 0; }

.note { display:block; border:1px solid #111; }
.note > .title { display:block; padding:10px; border-bottom:1px solid #111; background-color:#000; color:#FFF; }
.note > .content { display:block; padding:10px; }